<p>
  A silly little collection of toys and jokes made specifically for the web.
</p>


<p>
  <a class="button" href="/subscribe/">Subscribe</a>
</p>

{% for post in collections.toybox reversed %}
<a class="card" href="{{ post.url }}">
  <span class="heading">{{ post.data.title | escape }}</span>
  <span class="description">{{ post.data.description | markdownify }}</span>
</a>
{% endfor %}
