---
title: "Art"
layout: "layout-page"
description: >-
  A gallery for my art.
---

<style>
  img {
    /* UGH NO */
    width: 100%;
  }
</style>

<div class="grid2">
  {% for image in art.images reversed %}
  <figure>
    <a href="{{ image.path }}">
      <img src="{{ image.path }}" alt="" />
    </a>
    <figcaption>
      <strong>{{ image.title }}</strong>
      <br />
      <small>{% render "partials/date" date: image.date %}</small>
    </figcaption>
  </figure>
  {% endfor %}
</div>
