---
layout: "layout-base"
permalink: "/art/"
title: "Art gallery"
css:
  - "art"
---

<h1 class="sage-bright">{{ title }}</h1>

<div class="art-container">
  {% for img in art | reverse %}
  <figure class="art-container--frame sage-well">
    <a
      class="flex sage-link"
      tabindex="-1"
      href="/art/{{ img.year }}/{{ img.slug }}/"
    >
      <img
        src="{{ img.url }}"
        alt=""
        width="{{ img.width }}"
        height="{{ img.height }}"
        style="background-color: {{ img.color }};"
        loading="lazy"
      />
    </a>
    <figcaption>
      <a class="sage-link" href="/art/{{ img.year }}/{{ img.slug }}/">{{
        img.name
      }}</a>
      <time
        datetime="{{ img.date | formatDate('yyyy-mm-dd') }}"
        >{{ img.date | formatDate('yyyy mmmm d') }}</time
      >
    </figcaption>
  </figure>
  {% endfor %}
</div>
