---
title: "Art"
layout: "layout-page"
---

<style>
  img {
    /* UGH NO */
    width: 100%;
  }
</style>

<p>I've been drawing pixel art ever since I learned you could zoom in with Microsoft Paint. I don't practice much, but I love working with pixels.</p>

<hr />

<div class="photo-grid">
  {% for image in art.images reversed %}
  <figure>
    <a href="{{ image.path }}">
      <img src="{{ image.path }}" alt="" />
    </a>
    <figcaption>
      <a href="{{ image.path }}">
        <strong>{{ image.title }}</strong>
      </a>
      <br />
      {% render "partials/date" date: image.date %}
    </figcaption>
  </figure>
  {% endfor %}
</div>
