---
layout: "layout-base"
permalink: "/art/"
title: "Art gallery"
css:
  - "art"
---

<h1>{{ title }}</h1>

<div class="art-container">
  {% for img in art | reverse %}
  <figure class="art-container--frame sage-well">
    <a
      class="flex sage-link"
      tabindex="-1"
      href="/art/{{ img.year }}/{{ img.slug }}/"
    >
      <img
        src="{{ img.url }}"
        alt="{{ img.name }}"
        width="{{ img.width }}"
        height="{{ img.height }}"
        style="background-color: {{ img.color }};"
        loading="{% if loop.index > 4 %}lazy{% else %}eager{% endif %}"
      />
    </a>
    <figcaption>
      <a class="sage-link" href="/art/{{ img.year }}/{{ img.slug }}/">{{
        img.name
      }}</a>
    </figcaption>
    <time
      datetime="{{ img.date | formatDate('yyyy-mm-dd') }}"
      >{{ img.date | formatDate('yyyy mmmm d') }}</time
    >
  </figure>
  {% endfor %}
</div>
