<p>I've been drawing pixel art ever since I learned you could zoom in with Microsoft Paint. I don't practice much, but I love working with pixels.</p>

<div class="photo-grid">
  {% for image in art.images reversed %}
  <figure>
    <img
      src="{{ image.path }}"
      loading="lazy"
      alt=""
      width="600"
      height="600"
    />
    <figcaption>
      <a href="{{ image.path }}">
        <strong>{{ image.title }}</strong>
      </a>
      <br />
      {% render "partials/date" date: image.date %}
    </figcaption>
  </figure>
  {% endfor %}
</div>
