---
pagination:
  data: "art"
  size: 1
  alias: "image"
  filter:
    - "all"
    - "post"
    - "posts"
    - "tagList"
  addAllPagesToCollections: true
layout: "layout-base"
eleventyComputed:
  title: "{{ image.name }}"
permalink: "/art/{{ image.year }}/{{ image.slug }}/"
tags:
  - "art"
css:
  - "art-item"
---

<article class="art">
  <h1>
    {{ title }}
  </h1>

  <p class="post-date date">
    <time
      datetime="{{ image.date | formatDate('yyyy-mm-dd') }}"
      >{{ image.date | formatDate('yyyy mmmm d') }}</time
    >
  </p>

  <div>
    <a class="frame" href="{{ image.url }}">
      <img
        src="{{ image.url }}"
        alt="{{ title }}"
        width="{{ image.width }}"
        height="{{ image.height }}"
        style="--image-bg: {{ image.color }};"
        loading="lazy"
      />
    </a>
  </div>
</article>
