<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'partials/head' %}
  </head>
  <body>
    {% include 'partials/header' %}
    <main>
      <div class="content-column">
        <article>
          <header>
            <h1>{{ title }}</h1>

            <small> {% render "partials/date" date: page.date %} </small>

            <p>{{ description | escape }}</p>
          </header>

          <div class="sage-prose post">
            {{ content }}
          </div>
        </article>

        <h2>Thanks for reading</h2>

        <p>
          <a href="/contact/">Let's talk</a>
          about this post. Email or Discord is best for me.
        </p>

        <p>
          <a href="/feed.xml">Subscribe to my RSS feed</a>
          to stay up to date. You can use a free RSS reader like Feedly,
          Inoreader, or NewsBlur.
        </p>
      </div>
    </main>
    {% include 'partials/footer' %}
  </body>
</html>
