---
layout: "layout-base"
---

<main>
  <h1>Drafts</h1>

  <div class="post-list">
    {% for draft in collections.draft | reverse %}
    <section class="post-list--post candy-card">
      <h2>
        <a class="candy-link no-underline" href="{{ draft.url }}">
          {{ draft.data.title }}
        </a>
      </h2>

      <p>
        {{ draft.data.description }}
      </p>

      <time
        datetime="{{ draft.date | formatDate('yyyy-mm-dd') }}"
        >{{ draft.date | formatDate('yyyy mmmm d') }}</time
      >
    </section>
    {% endfor %}
  </div>

  {{ content | safe }}
</main>
