<!DOCTYPE html>
<html lang="en" class="bit-root bit-scrollbar">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="content-security-policy" content="{{ csp | safe }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content="{{ eleventy.generator }}" />
    <link
      rel="preload"
      as="font"
      crossorigin="anonymous"
      href="/static/fonts/nunito-v24-latin-700.woff2"
    />
    <link
      rel="preload"
      as="font"
      crossorigin="anonymous"
      href="/static/fonts/nunito-v24-latin-regular.woff2"
    />
    <meta name="author" content="wavebeem" />
    <meta name="description" content="{{ description }}" />
    <link rel="icon" sizes="16x16" href="/static/favicon-16.png?v=4" />
    <link rel="icon" sizes="32x32" href="/static/favicon-32.png?v=4" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/photo-180.png" />
    <link
      rel="alternate"
      type="application/rss+xml"
      href="https://www.wavebeem.com/feed.xml"
      title="Subscribe to wavebeem.com"
    />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@wavebeem" />
    <meta name="twitter:creator" content="@wavebeem" />
    <meta
      name="twitter:image"
      content="https://www.wavebeem.com/static/photo-512.png"
    />
    <meta
      name="og:image"
      content="https://www.wavebeem.com/static/photo-512.png"
    />
    <meta name="og:image:width" content="512" />
    <meta name="og:image:height" content="512" />
    <meta name="og:title" content="{{ title }}" />
    <meta name="og:description" content="{{ description }}" />
    <title>{{ title }}</title>
    <script
      async
      defer
      data-domain="wavebeem.com"
      src="https://plausible.io/js/plausible.js"
    ></script>
    <link rel="stylesheet" media="screen" href="/static/2bit-ui.css" />
    <link rel="stylesheet" media="screen" href="/static/style.css" />
    <link rel="stylesheet" media="print" href="/static/print.css" />
  </head>
  <body>
    <header class="bit-root screen-only">
      <div>
        <a href="/" class="flex align-center logo bit-link">wavebeem</a>
        <nav>
          <a class="bit-link" href="/">Home</a>
          <a class="bit-link" href="/blog/">Blog</a>
          <a class="bit-link" href="/art/">Art</a>
          <a class="bit-link" href="/resume/">Resume</a>
        </nav>
      </div>
    </header>
    {{ content | safe }}
    <footer class="screen-only">
      &copy; {{ "now" | formatDate("yyyy") }}
      Brian Mock
    </footer>
  </body>
</html>
