---
layout: "layout-base"
tags: ["blog"]
---

<h1>Posts</h1>

<ol class="post-columns" reversed>
  {% for post in collections.post | reverse %}
  <li>
    <a class="bit-link no-underline" href="{{ post.url }}"
      ><b>
        {{ post.data.title }}
      </b></a
    >
  </li>
  {% endfor %}
</ol>

{{ content | safe }}
