<!DOCTYPE html>
<html lang="en" class="bit-auto">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="content-security-policy" content="{{ csp | safe }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Brian Mock" />
    <meta name="description" content="{{ description }}" />
    <link rel="icon" sizes="16x16" href="/static/favicon-16.png" />
    <link rel="icon" sizes="32x32" href="/static/favicon-32.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/brian-180.png" />
    <link rel="manifest" href="/static/manifest.json" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@wavebeem" />
    <meta name="twitter:creator" content="@wavebeem" />
    <meta
      name="twitter:image"
      content="https://www.wavebeem.com/static/brian-512.png"
    />
    <meta
      name="og:image"
      content="https://www.wavebeem.com/static/brian-512.png"
    />
    <meta name="og:title" content="{{ title }}" />
    <meta name="og:description" content="{{ description }}" />
    <title>{{ title }}</title>
    <link rel="stylesheet" media="screen" href="/static/1bit-ui.css" />
    <link rel="stylesheet" media="screen" href="/static/style.css" />
    <link rel="stylesheet" media="screen" href="/static/syntax.css" />
    <link rel="stylesheet" media="print" href="/static/print.css" />
    <script
      async
      defer
      data-domain="wavebeem.com"
      src="https://plausible.io/js/plausible.js"
    ></script>
  </head>
  <body>
    <nav class="screen-only">
      <b class="flex align-center">
        <img
          alt=""
          src="/static/brian-96.png"
          width="48"
          height="48"
          class="favicon"
        />
        wavebeem
      </b>
      <a class="bit-link" href="/">Home</a>
      <a class="bit-link" href="/blog">Blog</a>
      <a class="bit-link" href="/art">Art</a>
      <a class="bit-link" href="/resume">Resume</a>
    </nav>
    <main>{{ content | safe }}</main>
    <footer class="screen-only">
      &copy; {{ "now" | formatDate("yyyy") }} Brian Mock
    </footer>
  </body>
</html>
