---
layout: "layout-base"
tags: ["blog"]
---

<h1>Posts</h1>
{% for post in collections.post | reverse %}
<h2 class="mb0">
  <a class="bit-link no-underline" href="{{ post.url }}">{{
    post.data.title
  }}</a>
</h2>
<time
  datetime="{{ post.date | formatDate('yyyy-mm-dd') }}"
  >{{ post.date | formatDate('yyyy-mm-dd') }}</time
>
{% endfor %}

{{ content | safe }}
