---
layout: "layout-base"
---
<article class="page">
  <header class="page-header">
    <h1>{{ title | escape }}</h1>
    <small>{% render "partials/date" date: page.date %}</small>
  </header>

  {% if draft %}
  <section class="page-body">
    <p class="card">
      <strong>
        This post isn't finished yet. Please don't share it.
      </strong>
    </p>
  </section>
  {% endif %}

  <section class="page-body">
    {% if description -%}
    <p>{{ description | markdownify }}</p>
    {% endif %}
    {{ content }}
  </section>

  <footer class="page-footer">
    <div class="page-footer--congrats">
      <strong>Thanks for reading :)</strong><br />
    </div>
    <ul class="card">
      <li><a href="/contact/">Tell me your thoughts</a></li>
      <li><a href="/subscribe/">Subscribe for to my updates</a></li>
      <li><a href="/blog/">Read more blog posts</a></li>
      <li><a href="/pages/">Explore the rest of the site</a></li>
    </ul>
  </footer>
</article>

