<!DOCTYPE html>
<html lang="en" data-theme="{{ theme }}">
  <head>
    {% include 'partials/head' %}
  </head>
  <body>
    {% include 'partials/header' %}
    <main>
      {{ content }}
      <section>
        <hr />
        <div class="text-center">
          <a href="#"><strong>Back to top</strong></a>
        </div>
      </section>
    </main>
    {% include 'partials/footer' %}
  </body>
</html>
