---
layout: "layout-base"
tags: ["resume"]
---

<h1 class="screen-only">Resume</h1>

<div class="contact-info">
  <h1 class="name print-only">Brian Mock</h1>
  <p>
    <span class="name screen-only">Brian Mock (they/them)<br /></span>
    <span class="name print-only">(they/them)</span>
    <br class="print-only" />
    <a class="bit-link" href="mailto:brian@wavebeem.com">brian@wavebeem.com</a
    ><br />
    <a class="bit-link" href="https://www.wavebeem.com">www.wavebeem.com</a>
  </p>
</div>

<div class="bit-auto page-resume">
  {{ content | safe }}
</div>
