---
layout: "layout-base"
tags: ["welcome"]
---

<h1 class="welcome-header">
  <img
    src="/static/teeny-sanguini.gif"
    width="40"
    height="42"
    alt=""
    class="teeny-sanguini"
  />
  <img
    src="/static/howdy.png"
    width="54"
    height="26"
    alt="Howdy!"
    class="howdy"
  />
  <img
    src="/static/teeny-sanguini.gif"
    width="40"
    height="42"
    alt=""
    class="teeny-sanguini"
  />
</h1>

{{ content | safe }}
