---
layout: "layout-base"
---
<article class="page">
  <header class="page-header">
    <h1>{{ title | escape }}</h1>
    <small>{% render "partials/date" date: page.date %}</small>
  </header>

  {% if draft %}
  <section class="page-body">
    <p class="card">
      <strong>
        This is a draft post. It isn't finished yet. Please don't share this
        page with anyone else without my permission.
      </strong>
    </p>
  </section>
  {% endif %}

  <section class="page-body">
    {% if description -%}
    <p>{{ description | markdownify }}</p>
    {% endif %}
    {{ content }}
  </section>

  <footer class="page-footer">
    <hr />
    <p class="layout-wrap2col">
      <a class="button" href="/contact/">Comment</a>
      <a class="button" href="/subscribe/">Subscribe</a>
    </p>
  </footer>
</article>

