<!DOCTYPE html>
<html lang="en" data-page-name="{{ pageName }}">
  <head>
    {% include 'partials/head' %}
  </head>
  <body>
    {% include 'partials/header' %}
    <main>
      <div class="content-column">
        <article>
          <header>
            <h1>
              {{ title }}
            </h1>

            <p>
              <small> {% render "partials/date" date: page.date %} </small>
            </p>

            <p>
              {{ description | escape }}
            </p>
          </header>

          <div class="sage-prose post">
            {{ content }}
          </div>
        </article>

        <hr />

        <h2>Thanks for reading</h2>

        <p>
          <a href="/contact/">Let's talk</a>
          about this post. I love making friends and chatting.
        </p>

        <p>
          <a href="/feed.xml">Subscribe to my RSS feed</a>
          to stay up to date.
          <a
            href="https://duckduckgo.com/?q=best+rss+feed+reader+free"

            >What is RSS?</a
          >
        </p>
      </div>
    </main>
    {% include 'partials/footer' %}
  </body>
</html>
