<!doctype html>
<html lang="en">
  <head>
    {% include 'partials/head' %}
  </head>
  <body>
    {% include 'partials/header' %}
    <main>
      <div class="content-column">
        {{ content }}
      </div>
    </main>
    {% include 'partials/footer' %}
  </body>
</html>
