---
layout: "layout-base"
tags: ["art"]
---

<h1>Art</h1>

{{ content | safe }}

{% for img in art %}
  <figure>
    <img src="{{ img.url }}" alt="{{ img.name }}" loading="lazy">
    <figcaption>{{ img.name }}</figcaption>
  </figure>
{% endfor %}
