---
layout: "layout-base"
tags:
  - "draft"
---

<main>
  <h1>
    <a class="bit-link" href="">{{ title }}</a>
  </h1>

  <p class="post-date date">
    <time
      datetime="{{ page.date | formatDate('yyyy-mm-dd') }}"
      >{{ page.date | formatDate('yyyy mmmm d') }}</time
    >
  </p>

  <div class="bit-auto post">
    {{ content | safe }}
  </div>
</main>
