---
layout: "layout-base"
tags:
  - "blog"
---

<h1 class="candy-bright">Blog</h1>

<p>
  Subscribe via my <a class="candy-link" href="/feed.xml">RSS feed</a> to stay
  updated.
</p>

<div class="post-list">
  {% for post in collections.post | reverse %}
  <section class="post-list--post sage-well">
    <h2 class="candy-bright">
      <a class="candy-link no-underline" href="{{ post.url }}">
        {{ post.data.title }}
      </a>
    </h2>

    <p>
      {{ post.data.description }}
    </p>

    <time
      datetime="{{ post.date | formatDate('yyyy-mm-dd') }}"
      >{{ post.date | formatDate('yyyy mmmm d') }}</time
    >
  </section>
  {% endfor %}
</div>

{{ content | safe }}
