---
layout: "layout-base"
css:
  - post
---

<article>
  <h1 class="sage-bright">
    {{ title }}
  </h1>

  <p class="post-date date">
    <time
      datetime="{{ page.date | formatDate('yyyy-mm-dd') }}"
      >{{ page.date | formatDate('yyyy mmmm d') }}</time
    >
  </p>

  <blockquote>
    {{ description }}
  </blockquote>

  <div class="sage-prose post">
    {{ content | safe }}
  </div>
</article>

<hr />

<h2 class="sage-bright">Comments</h2>

<div class="sage-well">
  My blog doesn't support comments, but you can
  <a href="/contact/" class="sage-link">contact me</a> to talk about this post.
</div>
