---
layout: "layout-base"
tags: ["resume"]
---

<h1 class="screen-only">Resume</h1>

<h2 class="screen-only">Contact Information</h2>
<div class="contact-info">
  <h1 class="name print-only">Brian Mock</h1>
  <p>
    <span class="name screen-only">Brian Mock (he/him)<br /></span>
    <span class="name print-only">(he/him)<br /></span>
    <a href="mailto:brian@mockbrian.com">brian@mockbrian.com</a><br />
    <a href="https://mockbrian.com">mockbrian.com</a><br />
    503-409-7863
  </p>
</div>

{{ content | safe }}
