---
layout: "layout-base"
tags: ["art"]
---

<h1>Art</h1>

{{ content | safe }}

<div class="art-container">
  {% for img in art %}
  <figure>
    <img src="{{ img.url }}" alt="{{ img.name }}" loading="lazy" />
    <figcaption>
      <a href="{{ img.url }}">{{ img.name }}</a>
    </figcaption>
  </figure>
  {% endfor %}
</div>
