---
layout: "layout-base"
tags:
  - "draft"
css:
  - post
---

<article>
  <h1>
    {{ title }}
  </h1>

  <p class="post-date date">
    <time
      datetime="{{ page.date | formatDate('yyyy-mm-dd') }}"
      >{{ page.date | formatDate('yyyy mmmm d') }}</time
    >
  </p>

  <blockquote>
    {{ description }}
  </blockquote>

  <div class="sage-prose post">
    {{ content | safe }}
  </div>
</article>
