---
layout: "layout-base"
tags: ["art"]
css:
  - "art"
---

<h1 class="candy-bright">Art</h1>

{{ content | safe }}

<div class="art-container">
  {% for img in art | reverse %}
  <figure class="art-container--frame sage-well">
    <img
      src="{{ img.url }}"
      alt=""
      width="{{ img.width }}"
      height="{{ img.height }}"
      style="background-color: {{ img.color }};"
      loading="lazy"
    />
    <figcaption>
      <a class="candy-link" href="{{ img.url }}">{{ img.name }}</a>
      <time
        datetime="{{ img.date | formatDate('yyyy-mm-dd') }}"
        >{{ img.date | formatDate('yyyy mmmm d') }}</time
      >
    </figcaption>
  </figure>
  {% endfor %}
</div>
