---
layout: "layout-base"
tags: ["resume"]
---

<h1 class="screen-only">Resume</h1>

<div class="contact-info">
  <h1 class="name print-only">Brian Mock</h1>
  <p>
    <span class="name screen-only">Brian Mock (they/them)</span><br />
    <span class="name print-only">(they/them)</span>
    <br class="print-only" />
    <a href="mailto:brian@wavebeem.com">brian@wavebeem.com</a><br />
    <a href="https://wavebeem.com">wavebeem.com</a>
  </p>
</div>

{{ content | safe }}
