---
import Page from "../layouts/Page.astro";

const title = "Resume";
const description = title;
---

<Page title={title} description={description}>
  <h1>Sage Fennel <small>(they/them)</small></h1>

  <p>
    Frontend web developer with 10+ years of experience and an eye for design.
    Previously known by
    <a class="sage-link" href="/my-names">another name</a>.
  </p>

  <p>
    <a class="sage-link" href="mailto:mail@wavebeem.com">Email me</a>, check out
    my <a class="sage-link" href="https://github.com/wavebeem">GitHub</a>, or
    look at my <a class="sage-link" href="/">personal site</a>.
  </p>

  <h2>Work experience</h2>

  <h3>
    Zapier
    <small>(digital task automation for humans)</small>
  </h3>
  <div class="sage-well">
    <details open>
      <summary>
        <div class="inline-flex flex-column">
          <div>
            <i>Senior Frontend Engineer IV</i>
            <small>(May 2023&ndash;Present)</small>
          </div>
          <div>
            <i>Frontend Engineer III</i>
            <small>(Apr 2021&ndash;May 2023)</small>
          </div>
        </div>
      </summary>
      <ul>
        <li>
          Lead development of a
          <a
            class="sage-link"
            href="https://zapier.com/partner/solutions/plug-and-play"
            >low code Zapier integration</a
          >
          allowing partners to quickly embed Zapier in their site, allowing their
          users to access automation in context
        </li>
        <li>
          Designed and implemented a new authentication system to increase user
          security while using integrated Zapier experiences on 3rd party sites
        </li>
        <li>
          Coordinated and implemented analytics attribution upgrades for 3rd
          party sign up flows for multiple product teams
        </li>
        <li>
          Consistently wrote popular internal and
          <a
            href="https://zapier.com/blog/lch-easier-accessibility-prettier-colors/"
            class="sage-link">external blog posts</a
          >
          about engineering best practices and accessibility
        </li>
        <li>
          Officially mentored multiple coworkers, including newly hired
          engineers
        </li>
      </ul>
    </details>
  </div>

  <h3>
    Aruba Networks
    <small>(interactive indoor maps)</small>
  </h3>
  <div class="sage-well">
    <details open>
      <summary>
        <div>
          <i>Senior JavaScript Developer</i>
          <small>(Feb 2018&ndash;Apr 2021)</small>
        </div>
      </summary>
      <ul>
        <li>Maintained a React + CSS modules component library</li>
        <li>
          Created <a>JSX Info</a>, a static code analysis tool to help with
          evolving the component library
        </li>
        <li>Completed a frontend rewrite from Backbone to React</li>
        <li>
          Designed and created a real-time asset visualization
          <a
            class="sage-link"
            href="https://github.com/arubanetworks/meridian-web-sdk/"
            >SDK for the web</a
          >
        </li>
      </ul>
    </details>
  </div>

  <h3>AWS Elemental <small>(streaming video platform)</small></h3>
  <div class="sage-well">
    <details>
      <summary>
        <div>
          <i>Software Development Engineer II</i>
          <small>(May 2017&ndash;Feb 2018)</small>
        </div>
      </summary>
      <ul>
        <li>
          Drove best practices as a contributor on a wayward TypeScript project
        </li>
        <li>
          Migrated test suite to Mocha, advocated for Prettier (code formatter)
        </li>
      </ul>
    </details>
  </div>

  <h3>
    CrowdCompass <small>(event management &amp; attendee apps)</small>
  </h3>
  <div class="sage-well">
    <details>
      <summary>
        <div>
          <i>JavaScript Developer</i>
          <small>(Feb 2016&ndash;May 2017)</small>
        </div>
      </summary>
      <ul>
        <li>Maintained multiple web apps (Ember, Rails+jQuery)</li>
        <li>
          Migrated CoffeeScript to ES6; developed ESLint code quality strategy
        </li>
      </ul>
    </details>
  </div>

  <h3>Janrain <small>(identity management system)</small></h3>
  <div class="sage-well">
    <details>
      <summary>
        <div>
          <i>JavaScript Developer</i>
          <small>(Sep 2012&ndash;Jul 2015)</small>
        </div>
      </summary>
      <ul>
        <li>
          Maintained a legacy library in production on thousands of sites, with
          IE8 support
        </li>
        <li>Documented hundreds of features through extensive code research</li>
      </ul>
    </details>
  </div>

  <h2>Key technical skills</h2>

  <p>
    JavaScript, TypeScript, HTML, CSS, React, Next.js, Stencil, Netlify, Vercel,
    CI/CD, web components, Python, bash, parsers
  </p>

  <h2>Projects</h2>

  <div class="sage-well">
    <dl>
      <dt>
        <a class="sage-link no-underline" href="https://www.pkmn.help"
          >pkmn.help</a
        >
      </dt>
      <dd>web app used by millions of Pokémon players</dd>

      <dt>
        <a class="sage-link no-underline" href="https://candy.wavebeem.com/"
          >candy.css</a
        >
      </dt>
      <dd>CSS library inspired by Web 2.0</dd>

      <dt>
        <a class="sage-link no-underline" href="https://2bit-ui.wavebeem.com/"
          >2bit-ui</a
        >
      </dt>
      <dd>CSS library inspired by the Game Boy Color</dd>

      <dt>
        <a class="sage-link no-underline" href="https://1bit-ui.wavebeem.com/"
          >1bit-ui</a
        >
      </dt>
      <dd>CSS library inspired by monochrome computers</dd>

      <dt>
        <a
          class="sage-link no-underline"
          href="https://bread-n-butter.wavebeem.com/">bread 'n butter</a
        >
      </dt>
      <dd>modern parser combinator library for TypeScript</dd>

      <dt>
        <a class="sage-link no-underline" href="https://squiggle.wavebeem.com/"
          >Squiggle</a
        >
      </dt>
      <dd>compile-to-JS programming language</dd>
    </dl>
  </div>

  <h2>Education</h2>

  <p>B.A., Computer Science, Willamette University, Salem, OR, USA (2012)</p>
</Page>

<style>
  :is(h1, h2, h3) small {
    font-weight: normal;
    font-family: var(--font-body);
  }

  @media (max-width: 800px) {
    small {
      display: block;
    }
  }

  .sage-well ul:last-of-type {
    margin-bottom: 0;
  }

  .sage-well > details {
    margin-block: 0;
  }

  ul li + li {
    margin-top: 1rem;
  }

  ul {
    padding-left: 1rem;
  }

  ol {
    padding-left: 1rem;
  }

  summary {
    border-radius: 0.5rem;
  }

  summary:hover {
    background: var(--color-card-hover);
  }

  dl {
    margin-block: 0;
  }

  @media (min-width: 800px) {
    dl {
      display: grid;
      grid-template-columns: max-content 1fr;
      gap: 1rem 2rem;
    }
  }

  @media (max-width: 800px) {
    dd + dt {
      margin-top: 1rem;
    }
  }

  dd {
    margin-inline: 0;
  }

  dt {
    font-weight: bold;
  }
</style>
