<h2>Under construction</h2>

<figure>
  <img
    src="./assets/dq1-2gbc-box.webp"
    alt=""
    loading="eager"
    width="499"
    height="500"
  />
  <figcaption>Dragon Quest I-II for Game Boy Color</figcaption>
</figure>

<figure>
  <img
    src="./assets/dq1-2gbc-1.webp"
    alt=""
    loading="eager"
    width="320"
    height="288"
  />
  <figcaption>Dragon Quest I-II for Game Boy Color</figcaption>
</figure>

<figure>
  <img
    src="./assets/dq1-2gbc-2.webp"
    alt=""
    loading="eager"
    width="320"
    height="288"
  />
  <figcaption>Dragon Quest I-II for Game Boy Color</figcaption>
</figure>

<figure>
  <img
    src="./assets/dq1-2gbc-3.webp"
    alt=""
    loading="eager"
    width="320"
    height="288"
  />
  <figcaption>Dragon Quest I-II for Game Boy Color</figcaption>
</figure>

<h2>Commissioned Art</h2>

<p>
  I commissioned one of my favorite artists,
  <a href="https://sproutsnout.com/">sproutsnout</a>, to draw two of my favorite
  monsters from Dragon Quest.
</p>

<div class="photo-grid">
  <figure>
    <img
      src="./assets/sproutsnout/dracky-bubble.webp"
      alt=""
      loading="lazy"
      width="900"
      height="1125"
    />
    <figcaption>Dracky and Bubble Slime</figcaption>
  </figure>
</div>
