---
layout: index
title: "Brian Mock"
root_class: "main-page"
---

{% assign t = site.time | date: '%s%N' %} {% include nav.html %}

<main class="ph4 mw7 center flex-auto lh-copy">
  <div class="tc mt2">
    <h1 class="dib normal bg-white ba bw1 b--black-10 br3 f2 f1-ns mv0 ph3 pv1">
      Hey, I'm <b>Brian</b>
    </h1>
    <div class="tc mt2">
      <div class="tc ph4 pt2">
        <img
          src="/brian.png?t={{ t }}"
          width="400"
          class="bg-white mw-100 ba bw1 pa2 b--black-10 br-100"
          alt=""
        />
      </div>
    </div>

    <div class="tl f3">
      <p>
        My pronouns are he/him. I'm a software developer in Portland, OR. When
        I'm not programming I like to play video games, pet my cat, and go
        running.
      </p>

      <p>
        I run Portland's monthly mechanical keyboard meetup,
        <a class="pretty-link link dark-green" href="https://pdxkbc.com/"
          >PDXKBC</a
        >.
      </p>

      <p>
        I'm the maintainer of a really great parsing library for JavaScript
        called
        <a
          class="pretty-link link dark-green"
          href="https://github.com/jneen/parsimmon/"
          >Parsimmon</a
        >.
      </p>

      <p>
        And I created
        <a class="pretty-link link dark-green" href="https://pkmn.help"
          >pkmn.help</a
        >, a Pokémon strategy web app with thousands of monthly users.
      </p>

      <p>
        Check out the rest of my projects on
        <a
          class="pretty-link link dark-green"
          href="https://github.com/wavebeem/"
          >GitHub</a
        >.
      </p>

      <p>
        Email me at
        <a class="pretty-link link dark-green" href="mailto:brian@mockbrian.com"
          >brian@mockbrian.com</a
        >
        or tweet me at
        <a
          class="pretty-link link dark-green"
          href="https://twitter.com/wavebeem/"
          >@wavebeem</a
        >.
      </p>
    </div>
  </div>
</main>

{% include footer.html %}
