@footer_fg: #babdb6;
@footer_bg: #555753;
@normal_fg: #555753;
@normal_bg: #eeeeec;
@header_bg: #4e9a06;
@h2_fg:     #babdb6;
@link_fg:   #4e9a06;

@image_bg:  fade(black, 10%);
@image_fg:  black;

@caption_bg:  fade(black, 30%);
@caption_fg:  white;
@caption_ts:  0px 0px 4px black;

@code_fg: #d3d7cf;
@code_bg: #2e3436;

@header_fg: fade(white, 75%);
@header_h2: fade(white, 85%);
@header_link: white;

@max_width: 800px;

* {
    box-sizing: border-box;
}

body {
    background: @footer_bg;
    color:      @footer_fg;

    font-family:
        "Calibri",
        "Helvetica",
        "Arial",
        sans-serif;

    text-align: left;

    font-size: 18px;
}

img,
code {
    border-radius: 4px;
}

img {
    width: 100%;
}

.group {
    img {
        width: 40%;
        display: inline-block;
    }
}

code {
    display: block;
    white-space: pre-wrap;
    text-align: left;

    font-family:
        "Menlo",
        "Consolas",
        "DejaVu Sans Mono",
        "BitStream Vera Sans Mono",
        "Lucida Console",
        monospace;

    // border: 3px solid fade(white, 30%);

    font-size: 90%;

    padding: 6px;

    background: @code_bg;
    color:      @code_fg;
}

html,
body {
    padding: 0px;
    margin:  0px;
}

#top h2,
#top {
    background: @header_bg;
    color:      @header_fg;
}

#top h2 {
    color: @header_h2;
}

#middle.chunk {
    background: @normal_bg;
    color:      @normal_fg;
}

#middle h2,
h1 {
    float: right;
}

h1 {
    margin-top: 0px;
}

h1 { font-size: 32px; }
h2 { font-size: 22px; }
h3 { font-size: 20px; }

.chunk {
    text-align: center;
}

.content {
    padding: 16px;

    &,
    & img {
        max-width: @max_width;
    }

    display: inline-block;
    text-align: left;
}

a {
    color: @link_fg;
    text-decoration: underline;
}

h3 a {
    text-decoration: none;
    font-style: normal;
}

h2 {
    color: @h2_fg;
}

h1,
#bottom a,
#top a {
    color: @header_link;
}

#middle {
    padding-bottom: 0.50em;
}

#bottom .content {
    padding: 6px;
}

#copy {
    margin: 6px;
}
