body {
    background: #aaa;
    background: url(bg.png) repeat fixed;
    color:      #FFF;

    font-family:
        "Lucida Grande",
        "Segoe UI",
        "Helvetica",
        "Arial",
        sans-serif;

    padding:  0px;
    margin:  16px;

    text-align: left;

    font-size: 15px;
}

#copy {
    font-size: 12px;
    font-weight: bold;

    text-align: center;

    text-shadow: rgba(0, 0, 0, 0.75) 1px 1px 0px;
}

a {
    text-decoration: none;

    color: #6CF;
    font-weight: bold;
}

#column a:hover {

    color: #9CF;
    text-shadow: rgba(255, 255, 255, 0.25) 1px 1px 4px;
}

.wide,
#column {
    width: 700px;
}

.aligned {
    margin-left:  auto;
    margin-right: auto;
}

#column {
    border: 4px solid #AAA;

    padding:       16px;
    padding-top:    4px;
    padding-bottom: 4px;

    margin-left:  auto;
    margin-right: auto;

    background:   #444;
    color:        #EEE;
    border-color: #555;

    border-radius: 22px;

    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.50);

    overflow: hidden;
}

h1 {
    text-align: center;

    color:      #ccc;
    background: #555;

    margin-left:     6px;
    margin-right:  -16px;
    margin-top:     -4px;
    margin-bottom:  20px;

    padding: 2px 10px;

    font-size: 40px;

    border-radius: 0px 0px 0px 10px;

    float: right;
}

h2 {
    color: #FFF;
}

h3,
h3 a {
    color: #fc3;
}

#column h3 a:hover {
    color: #fd4;
    text-shadow: rgba(255, 255, 255, 0.25) 1px 1px 4px;
}
