html {
    min-height: 100%;
    position: relative;
}

html, body {
    background: #eee;
}

h1, .h1 {
    font-size: 28px;
}

h2, .h2 {
    font-size: 18px;
}

main h2,
main .h2 {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.10);
}

main {
    display: flex;
    flex-flow: row wrap;
}

section {
    margin: 10px;
    flex: 1 1 300px;
}

.item {
    background: #fff;
    padding: 5px 10px;
    border: 2px solid #ddd;
    border-radius: 4px;
    margin-bottom: 15px;
}

a {
    font-weight: bold;
}

main {
    margin-bottom: 125px;
}

.selfie {
    border: 2px solid rgba(255, 255, 255, 0.50);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.20);
}

footer {
    color: #777;
    padding: 10px;
    margin: 0;
    height: 85px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer {
   text-align: center;
}

.jumbotron-primary {
    background: #095;
    color: #fff;
    margin-bottom: 0;
}

.jumbotron-primary a {
    color: #fff;
    font-weight: bold;
}

.jumbotron-primary .btn {
    margin-right: 0.50em;
    margin-top: 0.50em;
}

.btn.btn-outline-inverse {
    border: 2px solid rgba(255, 255, 255, 0.50);
    color: #fff;
    background: rgba(0, 0, 0, 0.10);
}

.btn.btn-outline-inverse:hover {
    background: #fff;
    color: #095;
}
