---
title: "Etrian Odyssey"
layout: "layout-base"
theme: "shrine_etrian"
---

<article>
  <header>
    <h1>{{ title | escape }}</h1>
  </header>

  <h2>Under construction</h2>

  <figure>
    <img src="eo2.webp" alt="" />
    <figcaption>Etrian Odyssey II for Nintendo DS</figcaption>
  </figure>

  <figure>
    <img src="crusty.webp" alt="" />
    <figcaption>A super crusty image of Etrian Odyssey</figcaption>
  </figure>

  <figure>
    <img src="eo2-ui.webp" alt="" />
    <figcaption>A super crusty image of Etrian Odyssey</figcaption>
  </figure>
</article>
