---
title: "Etrian Odyssey"
layout: "layout-base"
---

<article>
  <header>
    <h1>{{ title | escape }}</h1>
  </header>

  <h2>Under construction</h2>

  <figure>
    <img
      src="./assets/eo2.webp"
      alt=""
      loading="eager"
      width="800"
      height="729"
    />
    <figcaption>Etrian Odyssey II for Nintendo DS</figcaption>
  </figure>

  <figure>
    <img
      src="./assets/crusty.webp"
      alt=""
      loading="eager"
      width="800"
      height="600"
    />
    <figcaption>A super crusty image of Etrian Odyssey</figcaption>
  </figure>

  <figure>
    <img
      src="./assets/eo2-ui.webp"
      alt=""
      loading="eager"
      width="480"
      height="720"
    />
    <figcaption>A super crusty image of Etrian Odyssey</figcaption>
  </figure>
</article>
