---
import PageLayout from "@/layouts/PageLayout.astro";
---

<PageLayout title="Shrines">
  <p>
    Shrines are spaces dedicated to things I love or have loved in the past.
    Check back later as I continue to update them.
  </p>

  <p>
    Shrines contain a mixture of art, screenshots, and words written about the
    topic.
  </p>

  <section class="menu">
    <a href="etrian-odyssey">Etrian Odyssey</a>
    <a href="pokemon">Pokémon</a>
    <a href="shin-megami-tensei">Shin Megami Tensei</a>

    <a href="gnosia">Gnosia</a>
    <a href="dragon-quest">Dragon Quest</a>
    <a href="castlevania">Castlevania</a>

    <a href="metroid">Metroid</a>
  </section>
</PageLayout>
