:root {
  --filter-gbc: saturate(80%) contrast(80%) brightness(120%) hue-rotate(-10deg)
    brightness(95%);
}

wavebeem-review-pokemon-crystal-sprites {
  display: flex;
  max-width: max-content;

  & button {
    all: initial;
    display: flex;
    border-radius: 6px;
    overflow: hidden;
    cursor:
      url("./assets/cursor.svg") 8 8,
      default;
  }

  & button:hover {
    outline: unset;
  }

  & button:focus-visible {
    outline: 2px solid;
    outline-offset: 2px;
  }

  & img {
    box-sizing: content-box;
    background: #fff;
    padding: 12px;
    filter: var(--filter-gbc);
  }
}

img[src*=".gbc."] {
  transition: 200ms filter;
}

:where(:has(#gbc-filter:checked)) {
  img[src*=".gbc."] {
    &:where(:not(:hover)) {
      filter: var(--filter-gbc);
    }
  }
}

.gbc-frame {
  --gbc-frame-size: 32px;
  display: flex;
  max-width: max-content;
  padding: 4px;
  background: #040404;
  border: 32px solid #333;
  border-radius: 16px;
  position: relative;
}

.gbc-frame img {
  border-radius: 0;
}
