:root {
  --filter-gbc: saturate(80%) contrast(80%) brightness(120%) hue-rotate(-10deg);
}

wavebeem-review-pokemon-crystal-sprites {
  display: flex;
  max-width: max-content;

  & button {
    all: initial;
    display: flex;
    border-radius: 6px;
    overflow: hidden;
    cursor:
      url("./assets/cursor.svg") 8 8,
      default;
  }

  & button:hover {
    outline: unset;
  }

  & button:focus-visible {
    outline: 2px solid;
    outline-offset: 2px;
  }

  & img {
    box-sizing: content-box;
    background: #fff;
    padding: 12px;
    filter: var(--filter-gbc);
  }
}

img[src*=".gbc."] {
  transition: 200ms filter;
}

:where(:has(#gbc-filter:checked)) {
  img[src*=".gbc."] {
    &:where(:not(:hover)) {
      filter: var(--filter-gbc);
    }
  }
}

.gbc-frame {
  --gbc-frame-size: 32px;
  display: flex;
  max-width: max-content;
  padding: var(--gbc-frame-size);
  background: #333;
  border-radius: 16px;
  position: relative;
}

/* TODO: Add shadow over the screen */

.gbc-frame::before {
  transition: 200ms opacity;
  content: "";
  position: absolute;
  top: var(--gbc-frame-size);
  left: var(--gbc-frame-size);
  width: calc(100% - 2 * var(--gbc-frame-size));
  height: calc(100% - 2 * var(--gbc-frame-size));
  pointer-events: none;
  box-shadow: inset 8px 8px 2px #0002;
  z-index: 1;
}

.gbc-frame::after {
  transition: 200ms opacity;
  content: "";
  position: absolute;
  top: var(--gbc-frame-size);
  left: var(--gbc-frame-size);
  width: calc(100% - 2 * var(--gbc-frame-size));
  height: calc(100% - 2 * var(--gbc-frame-size));
  pointer-events: none;
  background: linear-gradient(to bottom right, #fff4, #fff0);
  z-index: 2;
}

.gbc-frame:hover::before,
.gbc-frame:hover::after {
  opacity: 0;
}

.gbc-frame img {
  border-radius: 0;
}
