:root {
  --filter-gbc: saturate(0.8) contrast(0.8) brightness(1.2) hue-rotate(-10deg);
}

wavebeem-review-pokemon-crystal-sprites {
  display: inline-flex;

  & button {
    all: inherit;
    border-radius: 6px;
    padding: 6px;
    display: flex;
    background: #fff;
    padding: 12px;
    filter: var(--filter-gbc);
  }

  & button:hover {
    outline: unset;
    cursor:
      url("./assets/cursor.svg") 8 8,
      default;
  }

  & button:focus-visible {
    outline: 2px solid currentColor;
    outline-offset: 4px;
  }
}

:where(:has(#gbc-filter:checked)) {
  img[src*=".gbc."] {
    &:where(:not(:hover)) {
      filter: var(--filter-gbc);
    }
  }
}
