---
title: "Blog"
layout: "layout-base"
permalink: "/blog/"
---

<h1>{{ title }}</h1>

<p>
  Subscribe to my <a class="sage-link" href="/feed.xml">RSS feed</a> to stay up
  to date with my posts.
</p>

<h2>Browse by tag</h2>

<ul class="tag-list">
  {% for tag in collections.all | getAllTags | sort | filterTagList %}
  <li>
    <a href="/blog/tags/{{ tag }}/" class="sage-link">{{ tag | prettyTag }}</a>
  </li>
  {% endfor %}
</ul>

<h2>All posts</h2>

<div class="post-list">
  {% for post in collections.posts | reverse %}
  <section class="post-list--post sage-well">
    <h3>
      <a class="sage-link no-underline" href="{{ post.url }}">
        {{ post.data.title }}
      </a>
    </h3>
    <time
      datetime="{{ post.date | formatDate('yyyy-mm-dd') }}"
      >{{ post.date | formatDate('yyyy mmmm d') }}</time
    >

    <p>
      {{ post.data.description }}
    </p>
  </section>
  {% endfor %}
</div>

{{ content | safe }}
