<link rel="stylesheet" href="./assets/print.css" media="print" />

<p hidden data-media="print">
  <small>
    they/them |
    <a href="mailto:mail@wavebeem.com">mail@wavebeem.com</a> |
    <a href="https://wavebeem.com">wavebeem.com</a>
  </small>
</p>

<p data-media="screen">
  Sage is a frontend web developer with 10+ years of experience and an eye for
  design. Their full legal name is available as necessary for employment.
</p>

<h2>Key Technical Skills</h2>

<p>
  JavaScript, TypeScript, HTML, CSS, React, Next.js, Stencil, Netlify, Vercel,
  CI/CD, web components, Python, Bash, parsers
</p>

<h2>Work Experience</h2>

<h3>
  <a href="https://zapier.com/">Zapier</a>
</h3>
<small>Digital automation platform</small>
<p>
  <strong>Senior Frontend Engineer IV</strong>
  <small>(2023 May &ndash; Present)</small><br />
  <strong>Frontend Engineer III</strong>
  <small>(2021 Apr &ndash; 2023 May)</small>
</p>
<ul>
  <li>
    <p>
      Improved design system code quality and released new icon library
    </p>
  </li>
  <li>
    <p>
      Designed/implemented a
      <a href="https://zapier.com/partner/embed/workflow"
        >low code Zapier integration</a
      >
      for partners to embed
    </p>
  </li>
  <li>
    <p>
      Designed/implemented a new authentication system to security on external sites
    </p>
  </li>
  <li>
    <p>
      Coordinated/implemented upgrades for external
      sign up for several product teams
    </p>
  </li>
  <li>
    <p>
      Wrote many popular internal and
      <a
        href="https://zapier.com/blog/lch-easier-accessibility-prettier-colors/"
        >external</a
      >
      blog posts about engineering tips & tricks
    </p>
  </li>
  <li>
    <p>Mentored multiple coworkers (L1&ndash;L4)</p>
  </li>
</ul>

<h3>
  <a href="https://www.arubanetworks.com/">Aruba Networks</a>
</h3>
<small
  >part of <a href="https://www.hpe.com/">HPE</a> &mdash; Interactive indoor
  maps</small
>
<p>
  <strong>Senior JavaScript Developer</strong>
  <small>(2018 Feb &ndash; 2021 Apr)</small>
</p>
<ul>
  <li><p>Maintained a React + CSS modules component library</p></li>
  <li>
    <p>
      Created
      <a href="https://www.npmjs.com/package/jsx-info">JSX Info</a>, a static
      code analysis tool to help with evolving the component library
    </p>
  </li>
  <li><p>Completed a frontend rewrite from Backbone to React</p></li>
  <li>
    <p>
      Designed and created a real-time asset visualization
      <a href="https://github.com/arubanetworks/meridian-web-sdk/"
        >SDK for the web</a
      >
    </p>
  </li>
</ul>

<h3>
  <a href="https://aws.amazon.com/media-services/elemental/">AWS Elemental</a>
</h3>
<small>
  Part of <a href="https://aws.amazon.com/">AWS</a> &amp;
  <a href="https://www.amazon.com/">Amazon</a> &mdash; Streaming video
  platform</small
>
<p>
  <strong>Software Development Engineer II</strong>
  <small>(May 2017&ndash;Feb 2018)</small>
</p>
<ul>
  <li>
    <p>Drove best practices as a contributor on a wayward TypeScript project</p>
  </li>
  <li>
    <p>Migrated test suite to Mocha, advocated for Prettier (code formatter)</p>
  </li>
</ul>

<h3><a href="https://www.cvent.com/">CrowdCompass</a></h3>
<small>Now Cvent &mdash; Event management &amp; attendee apps</small>
<p>
  <strong>JavaScript Developer</strong>
  <small>(2016 Feb &ndash; 2017 May)</small>
</p>
<ul>
  <li><p>Maintained multiple web apps (Ember, Rails+jQuery)</p></li>
  <li>
    <p>Migrated CoffeeScript to ES6; developed ESLint code quality strategy</p>
  </li>
</ul>

<h3><a href="https://www.akamai.com/">Janrain</a></h3>
<small>Now Akamai &mdash; Identity management system (like Auth0)</small>
<p>
  <strong>JavaScript Developer</strong>
  <small>(2012 Sep &ndash; 2015 Jul)</small>
</p>
<ul>
  <li>
    <p>
      Maintained a legacy library in production on thousands of sites, with IE8
      support
    </p>
  </li>
  <li>Documented hundreds of features through extensive code research</li>
</ul>

<h2>Projects</h2>

<dl>
  <dt>
    <a href="https://www.pkmn.help">Pokémon Type Calculator</a>
  </dt>
  <dd>Multilingual battle companion web app with over 10 million visits</dd>

  <dt>
    <a href="https://color-combos.wavebeem.com/?fg=oklch%2850%25+50%25+180%29%0Ahsl%28270+50%25+50%25%29&bg=%23fff%0Aantiquewhite&group_by=background">Color Combos</a>
  </dt>
  <dd>Color contrast checker for color combinations</dd>

  <dt>
    <a href="https://jpeg.wavebeem.com/">The JPEG Zone</a>
  </dt>
  <dd>Tool for creating <q>deep fried</q> JPEG images</dd>

  <dt>
    <a href="https://candy.wavebeem.com/">candy.css</a>
  </dt>
  <dd>CSS library inspired by Web 2.0</dd>

  <dt>
    <a href="https://2bit-ui.wavebeem.com/">2bit-ui</a>
  </dt>
  <dd>CSS library inspired by the Game Boy Color</dd>

  <dt>
    <a href="https://1bit-ui.wavebeem.com/">1bit-ui</a>
  </dt>
  <dd>CSS library inspired by monochrome computers</dd>

  <dt>
    <a href="https://bread-n-butter.wavebeem.com/">bread-n-butter</a>
  </dt>
  <dd>
    Parser combinator library for TypeScript
  </dd>

  <dt>
    <a href="https://squiggle.wavebeem.com/">Squiggle</a>
  </dt>
  <dd>Compile-to-JS programming language</dd>
</dl>

<h2>Education</h2>

<p>B.A., Computer Science, Willamette University, Salem, OR, USA (2012)</p>
