---
title: "Resume"
layout: "layout-base"
---

<article>
  <header>
    <h1>{{ title | escape }}</h1>

    <p>
      Sage is a frontend web developer with 10+ years of experience and an eye
      for design. Their full legal name is available only as necessary.
    </p>
  </header>

  <h2>Work experience</h2>

  <article>
    <header>
      <h3>
        <a href="https://zapier.com/">Zapier</a>
      </h3>
      <small>Digital automation platform</small>
      <p>
        <i>Senior Frontend Engineer IV</i>
        <small>(2023 May &ndash; Present)</small><br />
        <i>Frontend Engineer III</i>
        <small>(2021 Apr &ndash; 2023 May)</small>
      </p>
    </header>
  </article>
  <ul>
    <li>
      <p>
        Lead development of a
        <a href="https://zapier.com/partner/solutions/plug-and-play"
          >low code Zapier integration</a
        >
        allowing partners to quickly embed Zapier in their site, allowing their
        users to access automation in context
      </p>
    </li>
    <li>
      <p>
        Designed and implemented a new authentication system to increase user
        security while using integrated Zapier experiences on 3rd party sites
      </p>
    </li>
    <li>
      <p>
        Coordinated and implemented analytics attribution upgrades for 3rd party
        sign up flows for multiple product teams
      </p>
    </li>
    <li>
      <p>
        Consistently wrote popular internal and
        <a
          href="https://zapier.com/blog/lch-easier-accessibility-prettier-colors/"
          >external blog posts</a
        >
        about engineering best practices and accessibility
      </p>
    </li>
    <li>
      <p>
        Officially mentored multiple coworkers, including newly hired engineers
      </p>
    </li>
  </ul>

  <article>
    <header>
      <h3>
        <a href="https://www.arubanetworks.com/">Aruba Networks</a>
      </h3>
      <small
        >part of <a href="https://www.hpe.com/">HPE</a> &bull; Interactive
        indoor maps</small
      >
      <p>
        Senior JavaScript Developer
        <small>(2018 Feb &ndash; 2021 Apr)</small>
      </p>
    </header>
  </article>
  <ul>
    <li><p>Maintained a React + CSS modules component library</p></li>
    <li>
      <p>
        Created
        <a href="https://www.npmjs.com/package/jsx-info">JSX Info</a>, a static
        code analysis tool to help with evolving the component library
      </p>
    </li>
    <li><p>Completed a frontend rewrite from Backbone to React</p></li>
    <li>
      <p>
        Designed and created a real-time asset visualization
        <a href="https://github.com/arubanetworks/meridian-web-sdk/"
          >SDK for the web</a
        >
      </p>
    </li>
  </ul>

  <article>
    <header>
      <h3>
        <a href="https://aws.amazon.com/media-services/elemental/"
          >AWS Elemental</a
        >
      </h3>
      <small>
        Part of <a href="https://aws.amazon.com/">AWS</a> &amp;
        <a href="https://www.amazon.com/">Amazon</a> &bull; Streaming video
        platform</small
      >
      <p>
        Software Development Engineer II
        <small>(May 2017&ndash;Feb 2018)</small>
      </p>
    </header>
    <ul>
      <li>
        <p>
          Drove best practices as a contributor on a wayward TypeScript project
        </p>
      </li>
      <li>
        <p>
          Migrated test suite to Mocha, advocated for Prettier (code formatter)
        </p>
      </li>
    </ul>
  </article>

  <article>
    <header>
      <h3><a href="https://www.cvent.com/">CrowdCompass</a></h3>
      <small>Now Cvent &bull; Event management &amp; attendee apps</small>
      <p>
        JavaScript Developer
        <small>(2016 Feb &ndash; 2017 May)</small>
      </p>
    </header>
    <ul>
      <li><p>Maintained multiple web apps (Ember, Rails+jQuery)</p></li>
      <li>
        <p>
          Migrated CoffeeScript to ES6; developed ESLint code quality strategy
        </p>
      </li>
    </ul>
  </article>

  <article>
    <header>
      <h3><a href="https://www.akamai.com/">Janrain</a></h3>
      <small>Now Akamai &bull; Identity management system</small>
      <p>
        JavaScript Developer
        <small>(2012 Sep &ndash; 2015 Jul)</small>
      </p>
    </header>
    <ul>
      <li>
        <p>
          Maintained a legacy library in production on thousands of sites, with
          IE8 support
        </p>
      </li>
      <li>Documented hundreds of features through extensive code research</li>
    </ul>
  </article>

  <h2>Key technical skills</h2>

  <p>
    JavaScript, TypeScript, HTML, CSS, React, Next.js, Stencil, Netlify, Vercel,
    CI/CD, web components, Python, bash, parsers
  </p>

  <h2>Projects</h2>

  <dl>
    <dt>
      <a href="https://www.pkmn.help">pkmn.help</a>
    </dt>
    <dd>A web app used by millions of Pokémon players.</dd>

    <dt>
      <a href="https://candy.wavebeem.com/">candy.css</a>
    </dt>
    <dd>A CSS library inspired by Web 2.0.</dd>

    <dt>
      <a href="https://2bit-ui.wavebeem.com/">2bit-ui</a>
    </dt>
    <dd>A CSS library inspired by the Game Boy Color.</dd>

    <dt>
      <a href="https://1bit-ui.wavebeem.com/">1bit-ui</a>
    </dt>
    <dd>A CSS library inspired by monochrome computers.</dd>

    <dt>
      <a href="https://bread-n-butter.wavebeem.com/">bread-n-butter</a>
    </dt>
    <dd>
      A modern parser combinator library for TypeScript, written as a
      replacement for Parsimmon.
    </dd>

    <dt>
      <a href="https://squiggle.wavebeem.com/">Squiggle</a>
    </dt>
    <dd>A compile-to-JS programming language.</dd>
  </dl>

  <h2>Education</h2>

  <p>B.A., Computer Science, Willamette University, Salem, OR, USA (2012)</p>
</article>
