<p>
  I typically write about web development, video games, or my own life.
</p>

<p>
  <a class="button" href="/subscribe/">Subscribe</a>
</p>

{% assign postsByYear = collections.posts | groupByYear %} {% for item in
postsByYear %} {% assign year = item[0] %} {% assign postList = item[1] %}

<h2>{{ year }}</h2>

{% for post in postList %}
<a class="card" href="{{ post.url }}">
  <div class="heading">{{ post.data.title | escape }}</div>
  <div class="description">{{ post.data.description | markdownify }}</div>
</a>
{% endfor %}
{% endfor %}
