<p>
  I typically write about web development, video games, or my own life.
</p>

<p>
  <a class="button" href="/subscribe/">Subscribe</a>
</p>

{% assign postsByYear = collections.posts | groupByYear %} {% for item in
postsByYear %} {% assign year = item[0] %} {% assign postList = item[1] %}

<h2>{{ year }}</h2>

<ul>
  {% for post in postList %}
  <li>
    <p>
      <a href="{{ post.url }}">
        {{ post.data.title | escape }}
      </a>
    </p>
  </li>
  {% endfor %}
  </ul>
{% endfor %}
