---
title: >-
  Pokémon
description: >-
  Pokémon is one of the most important game franchises to me. I started playing
  Pokémon Blue on the original Game Boy as a kid, and as an adult I created
  Pokémon Type Calculator in 2013.
layout: "layout-base"
theme: "shrine_pkmn"
---

<style>
  :has(#gbc-filter:checked) img[src*=".gbc."] {
    mix-blend-mode: multiply;
    filter: saturate(0.8) hue-rotate(-2deg);
  }
</style>

<article>
  <header>
    <h1>{{ title }}</h1>

    <p>{{ description }}</p>
  </header>

  <h2>Pokémon Type Calculator</h2>

  <figure>
    <img src="./img/pkmn.help-light.webp" alt="" />
    <figcaption>
      The 2025 version of Pokémon Type Calculator (light theme)
    </figcaption>
  </figure>

  <figure>
    <img src="./img/pkmn.help-dark.webp" alt="" />
    <figcaption>
      The 2025 version of Pokémon Type Calculator (dark theme)
    </figcaption>
  </figure>

  <figure>
    <img src="./img/pkmn.help-night.webp" alt="" />
    <figcaption>
      The 2025 version of Pokémon Type Calculator (night theme)
    </figcaption>
  </figure>

  <figure>
    <img src="./img/pkmn.help-classic.webp" alt="" />
    <figcaption>
      The original 2013 version of Pokémon Type Calculator
    </figcaption>
  </figure>

  <h2>Pokémon Blue</h2>

  <figure>
    <img src="./img/pkmn-blue.webp" alt="" />
    <figcaption>Pokémon Blue Version for Game Boy</figcaption>
  </figure>

  <h2>Pokémon Crystal</h2>

  <label>
    <input id="gbc-filter" type="checkbox" autocomplete="off" checked />
    <span
      >Enable Game Boy Color filter for more authentic looking
      screenshots.</span
    >
  </label>

  <figure>
    <img src="./img/title.gbc.webp" alt="" />
    <figcaption>Pokémon Crystal Version for Game Boy Color</figcaption>
  </figure>

  <figure>
    <img src="./img/gender.gbc.webp" alt="" />
    <figcaption>
      Pokémon Crystal was the first Pokémon game where you could play as a girl.
    </figcaption>
  </figure>

  <figure>
    <img src="./img/sage.gbc.webp" alt="" />
    <figcaption>
      It's me, Sage. I think it's interesting that the text "ID No." has
      anti-aliasing, unlike all other text on screen.
    </figcaption>
  </figure>

  <figure>
    <img src="./img/building.gbc.webp" alt="" />
    <figcaption>
      I love the tile floor in this little outpost... whatever you call the
      areas that section off the routes in the game.
    </figcaption>
  </figure>

  <figure>
    <img src="./img/shop.gbc.webp" alt="" />
    <figcaption>The shop is so well designed.</figcaption>
  </figure>

  <figure>
    <img src="./img/rival.gbc.webp" alt="" />
    <figcaption>The rival (Silver) is so gender.</figcaption>
  </figure>

  <figure>
    <img src="./img/house.gbc.webp" alt="" />
    <figcaption>
      This house with a tatami mat floor is so detailed and colorful!
    </figcaption>
  </figure>

  <figure>
    <img src="./img/mom.gbc.webp" alt="" />
    <figcaption>
      I love the retro cell phone interface for calling people.
    </figcaption>
  </figure>

  <figure>
    <img src="./img/falkner1.gbc.webp" alt="" />
    <figcaption>Falkner's gym</figcaption>
  </figure>

  <figure>
    <img src="./img/falkner2.gbc.webp" alt="" />
    <figcaption>Falkner's portrait</figcaption>
  </figure>

  <figure>
    <img src="./img/bugsy.gbc.webp" alt="" />
    <figcaption>
      Between Pidgey and Quilava, Bugsy was a complete pushover.
    </figcaption>
  </figure>
</article>
