<p>Where to find me around the internet.</p>

<p>
  Email is the best way to get a hold of me if we don't know each other well
  already. Otherwise, Discord is best for chat. I don't use social media very much.
</p>

<hr />

<dl class="wide-dl">
  <dt>Email</dt>
  <dd>
    <a href="mailto:sage@wavebeem.com">sage<wbr />&commat;wavebeem.com</a>
  </dd>

  <dt>Discord</dt>
  <dd>
    <a href="https://discordapp.com/users/85098165748908032">wavebeem</a>
  </dd>

  <dt>Mastodon</dt>
  <dd>
    <a rel="me" href="https://toot.community/@wavebeem"
      >wavebeem<wbr />&commat;toot.community</a
    >
  </dd>

  <dt>Bluesky</dt>
  <dd>
    <a href="https://bsky.app/profile/wavebeem.com">wavebeem.com</a>
  </dd>

  <dt>GitHub</dt>
  <dd>
    <a href="https://github.com/wavebeem/">wavebeem</a>
  </dd>

  <dt>Steam</dt>
  <dd>
    <a href="https://steamcommunity.com/id/wavebeem/">wavebeem</a>
  </dd>

  <dt>Backloggd</dt>
  <dd>
    <a href="https://www.backloggd.com/u/wavebeem/">wavebeem</a>
  </dd>
</dl>
