<div class="item">
    <h2>iTerm</h2>
    <p>
        iTerm is probably my second most used program after Chrome.
        I've never been happy with the tab bar styles, so I decided
        to build on my limited iOS development experience and dive
        into the iTerm code base to add a new tab style. I worked
        with the project maintainer over the course of around a
        month to integrate my code cleanly with the existing code
        base. See the
        <a
            target="_blank"
            href="https://github.com/gnachman/iTerm2/pull/185"
        >pull request on GitHub</a>
        for more info.
    </p>
</div>

<div class="item">
    <h2>Ramda</h2>
    <p>
        <a
            target="_blank"
            href="https://github.com/ramda/ramda"
        >Ramda</a>
        is a functional programming library for JavaScript for
        which I've written
        <a
            target="_blank"
            href="https://github.com/ramda/ramda/pulls?q=is%3Apr+author%3Asaikobee+is%3Aclosed"
        >a large amount of documentation</a>
        and participated in pull request discussions.
    </p>
</div>

<div class="item">
    <h2>Jison</h2>
    <p>
        I wrote
        <a
            target="_blank"
            href="https://github.com/zaach/jison/pull/217/files"
        >additional documentation</a>
        for important and undocumented features in Jison.
    </p>
</div>

<div class="item">
    <h2>Window Managers</h2>
    <p>
        I used Linux as my primary OS for several years, and contributed code to
        <a
            target="_blank"
            href="https://github.com/Mikachu/openbox/commit/2391410e3fd7767e266c0efe84fd34244ea29dc6"
        >Openbox</a>
        and
        <a
            target="_blank"
            href="https://github.com/xorg62/wmfs/pull/2"
        >wmfs</a>.
    </p>
</div>
