<p>
  I'm the new maintainer for the JavaScript parser combinator library
  <a
    target="_blank"
    href="https://github.com/jneen/parsimmon/"
  >Parsimmon</a>.
  I've upgraded the documentation, answered issues/questions,
  and released several new versions of the library.
</p>

<p>
  I added a new tab bar theme to iTerm2, working closely with the project maintainer.
  See the
  <a
    target="_blank"
    href="https://github.com/gnachman/iTerm2/pull/185"
  >pull request on GitHub</a>
  for more info.
</p>

<p>
  <a
    target="_blank"
    href="https://github.com/ramda/ramda"
  >Ramda</a>
  is a functional programming library for JavaScript for
  which I've written
  <a
    target="_blank"
    href="https://github.com/ramda/ramda/pulls?q=is%3Apr+author%3Awavebeem+is%3Aclosed"
  >a large amount of documentation</a>
  and participated in pull request discussions.
</p>

<p>
  I wrote
  <a
    target="_blank"
    href="https://github.com/zaach/jison/pull/217/files"
  >additional documentation</a>
  for important and undocumented features in Jison.
</p>
