<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="author" content="Brian Mock">
<meta name="description" content="{{ page.description }}">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@wavebeem">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{{ page.description }}">
<meta name="twitter:image" content="https://mockbrian.com/brian.png">

<title>{{ page.title }}</title>

{% assign t = site.time | date: '%s%N' %}

<link rel="stylesheet" media="screen" href="/tachyons.min.css?t={{ t }}">
<link rel="stylesheet" media="screen" href="/style.css?t={{ t }}">

<script async src="/ga.js"></script>
