{% assign t = site.time | date: '%s%N' %}

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="author" content="Brian Mock">
<meta name="description" content="{{ page.description }}">
<meta name="theme-color" content="#e8fdf5">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@wavebeem">
<meta name="twitter:creator" content="@wavebeem">
<meta name="og:title" content="{{ page.title }}">
<meta name="og:description" content="{{ page.description }}">
<meta name="og:image" content="https://mockbrian.com/brian.png">

<title>{{ page.title }}</title>

<link rel="stylesheet" media="screen" href="/tachyons.min.css?t={{ t }}">
<link rel="stylesheet" media="screen" href="/style.css?t={{ t }}">

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  (function(host) {
    var ids = {
      "dev.mockbrian.com": "UA-52704502-2",
      "mockbrian.com": "UA-52704502-1",
    };
    if (host in ids) {
      ga("create", ids[host], "auto");
      ga("send", "pageview");
    }
  }(window.location.host));
</script>
