<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="theme-color" content="#00755b">
<meta name="msapplication-navbutton-color" content="#00755b">

<meta name="author" content="Brian Mock">
<meta name="description" content="{{ page.description }}">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@wavebeem">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{{ page.description }}">
<meta name="twitter:image" content="https://gravatar.com/avatar/c32e7e8baaee948e2ba1f607646da74d?s=150">

<title>{{ page.title }}</title>

<link rel="stylesheet" media="screen" href="/tachyons.min.css?t={{ site.time | date: '%s%N' }}">
<link rel="stylesheet" media="screen" href="/style.css?t={{ site.time | date: '%s%N' }}">

<script async src="/ga.js"></script>
