<header class="jumbotron">
    <div class="header-item">
        <div class="me">
            <h1>
                <img
                    alt="Brian Mock"
                    src="https://gravatar.com/avatar/c32e7e8baaee948e2ba1f607646da74d?s=150"
                    width="150"
                    height="150"
                    class="header-item selfie"
                >
                Brian Mock
            </h1>

            <p>
                I love programming and games. I obsess over style and
                user experience. I like functional programming and
                solid code reviews. I contribute to open source
                development from time to time. I live in Portland,
                OR.
            </p>
        </div>

        <div class="header-links">
            <a class="round" href="mailto:brian@mockbrian.com"
            >brian@mockbrian.com</a>

            <a class="round" href="resume"
            >resume</a>

            <a class="round" href="https://github.com/saikobee/"
            >github</a>
        </div>
    </div>
</header>
