<header>
  <div class="Me">
    <img
      alt="Brian Mock"
      src="https://gravatar.com/avatar/c32e7e8baaee948e2ba1f607646da74d?s=150"
      width="150"
      height="150"
      class="Selfie"
    >
    <h1>
      Brian Mock
    </h1>
    <p>
      He/him. Likes computers, games, cats, cute stuff.
      Always building something new. Lives in Portland, OR.
    </p>
  </div>
  <div class="HeaderLinks">
    <a class="OutlineButton" href="mailto:brian@mockbrian.com">brian@mockbrian.com</a>
    <a class="OutlineButton" href="resume">resume</a>
    <a class="OutlineButton" href="blog">blog</a>
    <a class="OutlineButton" href="https://github.com/wavebeem/">github</a>
  </div>
</header>
