{% assign nav_default = "link fb ph3 pv4 bn black-60 hover-black" %}
{% assign nav_current = "link fb ph3 pv4 green bb bw2" %}

<nav class="b ttu f3-ns f4 flex ph3 mb4 bb bw1 b--black-10">
  <a class="{% if page.tab == 'home' %}{{ nav_current }}{% else %}{{ nav_default }}{% endif %}" href="/">Brian Mock</a>
  <a class="{% if page.tab == 'blog' %}{{ nav_current }}{% else %}{{ nav_default }}{% endif %}" href="/blog">Blog</a>
  <a class="{% if page.tab == 'resume' %}{{ nav_current }}{% else %}{{ nav_default }}{% endif %}" href="/resume">Resume</a>
</nav>
