{% assign nav_default = "bb bw2 hover-bg-black-10 link fb pa3 flex items-center b--transparent color-inherit" %}

{% assign mini_class = "pv3 ph4 h-100 flex-auto" %}

<!-- Small nav -->
<div class="dn-ns">
  <div class="bb bw1 b--black-10 mb4 bg-green white">
    <h1 class="ma0 f1">
      <span href="/" class="pv3 ph4 flex h-100">
        Brian Mock
      </span>
    </h1>
    <nav class="f2 flex flex-column">
      <a class="{{ nav_default }} {{ mini_class }}" href="/">Home</a>
      <a class="{{ nav_default }} {{ mini_class }}" href="/blog">Blog</a>
      <a class="{{ nav_default }} {{ mini_class }}" href="/resume">Resume</a>
    </nav>
  </div>
</div>

<!-- Big nav -->
<div class="dn db-ns">
  <div class="flex bb bw1 b--black-10 mb4 items-center bg-green white">
      <h1 class="h-100 mt0 mb0 f3">
        <span class="ph4 flex items-center h-100">
          Brian Mock
        </span>
      </h1>
    <nav class="f3 flex">
        <a class="{{ nav_default }}" href="/"><span>Home</span></a>
        <a class="{{ nav_default }}" href="/blog"><span>Blog</span></a>
        <a class="{{ nav_default }}" href="/resume"><span>Resume</span></a>
      </nav>
  </div>
</div>
