<p>
  <a
    target="_blank"
    href="http://squiggle-lang.org/"
  >Squiggle</a> is a compile-to-JS programming language
  I spent several months developing, but no longer actively maintain.
</p>

<p>
  <a
    target="_blank"
    href="https://github.com/wavebeem/screenhive"
  >Screenhive</a> a screenshot organizer app written with Electron that runs on Windows and macOS.
</p>

<p>
  <a
    target="_blank"
    href="https://itunes.apple.com/us/app/algebra-card-clutter/id549330499"
  >Algebra Card Clutter</a>
  is an educational math game being used in schools.
</p>

<p>
  <a
    target="_blank"
    href="https://pkmn.help"
  >pkmn.help</a>
  is a Pokémon matchup calculator showing strengths and weaknesses
  for particular type combinations.
</p>

<p>
  I made
  <a
    target="_blank"
    href="https://chrome.google.com/webstore/search/brian%20mock?utm_source=chrome-ntp-icon&_category=themes"
  >several themes for Chrome</a>.
</p>

<p>
  <a
    target="_blank"
    href="https://chrome.google.com/webstore/detail/yet-another-new-tab-page/imfkhhcponjpjhfpaccepedaabjclbjj"
  >yantp</a> is a replacement new tab page extension for Chrome.
</p>

<p>
  <a
    target="_blank"
    href="http://misc.mockbrian.com/lattescript/"
  >LatteScript</a>
  is the first programming language I made.
</p>