<div class="item">
    <h2>Squiggle</h2>
    <p>
        <a
            target="_blank"
            href="http://squiggle-lang.org/"
        >Squiggle</a> is a compile-to-JS programming language
        I spent several months developing, but no longer actively maintain.
    </p>
</div>

<div class="item">
    <h2>Algebra Card Clutter</h2>
    <p>
        I worked a two person contract making an educational math
        game for middle school kids. We were given a rough two
        sentence proposal for the app as a starting point, from
        which we designed the screens of the game, the art assets,
        and the code.
        <a
            target="_blank"
            href="https://itunes.apple.com/us/app/algebra-card-clutter/id549330499"
        >The app is free for iPad</a>,
        and is being used in schools.
    </p>
</div>

<div class="item">
    <h2>pkmn.help</h2>
    <p>
        <a
            target="_blank"
            href="https://pkmn.help"
        >pkmn.help</a>
        is a Pokémon matchup calculator showing strengths and weaknesses
        for particular type combinations.
    </p>
</div>

<div class="item">
    <h2>Chrome Extensions</h2>
    <p>
        I have published
        <a
            target="_blank"
            href="https://chrome.google.com/webstore/search/brian%20mock?utm_source=chrome-ntp-icon&_category=themes"
        >several themes for Chrome</a>.
    </p>
    <p>
        I also made a replacement New Tab Page extension for
        Chrome, called
        <a
            target="_blank"
            href="https://chrome.google.com/webstore/detail/yet-another-new-tab-page/imfkhhcponjpjhfpaccepedaabjclbjj"
        >yantp</a>.
    </p>
</div>

<div class="item">
    <h2>LatteScript</h2>
    <p>
        <a
            target="_blank"
            href="http://misc.mockbrian.com/lattescript/"
        >LatteScript</a>
        is programming language I made as part of my senior
        project at
        <a
            target="_blank"
            href="https://willamette.edu/"
        >Willamette University</a>.
        It feels like a cross between Python and Pascal, and runs
        entirely within the browser.
    </p>
</div>
