<div class="item">
    <h2>JavaScript Gotchas with This and New</h2>
    <p>
        I wrote about the
        <a
            target="_blank"
            href="https://medium.com/@wavebeem/javascript-gotchas-with-this-and-new-dfb65e387ef"
        >various issues</a>
        that can happen when using <code>this</code> and <code>new</code> in JavaScript.
    </p>
</div>

<div class="item">
    <h2>Parsing with Jison</h2>
    <p>
        <a
            target="_blank"
            href="http://mockbrian.com/talk/jison/#/"
        >Parsing with Jison</a>,
        I compared parsing hex colors in JavaScript using
        <a
            target="_blank"
            href="http://zaach.github.io/jison/docs/"
        >Jison</a> and a hand-written regex-based parser.
    </p>
</div>

<div class="item">
    <h2>Parsing JSON</h2>
    <p>
        <a
            target="_blank"
            href="http://mockbrian.com/talk/parsing-jison/#/"
        >Parsing in JS</a>,
        a more involved talk about the theory and practice of
        parsing, comparing and contrasting techniques, and even
        walking through a JSON parser implementation.
    </p>
</div>

<div class="item">
    <h2>PEG.js &amp; Jison</h2>
    <p>
        <a
            target="_blank"
            href="http://mockbrian.com/talk/peg-jison/#/"
        >PEG.js &amp; Jison</a>,
        a talk comparing and contrasting PEG.js with Jison.
    </p>
</div>

<div class="item">
    <h2>JS Curry</h2>
    <p>
        <a
            target="_blank"
            href="http://mockbrian.com/talk/js-curry/#/"
        >JS Curry</a>,
        a talk about currying functions in JavaScript, and its
        pitfalls.
    </p>
</div>

<div class="item">
    <h2>img-cat</h2>
    <p>
        <a
            target="_blank"
            href="https://www.npmjs.com/package/img-cat"
        >img-cat</a>,
        is a cool program I wrote for displaying PNGs in your terminal, and I demoed it for an audience.
    </p>
</div>
