---
title: >-
  Links
layout: "layout-page"
---

<p>
  Links to other websites. I take no responsibility for what you might see on
  any of them. All links are in alphabetical order. Remind me to organize them
  later.
</p>

<hr />

<dl>
  {% for link in coolLinks.allLinks %}
  <dt>
    <a href="{{ link.url }}">{{ link.title }}</a>
  </dt>
  <dd>
    {{ link.description | escape }}
  </dd>
  {% endfor %}
</dl>

<h2>Embed my site button</h2>

<p>
  I don't really like having a site button, but I made one anyway for all the
  folks who liking collecting them for their button walls.
</p>

<p>
  You're welcome to use this image, but I might update it frequently, or my
  website's design may not reflect how this button looks.
</p>

<p>
  You're allowed to hotlink the image if you'd like, the bandwidth really
  isn't expensive.
</p>

<img
  class="pixelated"
  src="/button.webp"
  width="88"
  height="31"
  alt="wavebeem.com"
  title="wavebeem.com"
/>

{% highlight html %}
<a href="https://wavebeem.com">
  <img
    width="88"
    height="31"
    alt="wavebeem.com"
    title="wavebeem.com"
    src="https://wavebeem.com/button.webp"
    style="image-rendering: pixelated;"
  />
</a>
{% endhighlight %}
