<p>
  Links to other websites. I take no responsibility for what you might see on
  any of them. All links are in alphabetical order. Remind me to organize them
  later.
</p>

<hr />

<dl>
  {% for link in coolLinks.allLinks %}
  <dt>
    <a href="{{ link.url }}">{{ link.title }}</a>
  </dt>
  <dd>
    {{ link.description | escape }}
  </dd>
  {% endfor %}
</dl>

<h2>Embed My Site Button</h2>

<p>
  You're welcome to use this image to link to my site.
</p>

<img
  class="pixelated"
  src="/button.webp"
  width="88"
  height="31"
  alt="wavebeem.com"
  title="wavebeem.com"
/>

{% highlight html %}
<a href="https://wavebeem.com">
  <img
    width="88"
    height="31"
    alt="wavebeem.com"
    title="wavebeem.com"
    src="https://wavebeem.com/button.webp"
    style="image-rendering: pixelated;"
  />
</a>
{% endhighlight %}

<h2>Other Art Assets</h2>

<figure>
  <img
    src="/banner.png"
    width="768"
    height="256"
    alt=""
  />
  <figcaption>Banner image</figcaption>
</figure>

<figure>
  <img
    src="/og-image.png"
    width="512"
    height="256"
    alt=""
  />
  <figcaption>Open Graph image</figcaption>
</figure>


<div class="photo-grid">
  <figure>
      <img
      src="/favicon.png"
      width="128"
      height="128"
      style="image-rendering: pixelated;"
      alt=""
    />
    <figcaption>Favicon (PNG)</figcaption>
  </figure>

  <figure>
    <img
      src="/favicon.svg"
      width="128"
      height="128"
      alt=""
    />
    <figcaption>Favicon (SVG)</figcaption>
  </figure>
</div>
