<p>
  Links to other websites. I take no responsibility for what you might see on
  any of them. All links are in alphabetical order. Remind me to organize them
  later.
</p>

<ul class="card">
  <li><a href="#featured">&rarr; Featured Links</a></li>
  <li><a href="#art">&rarr;  Artists & Musicians</a></li>
  <li><a href="#fonts">&rarr;  Fonts</a></li>
  <li><a href="#eggbug">&rarr;  Friends of Eggbug</a></li>
</ul>

<h2 id="featured">Featured Links</h2>

<ul>
  <li>
    <p><strong><a href="https://anhvn.com/">anhvn</a></strong></p>
    <p>very cool i love this website</p>
  </li>
  <li>
    <p><strong><a href="https://erambert.me">Damien Erambert</a></strong></p>
    <p><strong><a href="https://damien.zone">damien's zone</a></strong></p>
    <p><strong><a href="https://macthemes.garden">Mac Themes Garden</a></strong></p>
    <p>very cool i love this website</p>
  </li>
  <li>
    <p><strong><a href="https://www.joshwcomeau.com/">Josh W. Comeau</a></strong></p>
    <p>My favorite web development blog. Josh makes advanced topics approachable, and his interactive examples are so detailed.</p>
  </li>
</ul>

<h2 id="art">Artists & Musicians</h2>

<ul>
  <li>
    <p><strong><a href="https://2mello.net/">2 Mello</a></strong></p>
    <p>todo todo</p>
  </li>
  <li>
    <p><strong><a href="https://sproutsnout.com/">sproutsnout's garden</a></strong></p>
    <p>todo todo</p>
  </li>
  <li>
    <p><strong><a href="https://www.shaferbrown.com/">Shafer Brown Illustration</a></strong></p>
    <p>todo todo</p>
  </li>
  <li>
    <p><strong><a href="https://madmaddiecomms.carrd.co/">MADDIEBISCUITS ART</a></strong></p>
    <p>todo todo</p>
  </li>
  <li>
    <p><strong><a href="https://aurahack.ca/">AURAHACK</a></strong></p>
    <p>todo todo</p>
  </li>
  <li>
    <p><strong><a href="https://www.thirdwayindustries.com">Thirdway Industries</a></strong></p>
    <p>Gorgeous collectible card decks (standard 52) designed in Italy.</p>
  </li>
  <li>
    <p><strong><a href="https://helveticablanc.com">Helvetica Blanc</a></strong></p>
    <p>An artist exploring mysticism, mythopoeia, and connections between art and magick in a variety of media.</p>
  </li>
  <li>
    <p>🔞 <strong><a href="https://bsky.app/profile/notdiegues.bsky.social">digos</a></strong> <small>(Adults Only)</small></p>
    <p>todo todo</p>
  </li>
  <li>
    <p>🔞 <strong><a href="https://www.oglaf.com">Oglaf</a></strong> <small>(Adults Only)</small></p>
    <p>My favorite webcomic, and the only one I still read weekly. Not only is it sexy and funny, but it has permanently altered my vocabulary.</p>
  </li>
  <li>
    <p>🔞 <strong><a href="https://www.cominginhandy.com">Winton Kidd</a></strong> <small>(Adults Only)</small></p>
    <p>An erotic comic artists's online store.</p>
  </li>
</ul>

<h2 id="fonts">Fonts</h2>

<ul>
  <li>
    <p><strong><a href="https://pangrampangram.com">Pangram Pangram Foundry</a></strong></p>
    <p>Gorgeous fonts, free to try. I use many of their fonts myself.</p>
  </li>
  <li>
    <p><strong><a href="https://fonts.google.com">Google Fonts</a></strong></p>
    <p>It's hard to argue with free! I use Robot (Variable) on the Pokémon Type Calculator.</p>
  </li>
  <li>
    <p><strong><a href="https://www.arcanetype.com">Arcane Type Foundry</a></strong></p>
    <p>TODO</p>
  </li>
  <li>
    <p><strong><a href="https://djr.com">DJR | David Jonathon Ross</a></strong></p>
    <p>TODO</p>
  </li>
  <li>
    <p><strong><a href="https://typeheist.co">TYPEHEIST Font Foundry</a></strong></p>
    <p>TODO</p>
  </li>
  <li>
    <p><strong><a href="https://velvetyne.fr">Velvetyne</a></strong></p>
    <p>TODO</p>
  </li>
</ul>

<h2 id="eggbug">Friends of Eggbug</h2>

<ul>
  <li>
    <p><strong><a href="https://lexfeathers.ca/">Lex Feathers</a></strong></p>
    <p>A Canadian composer, musician, and web developer.</p>
  </li>
  <li>
    <p><strong><a href="https://milliesquilly.com/">Millie Squilly Dot Com</a></strong></p>
    <p><strong><a href="https://zine.milliesquilly.com/">zine of millie</a></strong></p>
    <p>A premier Decker zine creator and physical media enthusiast.</p>
  </li>
  <li>
    <p><strong><a href="https://cdrom.ca/">CD-ROM Journal</a></strong></p>
    <p>Exploring multimedia games and software of the 90s and beyond.</p>
  </li>
  <li>
    <p><strong><a href="https://drac.at/">Dracat</a></strong></p>
    <p>A large catlike creature, resembling a hybrid of feline and reptilian features. Known to reside on the internet.</p>
  </li>
</ul>

<details>
  <summary>
    Old links
  </summary>
  <dl>
    {% for link in coolLinks.allLinks %}
    <dt>
      <a href="{{ link.url }}">{{ link.title }}</a>
    </dt>
    <dd>
      {{ link.description | escape }}
    </dd>
    {% endfor %}
  </dl>
</details>

<h2>Want to Link to Me?</h2>

Get my <a href="./me/">art assets</a> and link to my site.
