---
title: "Shin Megami Tensei"
layout: "layout-base"
theme: "shrine_smt"
---

<article>
  <header>
    <h1>{{ title | escape }}</h1>
  </header>

  <h2>Under construction</h2>

  <figure>
    <img
      src="./assets/smt4a.webp"
      alt=""
      loadin="eager"
      width="800"
      height="450"
    />
    <figcaption>Shin Megami Tensei IV Apocalypse</figcaption>
  </figure>

  <figure>
    <img
      src="./assets/smtv.webp"
      alt=""
      loadin="eager"
      width="800"
      height="400"
    />
    <figcaption>Shin Megami Tensei V</figcaption>
  </figure>

  <figure>
    <img
      src="./assets/smtvv.webp"
      alt=""
      loadin="lazy"
      width="800"
      height="450"
    />
    <figcaption>Shin Megami Tensei V: Vengeance</figcaption>
  </figure>

  <figure>
    <video
      src="./assets/gustave.small.mp4"
      poster="./assets/gustave.small.webp"
      controls
      preload="none"
      width="1280"
      height="720"
    ></video>
    <figcaption>Gustave from SMT V</figcaption>
  </figure>
</article>
