---
title: "Shin Megami Tensei"
description: "Blah blah blah."
layout: "layout-base"
theme: "shrine_smt"
---

<article>
  <header>
    <h1>{{ title }}</h1>

    <p>{{ description }}</p>
  </header>

  <h2>Under construction</h2>

  <figure>
    <img src="smt4a.webp" alt="" />
    <figcaption>Shin Megami Tensei IV Apocalypse</figcaption>
  </figure>

  <figure>
    <img src="smtv.webp" alt="" />
    <figcaption>Shin Megami Tensei V</figcaption>
  </figure>

  <figure>
    <img src="smtvv.webp" alt="" />
    <figcaption>Shin Megami Tensei V: Vengeance</figcaption>
  </figure>

  <figure>
    <video src="./gustave.small.mp4" controls></video>
    <figcaption>Gustave from SMT V</figcaption>
  </figure>
</article>
