.Content {
  max-width: $contentWidth;
  padding: $smallGap $gap;
  font-family: $fontPara;
  font-size: 1.25rem;

  figure {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    color: #ddd;
    background: #333;
    padding: 0.5rem;
    margin: 20px 0;
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  figure img {
    box-sizing: border-box;
    box-shadow: 0 0 3px black;
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  figcaption {
    padding-top: 0.5rem;
    font-family: $fontHeading;
    font-size: 1rem;
  }

  figcaption a {
    @include pretty-link(#fff);
  }

  pre,
  code {
    font-size: 1rem;
    font-family: $fontMonospace;
  }

  pre {
    padding: 1rem;
    margin: 1rem 0;
    border-radius: $radius;
    overflow-x: auto;
  }

  p,
  ul li {
    line-height: 1.5;
  }

  h1,
  h2,
  h3 {
    font-family: $fontHeading;
  }

  h1, h2, h3 {
    a {
      padding: 0;
      color: inherit;
      text-decoration: inherit;
      border: none;
      background: transparent;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  section:not(:first-child) {
    margin-top: 3em;
  }

  hr {
    border: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  }

  h2 {
    font-size: 1.8rem;
    padding-top: 2rem;
    padding-bottom: 0.25rem;
    margin-top: 0;
    margin-bottom: 0.75rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  }

  li a,
  p a {
    @include pretty-link($darkGreen);
  }

  ul {
    padding-left: 1.5rem;
    list-style-type: disc;
  }

  li + li {
    margin-top: 0.25rem;
  }

  .anchorjs-link {
    color: $darkGreen;

    &:hover {
      opacity: 0.6 !important;
    }
  }

  li code,
  p code {
    display: inline-block;
    padding: 0;
    color: $codeColor;
    background-color: rgba($codeColor, 0.05);
  }
}
