$lh-copy: 1.5;
$lh-title: 1.25;

$f1: 3rem;
$f2: 2.25rem;
$f3: 1.5rem;
$f4: 1.25rem;
$f5: 1rem;
$f6: 0.875rem;

.Content {
  max-width: $contentWidth;
  padding: 0 2rem;
  font-family: $fontPara;
  font-size: $f4;

  figure {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    color: #ddd;
    background: #333;
    padding: 0.5rem;
    margin: 1rem 0;
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  figure img {
    box-sizing: border-box;
    border: 1px solid black;
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  figcaption {
    padding-top: 0.5rem;
    font-family: $fontMain;
    font-size: $f5;
  }

  figcaption a {
    @include pretty-link(#fff);
  }

  blockquote {
    color: #333;
    margin-left: -2rem;
    margin-right: 0;
    padding-left: 2rem;
    border-left: 0.25rem solid #777;
    font-style: italic;
  }

  pre,
  code {
    font-size: $f5;
    font-family: $fontMonospace;
  }

  pre {
    padding: 1rem;
    margin: 1rem 0;
    border-radius: $radius;
    overflow-x: auto;
  }

  p,
  ul li {
    line-height: $lh-copy;
  }

  h1,
  h2,
  h3 {
    font-family: $fontMain;
    line-height: $lh-title;
  }

  h1, h2, h3 {
    a {
      padding: 0;
      color: inherit;
      text-decoration: inherit;
      border: none;
      background: transparent;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  hr {
    border: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  }

  h2 {
    font-size: $f2;
    padding-bottom: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  }

  li a,
  p a {
    @include pretty-link($darkGreen);
  }

  ul {
    padding-left: 1.5rem;
    list-style-type: disc;
  }

  li + li {
    margin-top: 0.25rem;
  }

  li code,
  p code {
    display: inline-block;
    padding: 0;
    color: $codeColor;
    background-color: rgba($codeColor, 0.05);
  }
}
