$green: #19a974;
$darkGreen: #137752;
$fontMain: "Helvetica", "Arial", sans-serif;
$fontPara: "Georgia", "Cambria", "Palatino", serif;
$fontMonospace: "Menlo", "Consolas", monospace;
$fontHeading: "Lucida Grande", "Verdana", sans-serif;
$codeColor: #e7040f;
$gap: 1rem;
$radius: 0;
$smallGap: ($gap / 2);
$contentWidth: 700px;
$smallSize: $contentWidth;

.print {
  display: none;
}

.font-para { font-family: $fontPara; }
.font-main { font-family: $fontMain; }

@mixin pretty-link($color) {
  color: $color;
  text-decoration: underline;
  -webkit-text-decoration-skip: skip;
  text-decoration-skip: ink;

  &,
  &:link {
    transition: none;
  }

  &:hover {
    opacity: 0.6;
  }
}

.pretty-link {
  @include pretty-link($darkGreen);
}

.SpeechBubble {
  background: #222;
  color: white;
  position: relative;
}

.SpeechBubble:after {
  $size: 8px;
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-left: $size solid transparent;
  border-right: $size solid transparent;
  border-top: $size solid #222;
  border-bottom: 0;
  margin-left: (-$size);
  bottom: (-$size);
  left: 50%;
}

html {
  background: #fff;
  color: black;
  font-family: $fontMain;
  font-size: 16px;
  line-height: 1.5;

  @media (max-width: 600px) {
    font-size: 12px;
  }
}

// Specificity fun!
.link:focus,
:focus {
  outline: none;
  box-shadow:
    0 0 0 2px white,
    0 0 0 4px black;
}
