$linkColor: #d5008f;
$fontMain: "Helvetica", "Arial", sans-serif;
$fontPara: "Georgia", "Cambria", "Palatino", serif;
$fontMonospace: "Menlo", "Consolas", monospace;
$codeColor: #5e2ca5;
$radius: 0;
$contentWidth: 48rem;

.print {
  display: none;
}

.hover-bottomline:focus,
.hover-bottomline:hover {
  box-shadow: 0 0.125rem 0 0 currentColor;
}

.hover-outline:focus,
.hover-outline:hover {
  box-shadow: 0 0 0 0.125rem currentColor;
  border-radius: 0.25rem;
}

@mixin pretty-link($color) {
  color: $color;
  text-decoration: underline;

  & {
    transition: none;
  }

  &:hover {
    opacity: 0.6;
  }
}

.pretty-link {
  @include pretty-link($linkColor);
}

.link:focus, // battling tachyons here
:focus {
  outline: none;
  box-shadow: 0 0 0 2px white, 0 0 0 4px black;
  border-radius: 0.25rem;
}
