// Using colors from Tachyons:
// http://tachyons.io/docs/themes/skins/

// Handy guide for Pygments cryptic CSS classes:
// https://gist.github.com/scotu/1272660

.highlight {
  $bg: #111111;
  $fg: #eeeeee;
  $green: #9eebcf;
  $blue: #96ccff;
  $gray1: #cccccc;
  $gray2: #aaaaaa;
  $yellow: #ffd700;
  $orange: #ffb700;

  pre {
    background: $bg;
  }

  pre code {
    color: $fg;
  }

  // .nt = Name tag
  // .kd = Function
  // .k = Keyword
  // .kr = Keyword
  .nt, .kd, .k, .kr { color: $green; }

  // .nx = Normal
  .nx { color: $fg; }

  // .na = Name attribute
  // .nb = Name builtin
  // .nn = Namespace
  .na, .nb, .nn { color: $fg; }

  // .p = Punctuation
  // .o = Operator
  // .si = String interpolation
  .p, .o, .si, .se { color: $gray2; }

  // .s = String
  // .s1 = String
  // .s2 = String
  // .sr = Regexp
  // .si = String escape
  .s, .s1, .s2, .sr, .se { color: $yellow; }

  // .no = Named constant
  // .kc = Constant
  // .kt = Type constant
  // .py = Named property
  .no, .kc, .mi, .kt, .py { color: $gray1; }

  // .mi = Number
  .mi { color: $orange; }

  // .c = Comment
  // .c1 = Comment
  // .cm = Comment
  .c, .c1, .cm { color: $blue; }
}
