<h2>I love Gnosia</h2>

<p>
  Gnosia is such a special game to me. The two most important characters (Setsu
  and Raqio) are both nonbinary, and the player character can be too. I played
  this game before I came out as nonbinary, and my repressed feelings
  intertwined with the fabulous art, music, and narrative to form a magical
  experience.
</p>

<h2>Raqio</h2>

<p>Official art of Raqio from Gnosia.</p>

<div class="photo-grid">
  <figure>
    <img
      data-aspect="square"
      src="./assets/raqio1.webp"
      loading="lazy"
      width="1000"
      height="563"
    />
  </figure>
  <figure>
    <img src="./assets/raqio2.webp" loading="lazy" width="800" height="800" />
  </figure>
  <figure>
    <img src="./assets/raqio3.webp" loading="lazy" width="1000" height="1000" />
  </figure>
  <figure>
    <img src="./assets/raqio4.webp" loading="lazy" width="1000" height="1000" />
  </figure>
  <figure>
    <img src="./assets/raqio5.webp" loading="lazy" width="1000" height="1000" />
  </figure>
  <figure>
    <img
      data-aspect="square"
      data-position="top"
      src="./assets/raqio6.webp"
      loading="lazy"
      width="600"
      height="1000"
    />
  </figure>
</div>

<h2>Commissioned art</h2>

<p>
  I commissioned one of my favorite artists,
  <a href="https://sproutsnout.com/">sproutsnout</a>, to draw Raqio.
</p>

<div class="photo-grid">
  <figure>
    <img
      src="./assets/sproutsnout/raqio.webp"
      alt=""
      loading="lazy"
      width="637"
      height="824"
    />
    <figcaption>Raqio</figcaption>
  </figure>
</div>
