---
const today = new Date();
import { MY_NAME } from "../consts";
import menu from "../data/menu";
---

<div class="footer-top"></div>
<footer class="footer screen-only">
  <div class="content-column flex flex-column gap3">
    <nav class="footer-links">
      {
        menu.map((item) => {
          return (
            <a href={item.url} class="sage-link">
              {item.title}
            </a>
          );
        })
      }
    </nav>
    <wavebeem-theme-select>
      <select
        class="theme-select sage-button"
        autocomplete="off"
        aria-label="Select theme..."
      >
        <option value="" disabled selected>Select theme...</option>
        <option value="auto">Auto</option>
        <option value="light">Light</option>
        <option value="dark">Dark</option>
      </select>
    </wavebeem-theme-select>
    <div>&copy; {today.getFullYear()} {MY_NAME}</div>
  </div>
</footer>

<style>
  .footer-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  :where(.footer-links) .sage-link {
    font-weight: normal;
    max-width: max-content;
    padding: 0.5rem 0;
  }

  :is(.nav, .header, .footer-links) .sage-link {
    text-decoration-line: none;
  }

  :is(.nav, .header, .footer-links) .sage-link:hover {
    text-decoration-line: underline;
  }

  .footer {
    font-size: var(--font-size-small);
    font-weight: bold;
    background: var(--color-footer-background);
  }

  /* https://css-shape.com/rounded-edge/ */
  .footer-top {
    background: var(--color-footer-background);
    clip-path: ellipse(65% 100% at 50% 100%);
    padding-top: 3rem;
    margin-top: 2rem;
  }

  .footer .content-column {
    padding-top: 0;
  }

  .footer .sage-button {
    padding-block: 0.25rem;
    max-width: max-content;
  }

  .theme-select {
    -webkit-appearance: none;
    appearance: none;
    max-width: max-content;
  }
</style>
