---
import menu from "../data/menu";
// NOTE: Use `Astro.url.pathname` to check the current path for "active"
// checks for anchor tags...
---

<header class="header screen-only">
  <div class="content-column">
    <div class="flex">
      <a href="/" class="logo sage-link">wavebeem </a>
    </div>
    <details class="hamburger">
      <summary>Menu</summary>
      <nav class="nav">
        {
          menu.map((item) => {
            return (
              <a href={item.url} class="sage-link">
                {item.title}
              </a>
            );
          })
        }
      </nav>
    </details>
  </div>
</header>
<div class="slime"></div>

<style>
  .nav {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    justify-content: flex-end;
    padding: 0;
  }

  .nav :any-link {
    padding: 0.5rem 1rem;
    background: var(--color-header-button);
    color: var(--color-header-text);
    border-radius: 0.5rem;
    text-decoration-line: none;
    text-decoration-thickness: 2px;
  }

  .nav :any-link:hover {
    text-decoration-line: underline;
  }

  @media (min-width: 800px) {
    .nav {
      margin-left: auto;
    }

    .nav :any-link {
      font-size: 1.25rem;
    }
  }

  .hamburger {
    margin: 0;
  }

  .hamburger > summary {
    list-style: none;
    appearance: none;
    text-align: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
  }

  .hamburger summary::-webkit-details-marker {
    display: none;
  }

  .hamburger > summary::after {
    content: "";
    display: block;
    width: 0.75rem;
    height: 0.5rem;
    clip-path: polygon(50% 100%, 100% 0, 0 0);
    background: currentColor;
  }

  .hamburger > summary {
    position: relative;
    background: var(--color-header-button);
    padding: 0.25rem 1rem;
    border-radius: 9999px;
    font-weight: bold;
    cursor: default;
  }

  .hamburger[open] > summary {
    margin: inherit;
  }

  .hamburger[open] > summary::after {
    rotate: 0.5turn;
  }

  .header {
    background: var(--color-header-background);
    color: var(--color-header-text);
  }

  .header .logo,
  .header :any-link {
    color: inherit;
  }

  .header .logo {
    margin-left: -1rem;
  }

  .header .content-column {
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    isolation: isolate;
    padding: 1rem;
  }

  .header .hamburger {
    display: contents;
  }

  .slime {
    height: 2rem;
    background: var(--color-header-background);
    /* https://css-generators.com/wavy-shapes/ */
    --mask: radial-gradient(
          1.35rem at 50% calc(100% - 1.9rem),
          #000 99%,
          #0000 101%
        )
        calc(50% - 2rem) 0/4rem 100%,
      radial-gradient(1.35rem at 50% calc(100% + 0.9rem), #0000 99%, #000 101%)
        50% calc(100% - 1rem) / 4rem 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
  }

  .logo {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-family: var(--font-logo);
    /* Prevent Safari from making this even bolder lol */
    font-synthesis: none;
    font-weight: normal;
    text-decoration-line: none;
    text-transform: uppercase;
  }

  :is(.nav, .header, .footer-links) .sage-link {
    text-decoration-line: none;
  }

  :is(.nav, .header, .footer-links) .sage-link:hover {
    text-decoration-line: underline;
  }
</style>
