---
import menu from "../data/menu";
// NOTE: Use `Astro.url.pathname` to check the current path for "active"
// checks for anchor tags...
---

<header class="header screen-only">
  <div class="content-column">
    <div class="flex">
      <a href="/" class="logo sage-link">wavebeem </a>
    </div>
    <details class="hamburger">
      <summary>Menu</summary>
      <nav class="nav">
        {
          menu.map((item) => {
            return (
              <a href={item.url} class="sage-link">
                {item.title}
              </a>
            );
          })
        }
      </nav>
    </details>
  </div>
</header>
<div class="slime"></div>

<style>
  .logo {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-family: var(--font-logo);
    /* Prevent Safari from making this even bolder lol */
    font-synthesis: none;
    font-weight: normal;
    text-decoration-line: none;
    text-transform: uppercase;
  }

  :is(.nav, .header, .footer-links) .sage-link {
    text-decoration-line: none;
  }

  :is(.nav, .header, .footer-links) .sage-link:hover {
    text-decoration-line: underline;
  }
</style>
