---
title: "Subscribe"
description: "Subscribe to see my latest posts"
layout: "layout-base"
---

<article>
  <header>
    <h1>{{ title }}</h1>
  </header>

  <p>
    You can add my <a href="/feed.xml">RSS feed</a> to your favorite RSS feed
    reader to stay up to date with my latest posts.
  </p>

  <p>
    <a href="/feed.xml" class="button">Get RSS feed</a>
  </p>

  <aside>
    <small>
      You can use a free RSS feed reader like Feedly, Inoreader, or NewsBlur.
      Feed readers keep track of new posts from your favorite websites.
    </small>
  </aside>
</article>
