<!DOCTYPE html>
<html lang="en" class="bit-auto">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    {{ partial "nav.html" . }}
    <main class="font-sans">
      <h1>Posts</h1>
      <ul>
        {{ range .Pages }}
        <li>
          <p>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            <br />{{ .Date.Format "January 02, 2006" }}
          </p>
        </li>
        {{ end }}
      </ul>
    </main>
    {{ .Content }} {{ partial "footer.html" . }}
  </body>
</html>
