<section class="menu">
  <a class="menu-card" href="/">Home</a>
  <a class="menu-card" href="/blog/">Blog</a>
  <a class="menu-card" href="/art/">Art</a>

  <a class="menu-card" href="/about/">About</a>
  <a class="menu-card" href="/projects/">Projects</a>
  <a class="menu-card" href="/resume/">Resume</a>
  <a class="menu-card" href="/contact/">Contact</a>

  <a class="menu-card" href="/toybox/">Toybox</a>
  <a class="menu-card" href="/shrines/">Shrines</a>
  <a class="menu-card" href="/uses/">Things I use</a>
  <a class="menu-card" href="/past-designs/">Past designs</a>
  <a class="menu-card" href="/credits/">Credits</a>
  <a class="menu-card" href="/links/">Links</a>
  <a class="menu-card"></a>
</section>

<!-- <ul class="card">
  <li><a href="/">Home</a></li>
  <li><a href="/blog/">Blog</a></li>
  <li><a href="/art/">Art</a></li>
</ul>

<ul class="card">
  <li><a href="/about/">About</a></li>
  <li><a href="/projects/">Projects</a></li>
  <li><a href="/resume/">Resume</a></li>
  <li><a href="/contact/">Contact</a></li>
</ul>

<ul class="card">
  <li><a href="/toybox/">Toybox</a></li>
  <li><a href="/shrines/">Shrines</a></li>
  <li><a href="/uses/">Things I use</a></li>
  <li><a href="/past-designs/">Past designs</a></li>
  <li><a href="/credits/">Credits</a></li>
  <li><a href="/links/">Links</a></li>
</ul> -->
