---
title: "Castlevania"
description: "Blah blah blah."
layout: "layout-base"
theme: "shrine_castlevania"
---

<article>
  <header>
    <h1>{{ title }}</h1>

    <p>{{ description }}</p>
  </header>

  <h2>Under construction</h2>

  <figure>
    <img src="cv-aos.webp" alt="" />
    <figcaption>Castlevania: Aria of Sorrow for Game Boy Advance</figcaption>
  </figure>

  <figure>
    <img src="what-is-a-man.webp" alt="" />
    <figcaption>Castlevania: Symphony of the Night for PlayStation</figcaption>
  </figure>
</article>
