---
import PageLayout from "@/layouts/PageLayout.astro";
---

<PageLayout title="Page Not Found">
  <p>
    Sorry, it looks like I broke something on my website. Please{" "}
    <a href="/contact/">send me</a> the URL in your address bar and tell me where
    you found it.
  </p>

  <a class="button" href="/">&larr; Take me home</a>
</PageLayout>
