<p>Your guide to all the other pages on my website.</p>

<!--
<h2>Favorites</h2>

<div class="layout-wrap2col">
  <a class="button" href="/">Home</a>
  <a class="button" href="/about/">About</a>
  <a class="button" href="/projects/">Projects</a>
  <a class="button" href="/blog/">Blog</a>
  <a class="button" href="/art/">Art</a>
</div> -->

<h2>Creations</h2>

<div class="layout-wrap2col">
  <a class="button" href="/toybox/">Toybox</a>
  <a class="button" href="/shrines/">Shrines</a>
  <a class="button" href="/uses/">Things I use</a>
  <a class="button" href="/past-designs/">Past designs</a>
</div>

<h2>Other</h2>

<div class="layout-wrap2col">
  <a class="button" href="/credits/">Credits</a>
  <a class="button" href="/resume/">Resume</a>
  <a class="button" href="/links/">Links</a>
  <a class="button" href="/contact/">Contact</a>
</div>
