---
title: >-
  Pages
layout: "layout-page"
---

<p>Your guide to all the pages on my website.</p>

<h2>Favorites</h2>

<dl>
  <dt><a href="/">Home</a></dt>
  <dd>It's my home page.</dd>

  <dt><a href="/about/">About</a></dt>
  <dd>Learn more about me.</dd>

  <dt><a href="/projects/">Projects</a></dt>
  <dd>A list of my personal projects with screenshots and descriptions.</dd>

  <dt><a href="/blog/">Blog</a></dt>
  <dd>Posts about programming, video games, life, and more.</dd>

  <dt><a href="/art/">Art</a></dt>
  <dd>My personal art gallery.</dd>
</dl>

<h2>Creations</h2>

<dl>
  <dt><a href="/toybox/">Toybox</a></dt>
  <dd>Little toys and tricks made with HTML/CSS/JS.</dd>

  <dt><a href="/shrines/">Shrines</a></dt>
  <dd>Little pages dedicated to things I love.</dd>

  <dt><a href="/uses/">Things I Use</a></dt>
  <dd>A list of tools I use with short reviews about them.</dd>


  <dt><a href="/past-designs/">Past Designs</a></dt>
  <dd>A gallery of previous designs I created for this site.</dd>
</dl>

<h2>Other</h2>

<dl>
  <dt><a href="/credits/">Credits</a></dt>
  <dd>A list of tools and services used to build this site.</dd>

  <dt><a href="/resume/">Resume</a></dt>
  <dd>Hello recruiters.</dd>

  <dt><a href="/links/">Links</a></dt>
  <dd>Links to other sites you might like.</dd>

  <dt><a href="/contact/">Contact</a></dt>
  <dd>How to contact me and where to find me around the web.</dd>
</dl>
