---
title: >-
  Pokémon
layout: "layout-base"
---

<style>
  :where(:has(#gbc-filter:checked)) img[src*=".gbc."]:where(:not(:hover)) {
    filter: saturate(0.8) contrast(0.8) brightness(1.2) hue-rotate(-10deg);
  }
</style>

<article>
  <header>
    <h1>{{ title | escape }}</h1>

    <p>
      Pokémon is one of the most important game franchises to me. I started
      playing Pokémon Blue on the original Game Boy as a kid, and as an adult I
      created Pokémon Type Calculator in 2013.
    </p>
  </header>

  <h2>Pokémon Type Calculator</h2>

  <p>
    The <a href="https://www.pkmn.help">Pokémon Type Calculator</a> (pkmn.help)
    is easily my magnum opus. It receives over
    <a href="https://plausible.io/pkmn.help">250 thousand visits per month</a>,
    and visitors usually spend around 4 minutes per session.
  </p>

  <p>
    What began as a personal project in 2013 when I was frustrated loading the
    ad-riddled
    <a href="https://bulbapedia.bulbagarden.net">Bulbapedia</a> on my budget
    Android smartphone is now considered a pillar of the Pokémon community. And
    I never spent a red cent on advertising it. It grew purely through search
    engine results and word of mouth.
  </p>

  <figure>
    <img
      src="./assets/pkmn.help-light.webp"
      alt=""
      width="1280"
      height="804"
      loading="eager"
    />
    <figcaption>
      The 2025 version of Pokémon Type Calculator (light theme)
    </figcaption>
  </figure>

  <figure>
    <img
      src="./assets/pkmn.help-dark.webp"
      alt=""
      width="1280"
      height="804"
      loading="lazy"
    />
    <figcaption>
      The 2025 version of Pokémon Type Calculator (dark theme)
    </figcaption>
  </figure>

  <figure>
    <img
      src="./assets/pkmn.help-night.webp"
      alt=""
      width="1280"
      height="804"
      loading="lazy"
    />
    <figcaption>
      The 2025 version of Pokémon Type Calculator (night theme)
    </figcaption>
  </figure>

  <figure>
    <img
      src="./assets/pkmn.help-classic.webp"
      alt=""
      width="1280"
      height="875"
      loading="lazy"
    />
    <figcaption>
      The original 2013 version of Pokémon Type Calculator
    </figcaption>
  </figure>

  <h2>Pokémon Blue</h2>

  <p>
    The first Pokémon game I ever played: Pokémon Blue. I played it on the
    original
    <a href="https://en.wikipedia.org/wiki/Game_Boy">Game Boy</a> (DMG-01) unit.
    It took 4 AA batteries and the screen was barely visible unless under direct
    sunlight, but I was enamored. I definitely spent hundreds of hours playing
    the game.
  </p>

  <p>
    After beating the Elite Four countless times, catching most of the Pokédex,
    and getting my core party nearly to level 100, disaster struck. It had been
    so long since I had seen the beginning of the game, I decided to start a new
    game just to mess around. And in a brief moment of pure muscle memory, I
    saved my game, overwriting all of my hard earned progress. I was devastated.
    The whole ordeal left me bitter and uninterested in starting the next
    Pokémon game (Gold/Silver).
  </p>

  <p>
    I didn't own and finish a new Pokémon game until Pokémon Platinum (2008) for
    the Nintendo DS. I have owned and played every main line Pokémon game since
    then. At some point I went back and played Pokémon Leaf Green, the Game Boy
    Advance remake of Pokémon Red/Blue.
  </p>

  <figure>
    <img
      src="./assets/pkmn-blue.webp"
      alt=""
      width="800"
      height="793"
      loading="lazy"
    />
    <figcaption>Pokémon Blue Version for Game Boy</figcaption>
  </figure>

  <h2>Pokémon Crystal</h2>

  <p>
    I ordered the
    <a href="https://www.analogue.co/pocket">Analogue Pocket</a> in 2020,
    shortly after I had a surging interest in playing Game Boy games. I had just
    finished playing Dragon Quest I+II and Dragon Quest Monsters for the Game
    Boy Color, and I was thrilled to get my fancy new backlight USB-C GB/GBC/GBA
    compatible device. But it mostly sat in a drawer for a while.
  </p>

  <p>
    At some point my partner unearthed their old Game Boy cartridges. The save
    batteries had died, but knowing how to solder, it's not a tough fix. I
    stepped in and soldered new save batteries into the cartridges. Then a
    couple years later I got the urge to play their copy of Crystal. Despite not
    playing Gold/Silver/Crystal in their era, I was a huge Game Boy kid, so I'm
    enamored with the graphics so far.
  </p>

  <p>
    I haven't found many good sources of lossless screenshots of pixel art video
    games online, so I wanted to create a gallery of fun images from my
    playthrough.
  </p>

  <hr />

  <label>
    <input id="gbc-filter" type="checkbox" autocomplete="off" checked />
    <div>Game Boy Color screenshot filter</div>
  </label>

  <div>
    <small>You can hover the images to temporarily turn off the effect.</small>
  </div>

  <hr />

  <figure>
    <img
      src="./assets/title.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
    <figcaption>Pokémon Crystal Version for Game Boy Color</figcaption>
  </figure>

  <figure>
    <img
      src="./assets/gender.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
    <figcaption>
      Pokémon Crystal was the first Pokémon game where you could play as a girl.
    </figcaption>
  </figure>

  <figure>
    <img
      src="./assets/sage.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
    <figcaption>
      It's me, Sage. I think it's interesting that the text "ID No." has
      anti-aliasing, unlike all other text on screen.
    </figcaption>
  </figure>

  <figure>
    <img
      src="./assets/building.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
    <figcaption>
      I love the tile floor in this little outpost... whatever you call the
      areas that section off the routes in the game.
    </figcaption>
  </figure>

  <figure>
    <img
      src="./assets/shop.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
    <figcaption>The shop is so well designed.</figcaption>
  </figure>

  <figure>
    <img
      src="./assets/rival.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
    <figcaption>The rival (Silver) is so gender.</figcaption>
  </figure>

  <figure>
    <img
      src="./assets/house.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
    <figcaption>
      This house with a tatami mat floor is so detailed and colorful!
    </figcaption>
  </figure>

  <figure>
    <img
      src="./assets/mom.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
    <figcaption>
      I love the retro cell phone interface for calling people.
    </figcaption>
  </figure>

  <figure>
    <img
      src="./assets/falkner1.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
    <figcaption>Falkner's gym</figcaption>
  </figure>

  <figure>
    <img
      src="./assets/falkner2.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
    <figcaption>Falkner's portrait</figcaption>
  </figure>

  <figure>
    <img
      src="./assets/bugsy.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
    <figcaption>
      Between Pidgey and Quilava, Bugsy was a complete pushover.
    </figcaption>
  </figure>

  <figure>
    <img
      src="./assets/glitch.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
    <figcaption>Some kind of glitch...</figcaption>
  </figure>

  <figure>
    <img
      src="./assets/pikachu.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
    <figcaption>
      I'm so jealous! Raichu is my favorite Pokémon, but you can't get one
      (unless you get extremely lucky from the egg) until well after you beat
      the Elite Four :(
    </figcaption>
  </figure>

  <figure>
    <img
      src="./assets/hyuck.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
    <figcaption>Hyuck-hyuck-hyuck!</figcaption>
  </figure>

  <figure>
    <img
      src="./assets/suffer.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
    <figcaption>Feeling this a lot lately.</figcaption>
  </figure>

  <figure>
    <img
      src="./assets/curse.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
    <figcaption>Gastly using Curse</figcaption>
  </figure>

  <figure>
    <img
      src="./assets/gambling.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
    <figcaption>The <q>Game Corner</q> (gambling)</figcaption>
  </figure>

  <figure>
    <img
      src="./assets/ball-dexterity.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
    <figcaption>Hehehe</figcaption>
  </figure>

  <figure>
    <img
      src="./assets/raichu.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
    <figcaption>OMG it's Raichu! My favorite Pokémon.</figcaption>
  </figure>

  <figure>
    <img
      src="./assets/vaporeon.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
    <figcaption>Vaporeon</figcaption>
  </figure>

  <figure>
    <img
      src="./assets/jolteon.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
    <figcaption>Jolteon</figcaption>
  </figure>

  <figure>
    <img
      src="./assets/flareon.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
    <figcaption>Flareon</figcaption>
  </figure>

  <figure>
    <img
      src="./assets/espeon.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
    <figcaption>Espeon</figcaption>
  </figure>

  <figure>
    <img
      src="./assets/umbreon.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
    <figcaption>Umbreon</figcaption>
  </figure>

  <figure>
    <img
      src="./assets/suicune.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
    <figcaption>
      My least favorite thing in Pokémon: catching legendary/mythical Pokémon.
      Having a 1% chance per ball and just save scumming a fight is not even
      remotely fun.
    </figcaption>
  </figure>

  <figure>
    <img
      src="./assets/psychic.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
    <figcaption>
      Some of the attack animations are really impressive for the Game Boy
      Color.
    </figcaption>
  </figure>

  <figure>
    <img
      src="./assets/lance.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
    <figcaption>
      I was pretty underleveled for the Elite Four, but by using
      <strong>strong</strong> Pokémon instead of my favorites, I was able to win
      without grinding. Sorry Karen, but I'm an adult with a job, I don't have
      time to win with my favorites.
    </figcaption>
  </figure>

  <figure>
    <img
      src="./assets/win0.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
    <figcaption>
      That's me! It took about 50 hours including some grinding I didn't really
      need to do. Plus I left the game idle a bit while playing in docked mode
      with my Analogue Pocket.
    </figcaption>
  </figure>

  <figure>
    <img
      src="./assets/win1.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
    <figcaption>
      I didn't really want to take any legendary/mythical Pokémon to the Elite
      Four, but I didn't feel like grinding and Suicune was already at a good
      level. So they were my backup Ice attack user for Alakazam, and I may have
      used a Water attack once?
    </figcaption>
  </figure>

  <figure>
    <img
      src="./assets/win2.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
    <figcaption>
      Golem has historically been fantastic on my team, but the Elite Four was
      better at hitting his weaknesses. He did help out, though.
    </figcaption>
  </figure>

  <figure>
    <img
      src="./assets/win3.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
    <figcaption>
      Alakazam is absurdly good in this game. Thunder Punch, Ice Punch, and
      Psychic made him an absolute monster.
    </figcaption>
  </figure>

  <figure>
    <img
      src="./assets/win4.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
    <figcaption>
      Gyarados! I feel like he was such a monster in some of the games I played,
      but I didn't have as much luck with him here. Loading him up first with
      Surf then with the inferior Waterfall, combined with his lackluster
      Special Attack, made him mediocre at using his STAB for Water attacks. He
      mostly just uses Strength and hits hard. But hey, cool free shiny
      Gyarados, right?
    </figcaption>
  </figure>

  <figure>
    <img
      src="./assets/win5.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
    <figcaption>
      Dragonair! I got the free Dratini from the dragon master guy and then gave
      him the Exp. Share. I haven't actually used him in combat yet, but I'm
      excited to eventually get a Dragonite, I guess. But the slow growth rate
      is brutal.
    </figcaption>
  </figure>

  <figure>
    <img
      src="./assets/win6.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
    <figcaption>
      My starter, Typhlosion. Not as good as I hoped, honestly. He takes way too
      long to get any decent Fire moves. Putting Rollout on him was pretty great
      though, since he avoids the array of Rock type weaknesses and has the HP
      to stay alive long enough for Rollout to become a real threat.
    </figcaption>
  </figure>

  <figure>
    <img
      src="./assets/end.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
    <figcaption>
      Whew! I did it. I beat the Elite Four. I've heard Kanto is mostly a cake
      walk after Johto, so I think I'll take the time to go through it.
    </figcaption>
  </figure>
</article>
