<style>
  .grid16x16 {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    gap: 24px;
  }
</style>

<p>
  Pokémon is one of the most important game franchises to me. I started playing
  Pokémon Blue on the original Game Boy as a kid, and as an adult I created
  Pokémon Type Calculator in 2013.
</p>

<h2>PKMN.help &ndash; Pokémon Type Calculator</h2>

<p>
  <a href="https://www.pkmn.help">PKMN.help</a> (Pokémon Type Calculator) is
  easily my magnum opus. It receives over
  <a href="https://plausible.io/pkmn.help">250 thousand visits per month</a>,
  and visitors usually spend around 4 minutes per session.
</p>

<p>
  What began as a personal project in 2013 when I was frustrated loading the
  ad-riddled
  <a href="https://bulbapedia.bulbagarden.net">Bulbapedia</a> on my budget
  Android smartphone is now considered a pillar of the Pokémon community. And I
  never spent a red cent on advertising it. It grew purely through search engine
  results and word of mouth.
</p>

<figure>
  <img
    src="./assets/pkmn.help.webp"
    alt=""
    width="1280"
    height="1024"
    loading="eager"
  />
  <figcaption>The 2025 version of Pokémon Type Calculator</figcaption>
</figure>

<figure>
  <img
    src="./assets/pkmn.help-classic.webp"
    alt=""
    width="1280"
    height="875"
    loading="lazy"
  />
  <figcaption>The original 2013 version of Pokémon Type Calculator</figcaption>
</figure>

<h2>Pokémon Blue</h2>

<p>
  The first Pokémon game I ever played: Pokémon Blue. I played it on the
  original
  <a href="https://en.wikipedia.org/wiki/Game_Boy">Game Boy</a> (DMG-01) unit.
  It took 4 AA batteries and the screen was barely visible unless under direct
  sunlight, but I was enamored. I definitely spent hundreds of hours playing the
  game.
</p>

<p>
  After beating the Elite Four countless times, catching most of the Pokédex,
  and getting my core party nearly to level 100, disaster struck. It had been so
  long since I had seen the beginning of the game, I decided to start a new game
  just to mess around. And in a brief moment of pure muscle memory, I saved my
  game, overwriting all of my hard earned progress. I was devastated. The whole
  ordeal left me bitter and uninterested in starting the next Pokémon game
  (Gold/Silver).
</p>

<p>
  I didn't own and finish a new Pokémon game until Pokémon Platinum (2008) for
  the Nintendo DS. I have owned and played every main line Pokémon game since
  then. At some point I went back and played Pokémon Leaf Green, the Game Boy
  Advance remake of Pokémon Red/Blue.
</p>

<figure>
  <img
    src="./assets/pkmn-blue.webp"
    alt=""
    width="800"
    height="793"
    loading="lazy"
  />
  <figcaption>Pokémon Blue Version for Game Boy</figcaption>
</figure>

<h2>Pokémon Crystal</h2>

<p>
  I ordered the
  <a href="https://www.analogue.co/pocket">Analogue Pocket</a> in 2020, shortly
  after I had a surging interest in playing Game Boy games. I had just finished
  playing Dragon Quest I+II and Dragon Quest Monsters for the Game Boy Color,
  and I was thrilled to get my fancy new backlight USB-C GB/GBC/GBA compatible
  device. But it mostly sat in a drawer for a while.
</p>

<p>
  At some point my partner unearthed their old Game Boy cartridges. The save
  batteries had died, but knowing how to solder, it's not a tough fix. I stepped
  in and soldered new save batteries into the cartridges. Then a couple years
  later I got the urge to play their copy of Crystal. Despite not playing
  Gold/Silver/Crystal in their era, I was a huge Game Boy kid, so I'm enamored
  with the graphics so far.
</p>

<p>
  I haven't found many good sources of lossless screenshots of pixel art video
  games online, so I wanted to create a gallery of fun images from my
  playthrough.
</p>

<a href="crystal" class="button">Pokémon Crystal image gallery &rarr;</a>

<h3>Commissioned Art</h3>

<p>
  I commissioned one of my favorite artists,
  <a href="https://sproutsnout.com/">sproutsnout</a>, to draw two of my favorite
  Pokémon.
</p>

<div class="photo-grid">
  <figure>
    <img
      src="./assets/sproutsnout/raichu.webp"
      alt="Raichu"
      width="1200"
      height="1500"
      loading="lazy"
      data-orientation="vertical"
    />
    <figcaption>Raichu, my favorite Pokémon</figcaption>
  </figure>

  <figure>
    <img
      src="./assets/sproutsnout/bulbasaur.webp"
      alt="Bulbasaur"
      width="1620"
      height="2160"
      loading="lazy"
      data-orientation="vertical"
    />
    <figcaption>Shiny Bulbasaur, a beloved Pokémon</figcaption>
  </figure>
</div>

<h3>Sprite Recolors</h3>

<p>
  Like a digital coloring book, I used to love recoloring sprites ripped from my
  favorite games. After playing Pokémon Crystal, I decided to recolor a few of
  the 16x16 menu sprites.
</p>

<div class="grid16x16">
  <img
    src="./assets/recolor16/bulbasaur.webp"
    alt="bulbasaur"
    width="64"
    height="64"
    loading="lazy"
  />
  <img
    src="./assets/recolor16/charmander.webp"
    alt="charmander"
    width="64"
    height="64"
    loading="lazy"
  />
  <img
    src="./assets/recolor16/squirtle.webp"
    alt="squirtle"
    width="64"
    height="64"
    loading="lazy"
  />
  <img
    src="./assets/recolor16/pikachu.webp"
    alt="pikachu"
    width="64"
    height="64"
    loading="lazy"
  />
  <img
    src="./assets/recolor16/gengar.webp"
    alt="gengar"
    width="64"
    height="64"
    loading="lazy"
  />
  <img
    src="./assets/recolor16/ho-oh.webp"
    alt="ho-oh"
    width="64"
    height="64"
    loading="lazy"
  />
  <img
    src="./assets/recolor16/lugia.webp"
    alt="lugia"
    width="64"
    height="64"
    loading="lazy"
  />
</div>
