<style>
  :root {
    --filter-gbc: saturate(80%) contrast(80%) brightness(120%)
      hue-rotate(-10deg) brightness(95%);
  }

  img[src*=".gbc."] {
    transition: 200ms filter;
  }

  :where(:has(#gbc-filter:checked)) {
    img[src*=".gbc."] {
      &:where(:not(:hover)) {
        filter: var(--filter-gbc);
      }
    }
  }

  .grid16x16 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .gbc-frame {
    display: flex;
    max-width: max-content;
    padding: 4px;
    background: #040404;
    border: 32px solid #333;
    border-radius: 16px;
    position: relative;
  }

  .gbc-frame img {
    border-radius: 0;
  }
</style>

<p>
  Pokémon is one of the most important game franchises to me. I started playing
  Pokémon Blue on the original Game Boy as a kid, and as an adult I created
  Pokémon Type Calculator in 2013.
</p>

<h2>Pokémon Type Calculator</h2>

<p>
  The <a href="https://www.pkmn.help">Pokémon Type Calculator</a> (pkmn.help) is
  easily my magnum opus. It receives over
  <a href="https://plausible.io/pkmn.help">250 thousand visits per month</a>,
  and visitors usually spend around 4 minutes per session.
</p>

<p>
  What began as a personal project in 2013 when I was frustrated loading the
  ad-riddled
  <a href="https://bulbapedia.bulbagarden.net">Bulbapedia</a> on my budget
  Android smartphone is now considered a pillar of the Pokémon community. And I
  never spent a red cent on advertising it. It grew purely through search engine
  results and word of mouth.
</p>

<figure>
  <img
    src="./assets/pkmn.help-light.webp"
    alt=""
    width="1280"
    height="804"
    loading="eager"
  />
  <figcaption>
    The 2025 version of Pokémon Type Calculator (light theme)
  </figcaption>
</figure>

<figure>
  <img
    src="./assets/pkmn.help-dark.webp"
    alt=""
    width="1280"
    height="804"
    loading="lazy"
  />
  <figcaption>
    The 2025 version of Pokémon Type Calculator (dark theme)
  </figcaption>
</figure>

<figure>
  <img
    src="./assets/pkmn.help-night.webp"
    alt=""
    width="1280"
    height="804"
    loading="lazy"
  />
  <figcaption>
    The 2025 version of Pokémon Type Calculator (night theme)
  </figcaption>
</figure>

<figure>
  <img
    src="./assets/pkmn.help-classic.webp"
    alt=""
    width="1280"
    height="875"
    loading="lazy"
  />
  <figcaption>The original 2013 version of Pokémon Type Calculator</figcaption>
</figure>

<h2>Pokémon Blue</h2>

<p>
  The first Pokémon game I ever played: Pokémon Blue. I played it on the
  original
  <a href="https://en.wikipedia.org/wiki/Game_Boy">Game Boy</a> (DMG-01) unit.
  It took 4 AA batteries and the screen was barely visible unless under direct
  sunlight, but I was enamored. I definitely spent hundreds of hours playing the
  game.
</p>

<p>
  After beating the Elite Four countless times, catching most of the Pokédex,
  and getting my core party nearly to level 100, disaster struck. It had been so
  long since I had seen the beginning of the game, I decided to start a new game
  just to mess around. And in a brief moment of pure muscle memory, I saved my
  game, overwriting all of my hard earned progress. I was devastated. The whole
  ordeal left me bitter and uninterested in starting the next Pokémon game
  (Gold/Silver).
</p>

<p>
  I didn't own and finish a new Pokémon game until Pokémon Platinum (2008) for
  the Nintendo DS. I have owned and played every main line Pokémon game since
  then. At some point I went back and played Pokémon Leaf Green, the Game Boy
  Advance remake of Pokémon Red/Blue.
</p>

<figure>
  <img
    src="./assets/pkmn-blue.webp"
    alt=""
    width="800"
    height="793"
    loading="lazy"
  />
</figure>
<p>Pokémon Blue Version for Game Boy</p>

<h2>Pokémon Crystal</h2>

<p>
  I ordered the
  <a href="https://www.analogue.co/pocket">Analogue Pocket</a> in 2020, shortly
  after I had a surging interest in playing Game Boy games. I had just finished
  playing Dragon Quest I+II and Dragon Quest Monsters for the Game Boy Color,
  and I was thrilled to get my fancy new backlight USB-C GB/GBC/GBA compatible
  device. But it mostly sat in a drawer for a while.
</p>

<p>
  At some point my partner unearthed their old Game Boy cartridges. The save
  batteries had died, but knowing how to solder, it's not a tough fix. I stepped
  in and soldered new save batteries into the cartridges. Then a couple years
  later I got the urge to play their copy of Crystal. Despite not playing
  Gold/Silver/Crystal in their era, I was a huge Game Boy kid, so I'm enamored
  with the graphics so far.
</p>

<p>
  I haven't found many good sources of lossless screenshots of pixel art video
  games online, so I wanted to create a gallery of fun images from my
  playthrough.
</p>

<hr />

<label>
  <input id="gbc-filter" type="checkbox" autocomplete="off" checked />
  <div>Game Boy Color screenshot filter</div>
</label>

<div>
  <small>You can hover the images to temporarily turn off the effect.</small>
</div>

<hr />

<figure>
  <div class="gbc-frame">
    <img
      src="./assets/title.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
  </div>
</figure>
<p>Pokémon Crystal Version for Game Boy Color</p>

<figure>
  <div class="gbc-frame">
    <img
      src="./assets/gender.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
  </div>
</figure>
<p>
  Pokémon Crystal was the first Pokémon game where you could play as a girl.
</p>

<figure>
  <div class="gbc-frame">
    <img
      src="./assets/sage.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
  </div>
</figure>
<p>
  It's me, Sage. I think it's interesting that the text "ID No." has
  anti-aliasing, unlike all other text on screen.
</p>

<figure>
  <div class="gbc-frame">
    <img
      src="./assets/building.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
  </div>
</figure>
<p>
  I love the tile floor in this little outpost... whatever you call the areas
  that section off the routes in the game.
</p>

<figure>
  <div class="gbc-frame">
    <img
      src="./assets/shop.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
  </div>
</figure>
<p>The shop is so well designed.</p>

<figure>
  <div class="gbc-frame">
    <img
      src="./assets/rival.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
  </div>
</figure>
<p>The rival (Silver) is so gender.</p>

<figure>
  <div class="gbc-frame">
    <img
      src="./assets/house.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
  </div>
</figure>
<p>This house with a tatami mat floor is so detailed and colorful!</p>

<figure>
  <div class="gbc-frame">
    <img
      src="./assets/mom.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
  </div>
</figure>
<p>I love the retro cell phone interface for calling people.</p>

<figure>
  <div class="gbc-frame">
    <img
      src="./assets/falkner1.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
  </div>
</figure>
<p>Falkner's gym</p>

<figure>
  <div class="gbc-frame">
    <img
      src="./assets/falkner2.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
  </div>
</figure>
<p>Falkner's portrait</p>

<figure>
  <div class="gbc-frame">
    <img
      src="./assets/bugsy.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
  </div>
</figure>
<p>Between Pidgey and Quilava, Bugsy was a complete pushover.</p>

<figure>
  <div class="gbc-frame">
    <img
      src="./assets/glitch.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
  </div>
</figure>
<p>Some kind of glitch...</p>

<figure>
  <div class="gbc-frame">
    <img
      src="./assets/pikachu.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
  </div>
</figure>
<p>
  I'm so jealous! Raichu is my favorite Pokémon, but you can't get one (unless
  you get extremely lucky from the egg) until well after you beat the Elite Four
  :(
</p>

<figure>
  <div class="gbc-frame">
    <img
      src="./assets/hyuck.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
  </div>
</figure>
<p>Hyuck-hyuck-hyuck!</p>

<figure>
  <div class="gbc-frame">
    <img
      src="./assets/suffer.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
  </div>
</figure>
<p>Feeling this a lot lately.</p>

<figure>
  <div class="gbc-frame">
    <img
      src="./assets/curse.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
  </div>
</figure>
<p>Gastly using Curse</p>

<figure>
  <div class="gbc-frame">
    <img
      src="./assets/gambling.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
  </div>
</figure>
<p>The <q>Game Corner</q> (gambling)</p>

<figure>
  <div class="gbc-frame">
    <img
      src="./assets/ball-dexterity.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
  </div>
</figure>
<p>Hehehe</p>

<figure>
  <div class="gbc-frame">
    <img
      src="./assets/raichu.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
  </div>
</figure>
<p>OMG it's Raichu! My favorite Pokémon.</p>

<figure>
  <div class="gbc-frame">
    <img
      src="./assets/vaporeon.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
  </div>
</figure>
<p>Vaporeon</p>

<figure>
  <div class="gbc-frame">
    <img
      src="./assets/jolteon.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
  </div>
</figure>
<p>Jolteon</p>

<figure>
  <div class="gbc-frame">
    <img
      src="./assets/flareon.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
  </div>
</figure>
<p>Flareon</p>

<figure>
  <div class="gbc-frame">
    <img
      src="./assets/espeon.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
  </div>
</figure>
<p>Espeon</p>

<figure>
  <div class="gbc-frame">
    <img
      src="./assets/umbreon.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
  </div>
</figure>
<p>Umbreon</p>

<figure>
  <div class="gbc-frame">
    <img
      src="./assets/suicune.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
  </div>
</figure>
<p>
  My least favorite thing in Pokémon: catching legendary/mythical Pokémon.
  Having a 1% chance per ball and just save scumming a fight is not even
  remotely fun.
</p>

<figure>
  <div class="gbc-frame">
    <img
      src="./assets/psychic.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
  </div>
</figure>
<p>
  Some of the attack animations are really impressive for the Game Boy Color.
</p>

<figure>
  <div class="gbc-frame">
    <img
      src="./assets/lance.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
  </div>
</figure>
<p>
  I was pretty underleveled for the Elite Four, but by using
  <strong>strong</strong> Pokémon instead of my favorites, I was able to win
  without grinding. Sorry Karen, but I'm an adult with a job, I don't have time
  to win with my favorites.
</p>

<figure>
  <div class="gbc-frame">
    <img
      src="./assets/win0.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
  </div>
</figure>
<p>
  That's me! It took about 50 hours including some grinding I didn't really need
  to do. Plus I left the game idle a bit while playing in docked mode with my
  Analogue Pocket.
</p>

<figure>
  <div class="gbc-frame">
    <img
      src="./assets/win1.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
  </div>
</figure>
<p>
  I didn't really want to take any legendary/mythical Pokémon to the Elite Four,
  but I didn't feel like grinding and Suicune was already at a good level. So
  they were my backup Ice attack user for Alakazam, and I may have used a Water
  attack once?
</p>

<figure>
  <div class="gbc-frame">
    <img
      src="./assets/win2.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
  </div>
</figure>
<p>
  Golem has historically been fantastic on my team, but the Elite Four was
  better at hitting his weaknesses. He did help out, though.
</p>

<figure>
  <div class="gbc-frame">
    <img
      src="./assets/win3.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
  </div>
</figure>
<p>
  Alakazam is absurdly good in this game. Thunder Punch, Ice Punch, and Psychic
  made him an absolute monster.
</p>

<figure>
  <div class="gbc-frame">
    <img
      src="./assets/win4.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
  </div>
</figure>
<p>
  Gyarados! I feel like he was such a monster in some of the games I played, but
  I didn't have as much luck with him here. Loading him up first with Surf then
  with the inferior Waterfall, combined with his lackluster Special Attack, made
  him mediocre at using his STAB for Water attacks. He mostly just uses Strength
  and hits hard. But hey, cool free shiny Gyarados, right?
</p>

<figure>
  <div class="gbc-frame">
    <img
      src="./assets/win5.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
  </div>
</figure>
<p>
  Dragonair! I got the free Dratini from the dragon master guy and then gave him
  the Exp. Share. I haven't actually used him in combat yet, but I'm excited to
  eventually get a Dragonite, I guess. But the slow growth rate is brutal.
</p>

<figure>
  <div class="gbc-frame">
    <img
      src="./assets/win6.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
  </div>
</figure>
<p>
  My starter, Typhlosion. Not as good as I hoped, honestly. He takes way too
  long to get any decent Fire moves. Putting Rollout on him was pretty great
  though, since he avoids the array of Rock type weaknesses and has the HP to
  stay alive long enough for Rollout to become a real threat.
</p>

<figure>
  <div class="gbc-frame">
    <img
      src="./assets/end.gbc.webp"
      alt=""
      width="480"
      height="432"
      loading="lazy"
    />
  </div>
</figure>
<p>
  Whew! I did it. I beat the Elite Four. I've heard Kanto is mostly a cake walk
  after Johto, so I think I'll take the time to go through it.
</p>

<h3>Sprite recolors</h3>

<p>
  Like a digital coloring book, I used to love recoloring sprites ripped from my
  favorite games. After playing Pokémon Crystal, I decided to recolor a few of
  the 16x16 menu sprites.
</p>

<figure class="grid16x16">
  <img
    src="./assets/recolor16/bulbasaur.webp"
    alt="bulbasaur"
    width="64"
    height="64"
    loading="lazy"
  />
  <img
    src="./assets/recolor16/charmander.webp"
    alt="charmander"
    width="64"
    height="64"
    loading="lazy"
  />
  <img
    src="./assets/recolor16/squirtle.webp"
    alt="squirtle"
    width="64"
    height="64"
    loading="lazy"
  />
  <img
    src="./assets/recolor16/pikachu.webp"
    alt="pikachu"
    width="64"
    height="64"
    loading="lazy"
  />
  <img
    src="./assets/recolor16/gengar.webp"
    alt="gengar"
    width="64"
    height="64"
    loading="lazy"
  />
  <img
    src="./assets/recolor16/ho-oh.webp"
    alt="ho-oh"
    width="64"
    height="64"
    loading="lazy"
  />
  <img
    src="./assets/recolor16/lugia.webp"
    alt="lugia"
    width="64"
    height="64"
    loading="lazy"
  />
</figure>
