.avatar {
  --avatar-size: 200px;
  --avatar-padding: 0px;
  float: right;
  margin: 1rem;
  margin-right: 0;
  margin-top: 0;
  padding: var(--avatar-padding);
  display: flex;
  position: relative;

  border-radius: var(--rounded-pill);
  width: var(--avatar-size);
  height: var(--avatar-size);
  background-color: var(--color-steel);
  border: 0;
  box-sizing: content-box;

  box-shadow: 0 1px 0 var(--color-white);
}

@media (width <= 50rem) {
  .avatar {
    --avatar-size: 100px;
  }
}
