.avatar {
  --avatar-size: 200px;
  --avatar-padding: 0px;
  float: right;
  margin: 1rem;
  margin-right: 0;
  margin-top: 0.5rem;
  padding: var(--avatar-padding);
  display: flex;
  position: relative;
  background: var(--theme-photo);

  border-radius: var(--rounded-pill);
  width: var(--avatar-size);
  height: var(--avatar-size);
  border: 0;
  box-sizing: content-box;
}

@media (width <= 50rem) {
  .avatar {
    --avatar-size: 100px;
  }
}
