.button,
button {
  font: inherit;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  font-weight: bold;
  padding: 0.25rem 1rem;
  border-radius: var(--rounded-pill);
  text-decoration-line: none;
  text-decoration-thickness: var(--link-underline-thickness);

  color: var(--color-platinum);
  background: var(--color-green);
  border: 1px solid transparent;
}

@media (hover) {
  .button:hover,
  button:hover {
    text-decoration-line: none;
    background: var(--color-black);
    color: var(--color-platinum);
  }
}

.button:active,
button:active {
  scale: 95%;
}

.button:focus-visible,
button:focus-visible {
  outline: 3px solid var(--color-green);
  outline-offset: 2px;
}
