.button,
button {
  font: inherit;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  font-weight: bold;
  /* font-style: italic; */
  padding: 8px 16px;
  border-radius: var(--rounded-medium);
  text-decoration-line: none;
  text-decoration-thickness: var(--link-underline-thickness);
  line-height: 1.25;

  color: var(--color-black);
  background: var(--color-green);

  border: 1px solid var(--color-black);
  border-color: var(--border-colors);
}

@media (hover) {
  .button:hover,
  button:hover {
    text-decoration-line: none;
  }

  .button:hover:where(:not(:active)),
  button:hover:where(:not(:active)) {
    filter: brightness(105%);
    box-shadow: 0 3px 0 -1px var(--color-border-faint);
  }
}

.button:active,
button:active {
  border-style: solid;
  filter: brightness(90%);
}

.button:focus-visible,
button:focus-visible {
  outline: 3px solid;
  outline-offset: -1px;
}
