.button,
button {
  font: inherit;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  font-weight: bold;
  padding: 4px 16px;
  border-radius: var(--rounded-large);
  text-decoration-line: none;
  text-decoration-thickness: var(--link-underline-thickness);

  color: var(--color-black);
  background: var(--color-green);

  border: 1px solid var(--color-black);
  border-top-style: dotted;
  border-left-style: dotted;

  /* box-shadow: 0 3px 0 -1px rgb(from var(--color-black) r g b / 20%); */
}

@media (hover) {
  .button:hover,
  button:hover {
    text-decoration-line: none;
  }

  .button:hover:where(:not(:active)),
  button:hover:where(:not(:active)) {
    filter: brightness(105%);
  }
}

.button:active,
button:active {
  border-style: solid;
  filter: brightness(90%);
}

.button:focus-visible,
button:focus-visible {
  outline: 3px solid;
  outline-offset: -1px;
}
