.button,
button {
  font: inherit;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  font-weight: bold;
  /* font-style: italic; */
  padding: 8px 16px;
  border-radius: var(--rounded-medium);
  text-decoration-line: none;
  text-decoration-thickness: var(--link-underline-thickness);
  line-height: 1.25;
  border: 0;

  color: var(--color-black);
  background: var(--color-green);
}

.button:hover,
button:hover {
  text-decoration-line: none;
}

.button:hover:where(:not(:active)),
button:hover:where(:not(:active)) {
  filter: brightness(102%);
}

.button:active,
button:active {
  filter: brightness(90%);
}

.button:focus-visible,
button:focus-visible {
  outline: 3px solid;
  outline-offset: -1px;
}

:is(.button, button):where([data-variant="secondary"]) {
  background: var(--theme-button);
  color: var(--color-black);
  font-weight: bold;

  line-height: 1.25;

  padding: 4px 16px;
  border-radius: var(--rounded-small);
  font-size: var(--font-size-small);
}
