a.card {
  color: inherit;
  text-decoration-line: none;

  display: grid;
  margin-block: 16px;
  padding: 16px;
  gap: 8px;

  /* border-radius: 0; */
  background: var(--theme-card);
  border: 2px solid;
  outline-offset: -1px;

  box-shadow: var(--shadow1);

  @media (width < 40rem) {
    margin-inline: -16px;
    border-inline: 0;
    /* width: calc(100% + 32px); */
  }

  .heading {
    margin: 0;
    font-weight: bold;
    text-wrap: balance;
    line-height: 1.25;
    color: inherit;
    text-underline-offset: var(--link-underline-offset);
  }

  &:hover:where(:not(:active)) {
    background-image: radial-gradient(var(--theme-hover-light));

    .heading {
      text-decoration-line: underline;
      text-decoration-thickness: inherit;
      color: var(--color-black);
    }
  }

  .description {
    margin: 0;
    font-style: italic;
    font-size: var(--font-size-small);
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px var(--theme-card);
    outline-width: 2px;
    outline-offset: 2px;
  }
}

ul.card {
  --card-padding-x: 16px;
  --card-padding-y: 8px;

  display: grid;
  list-style-type: none;
  max-width: initial;
  padding: 0;
  gap: 1px;

  /* border-radius: 0; */
  background: var(--theme-page-bg);
  border: 2px solid;
  color: inherit;

  box-shadow: var(--shadow1);

  > li a {
    /* border-radius: 0; */
    display: block;
    padding: var(--card-padding-y) var(--card-padding-x);
    background: var(--theme-card);
    color: inherit;

    &:hover {
      background-image: var(--ui-bg-overlay-hover);
    }

    &:not(:hover) {
      text-decoration-line: none;
    }

    &:focus-visible {
      outline-offset: -2px;
    }
  }

  > li:first-of-type a {
    /* border-radius: var(--rounded-medium) var(--rounded-medium) 0 0; */
  }

  > li:last-of-type a {
    /* border-radius: 0 0 var(--rounded-medium) var(--rounded-medium); */
  }
}

ul.card[data-size="large"] {
  --card-padding-x: 16px;
  --card-padding-y: 16px;
}
