.card {
  margin-block: 1rem;
  padding: 1rem;

  background: var(--color-white);
  border-radius: var(--rounded-large);
  border: 1px solid var(--color-black);
  border-color: var(--border-colors);

  > :first-child {
    margin-top: 0;
  }

  > header > :is(h1, h2, h3) {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

ul.card {
  --card-padding-x: 16px;
  --card-padding-y: 8px;
  --card-border-offset: 8px;

  display: block;
  list-style-type: none;
  max-width: initial;
  padding: 0;

  > li {
    a {
      display: block;
      padding: var(--card-padding-y) var(--card-padding-x);

      &:not(:hover) {
        text-decoration-line: none;
      }

      &:focus-visible {
        outline-offset: 0px;
      }
    }
    + li {
      border-top: 1px solid var(--color-border-faint);
      border-image: linear-gradient(
          to right,
          transparent 0 var(--card-border-offset),
          var(--color-border-faint) 0 calc(100% - var(--card-border-offset)),
          transparent 0
        )
        1;
    }
  }
}

ul.card[data-size="large"] {
  --card-padding-x: 16px;
  --card-padding-y: 16px;
  --card-border-offset: 8px;
}
