a.card {
  color: inherit;
  text-decoration-line: none;

  display: grid;
  margin-block: 16px;
  padding: 16px;
  gap: 8px;

  border-radius: var(--rounded-large);
  background: var(--theme-card);
  border: 1px solid var(--color-border-light);
  border-bottom-color: var(--color-border-medium);

  .heading {
    margin: 0;

    font-style: italic;
    font-weight: bold;
    font-family: inherit;
    font-size: var(--font-size-h3);
    text-wrap: balance;
    line-height: 1.25;
    text-decoration-line: underline;

    color: var(--theme-link);
    border-radius: var(--rounded-small);
    text-decoration-thickness: var(--link-underline-thickness);
    text-underline-offset: var(--link-underline-offset);

    &:active {
      text-decoration-line: underline;
      --link-underline-thickness: var(--link-underline-thickness-hover);
      color: var(--color-black);
    }
  }

  &:hover .heading {
    --link-underline-thickness: var(--link-underline-thickness-hover);
    color: var(--color-black);
  }

  .description {
    margin: 0;
  }
}

ul.card {
  --card-padding-x: 0px;
  --card-padding-y: 8px;
  --card-border-offset: 0px;

  display: block;
  list-style-type: none;
  max-width: initial;
  padding: 0;

  > li {
    border-top: 1px solid var(--color-border-medium);
    border-image: linear-gradient(
        to right,
        var(--color-border-medium),
        transparent
      )
      1;

    &:last-of-type {
      border-bottom: 1px solid var(--color-border-medium);
    }

    a {
      display: block;
      padding: var(--card-padding-y) var(--card-padding-x);

      &:not(:hover) {
        text-decoration-line: none;
      }

      &:focus-visible {
        outline-offset: 0px;
      }
    }
  }
}

ul.card[data-size="large"] {
  --card-padding-x: 0px;
  --card-padding-y: 16px;
  --card-border-offset: 0px;
}
