.card {
  margin-block: 1rem;
  padding: 1rem;

  background: var(--color-white);
  border-radius: var(--rounded-large);
  border: 1px solid var(--color-black);
  border-color: var(--border-colors);

  > :first-child {
    margin-top: 0;
  }

  > header > :is(h1, h2, h3) {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  + .card {
    /* margin-top: -0.5rem; */
  }
}

ul.card {
  display: block;
  list-style-type: none;
  max-width: initial;
  /* padding: 0.5rem 1rem; */
  padding: 0;

  > li {
    a {
      display: block;
      padding-block: 0.5rem;
      padding: 0.5rem 1rem;

      &:not(:hover) {
        text-decoration-line: none;
      }

      &:focus-visible {
        outline-offset: 0px;
      }
    }
    + li {
      border-top: 1px solid var(--color-border-faint);
      border-image: linear-gradient(
          to right,
          transparent 0 16px,
          var(--color-border-faint) 0 calc(100% - 16px),
          transparent 0
        )
        1;
    }
  }
}
