a.card {
  color: inherit;
  text-decoration-line: none;

  display: grid;
  margin-block: 16px;
  padding: 16px;
  gap: 8px;

  border-radius: var(--rounded-medium);
  background: var(--theme-card);
  outline-offset: -1px;

  .heading {
    margin: 0;
    font-weight: bold;
    text-wrap: balance;
    line-height: 1.25;
    color: inherit;
    text-underline-offset: var(--link-underline-offset);
  }

  &:hover {
    background-image: var(--ui-bg-overlay-hover);
  }

  &:where(:hover) .heading {
    text-decoration-line: underline;
    text-decoration-thickness: inherit;
    color: var(--color-black);
  }

  .description {
    margin: 0;
    font-style: italic;
    font-size: var(--font-size-small);
  }
}

ul.card {
  --card-padding-x: 16px;
  --card-padding-y: 8px;

  display: grid;
  list-style-type: none;
  max-width: initial;
  padding: 0;
  gap: 1px;

  background: var(--color-white);
  color: inherit;
  border-radius: var(--rounded-medium);

  > li a {
    border-radius: 0;
    display: block;
    padding: var(--card-padding-y) var(--card-padding-x);
    background: var(--theme-card);
    color: inherit;

    &:hover {
      background-image: var(--ui-bg-overlay-hover);
    }

    &:not(:hover) {
      text-decoration-line: none;
    }

    &:focus-visible {
      outline-offset: -2px;
    }
  }

  > li:first-of-type a {
    border-radius: var(--rounded-medium) var(--rounded-medium) 0 0;
  }

  > li:last-of-type a {
    border-radius: 0 0 var(--rounded-medium) var(--rounded-medium);
  }
}

ul.card[data-size="large"] {
  --card-padding-x: 16px;
  --card-padding-y: 16px;
}
