a.card {
  color: inherit;
  text-decoration-line: none;

  display: grid;
  margin-block: 16px;
  padding: 16px;
  gap: 8px;

  border-radius: var(--rounded-large);
  background: var(--theme-card);

  .heading {
    margin: 0;

    font-style: italic;
    font-weight: bold;
    font-family: inherit;
    font-size: var(--font-size-h3);
    text-wrap: balance;
    line-height: 1.25;
    text-decoration-line: underline;

    color: var(--theme-link);
    border-radius: var(--rounded-small);
    text-decoration-thickness: var(--link-underline-thickness);
    text-underline-offset: var(--link-underline-offset);

    &:active {
      text-decoration-line: underline;
      --link-underline-thickness: var(--link-underline-thickness-hover);
      color: var(--color-black);
    }
  }

  &:hover .heading {
    --link-underline-thickness: var(--link-underline-thickness-hover);
    color: var(--color-black);
  }

  .description {
    margin: 0;
  }
}

ul.card {
  --card-padding-x: 16px;
  --card-padding-y: 8px;

  display: grid;
  list-style-type: none;
  max-width: initial;
  padding: 0;
  gap: 2px;

  > li a {
    border-radius: var(--rounded-small);
    display: block;
    padding: var(--card-padding-y) var(--card-padding-x);
    background: var(--theme-card);

    &:not(:hover) {
      text-decoration-line: none;
    }

    &:focus-visible {
      outline-offset: -3px;
    }
  }

  > li:first-of-type a {
    border-radius: var(--rounded-large) var(--rounded-large)
      var(--rounded-small) var(--rounded-small);
  }

  > li:last-of-type a {
    border-radius: var(--rounded-small) var(--rounded-small)
      var(--rounded-large) var(--rounded-large);
  }
}

ul.card[data-size="large"] {
  --card-padding-x: 16px;
  --card-padding-y: 16px;
}
