label:has(> input[type="checkbox"]:first-child) {
  --_bg: var(--color-green);

  &:has(:checked) {
    --_bg: var(--color-green);
  }

  user-select: none;
  display: flex;
  gap: 0.5rem;

  input[type="checkbox"] {
    box-sizing: border-box;
    flex: none;
    color: inherit;
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid var(--color-black);
    /* border: 1px solid var(--_bg); */
    background: var(--color-silver);
    background-clip: border-box;
    margin: 0;
    margin-top: 4px;
    border-radius: var(--rounded-small);

    &:checked {
      --_blur: 0.5px;
      --_size: 2px;
      --_start: calc(50% - 0.5 * var(--_size));
      --_end: calc(var(--_start) + var(--_size));
      --_fg: var(--color-black);
      border-color: var(--color-black);
      background-color: var(--_bg);
      border-style: solid;
      background-image:
        linear-gradient(
          45deg,
          transparent,
          transparent calc(var(--_start) - var(--_blur)),
          var(--_fg) var(--_start),
          var(--_fg) var(--_end),
          transparent calc(var(--_end) + var(--_blur)),
          transparent
        ),
        linear-gradient(
          -45deg,
          transparent,
          transparent calc(var(--_start) - var(--_blur)),
          var(--_fg) var(--_start),
          var(--_fg) var(--_end),
          transparent calc(var(--_end) + var(--_blur)),
          transparent
        );
      box-shadow: inset 0 0 0 5px var(--_bg);
    }

    &:focus-visible {
      outline-offset: 2px;
      outline-width: 2px;
    }
  }

  @media (hover) {
    &:hover {
      text-decoration-line: underline;
      text-decoration-thickness: 1px;
      text-underline-offset: 3px;
      text-decoration-style: dotted;
      text-underline-position: under;
    }
  }
}
