main details {
  display: grid;
  margin: 1.5rem 0;
  border-bottom: 1px solid var(--theme-border);
}

main details:hover {
  z-index: 100;
}

/* main details:where(:last-of-type, :has(+ :not(details))) {
  border-bottom: 1px solid var(--theme-border);
} */

main details + details {
  margin-top: calc(-1.5rem);
}

main summary {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  padding-block: 16px;
}

main details {
  summary {
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }

  summary::after {
    font-size: 2rem;
    width: 1em;
    height: 1em;
    border-radius: 100%;
    line-height: 1;
    text-align: center;
    content: "+";
  }

  &[open] summary::after {
    content: "\2212";
  }

  summary:hover {
    &::after {
      color: var(--color-green);
    }
  }
}

@media (hover) {
  main summary:hover:not(:active)::marker {
    color: var(--color-green);
  }
}

main summary:hover:active::marker {
  color: var(--color-black);
}

main details:has(> summary:focus-visible) {
  box-shadow: none;
  outline: 3px solid;
  outline-offset: -1px;
  /* border-radius: var(--rounded-small); */
}

main details summary:focus-visible {
  outline: none;
}

main details[open] > summary {
  margin-bottom: -1rem;
}
