main details {
  display: grid;
  margin: 1.5rem 0;
  border-bottom: 1px solid var(--theme-border);
}

main details:hover {
  z-index: 100;
}

/* main details:where(:last-of-type, :has(+ :not(details))) {
  border-bottom: 1px solid var(--theme-border);
} */

main details + details {
  margin-top: calc(-1.5rem);
}

main summary {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  padding-block: 16px;
}

main details {
  summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }

  /* https://css-shape.com/plus/ */
  summary::after {
    content: "";
    --c: var(--theme-border);
    height: 24px;
    aspect-ratio: 1;
    background: radial-gradient(
      circle at center,
      var(--color-black) 0 calc(100% - 6px),
      transparent 0
    );
    box-shadow: 0 0 0 6px inset var(--c);
    border-image: conic-gradient(var(--c) 0 0) 50% / calc(50% - 1px);
    clip-path: circle();
  }

  /* https://css-shape.com/minus/ */
  &[open] summary::after {
    border-image: conic-gradient(var(--c) 0 0) 1 / calc(50% - 1px) 2px;
  }

  @media (hover) {
    summary:hover {
      &::after {
        filter: brightness(95%);
      }
    }
  }
}

main summary:hover:active::after {
  --c: var(--color-green);
}

main details:has(> summary:focus-visible) {
  box-shadow: none;
  outline: 3px solid;
  outline-offset: -1px;
  /* border-radius: var(--rounded-small); */
}

main details summary:focus-visible {
  outline: none;
}

main details[open] > summary {
  margin-bottom: -1rem;
}
