.figure-viewer {
  background: var(--color-white);
  padding: 0;
  border: 0;
  scrollbar-color: var(--color-pink) var(--color-black);
  filter: drop-shadow(0 4px 8px rgb(from var(--color-black) r g b / 80%));

  &:focus-visible {
    outline-color: var(--color-white);
  }

  &::backdrop {
    background: rgb(from var(--color-black) r g b / 80%);
    backdrop-filter: blur(2px);
  }

  & > * {
    object-fit: contain;
    max-width: 100%;
  }
}

:root:has(.figure-viewer:modal:open) {
  overflow: hidden;
}
