/* @font-face {
  font-family: "PP Talisman Narrow";
  src: url("/fonts/PPTalisman-Narrow-Bold.woff2") format("woff2");
  font-weight: bold;
  font-display: swap;
} */

@font-face {
  font-family: "PP Mori";
  src: url("/fonts/PPMori-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PP Mori";
  src: url("/fonts/PPMori-Extrabold.woff2") format("woff2");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "PP Mori";
  src: url("/fonts/PPMori-Black.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "PP Mori";
  src: url("/fonts/PPMori-Italic.woff2") format("woff2");
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PP Mori";
  src: url("/fonts/PPMori-ExtraboldItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-Bold.woff2") format("woff2");
  font-display: swap;
  font-weight: bold;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-Italic.woff2") format("woff2");
  font-display: swap;
  font-style: italic;
}
