@font-face {
  font-family: "Whisper";
  src: url("/fonts/Whisper-Regular.woff2") format("woff2");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Object Sans";
  src: url("/fonts/PPObjectSans-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PP Object Sans";
  src: url("/fonts/PPObjectSans-Bold.woff2") format("woff2");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "PP Object Sans";
  src: url("/fonts/PPObjectSans-Slanted.woff2") format("woff2");
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PP Object Sans";
  src: url("/fonts/PPObjectSans-BoldSlanted.woff2") format("woff2");
  font-style: italic;
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Ultra Hi-Gloss";
  src: url("/fonts/UltraHi-GlossFinal-UltraBoldItalic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-Bold.woff2") format("woff2");
  font-display: swap;
  font-weight: bold;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-Italic.woff2") format("woff2");
  font-display: swap;
  font-style: italic;
}
