.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  padding: 1rem;
  margin-top: 4rem;
  margin-bottom: env(safe-area-max-inset-bottom, 1rem);
}

.footer > * {
  margin-inline: auto;
  max-width: max-content;
}

.footer .top {
  text-decoration: none;
  display: inline-block;

  background: var(--color-silver);
  font-weight: bold;

  line-height: 1.25;

  padding: 4px 8px;
  border-radius: var(--rounded-small);
  font-size: var(--font-size-small);
  color: inherit;
  border: 1px solid var(--color-black);
  border-color: var(--border-colors);
}

@media (hover) {
  .footer .top:hover {
    text-decoration-line: none;
  }

  .footer .top:hover:where(:not(:active)) {
    filter: brightness(105%);
    box-shadow: 0 3px 0 -1px var(--color-border-faint);
  }
}
