.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-top: 1px dotted var(--color-black);
  background: var(--color-steel);

  padding: 1rem;
}

.footer > * {
  margin-inline: auto;
}
