.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  margin-top: 4rem;
  margin-bottom: env(safe-area-max-inset-bottom, 1rem);
}

.footer > * {
  margin-inline: auto;
  max-width: max-content;
}
