.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 0;
  grid-area: footer;
}

.footer > * {
  margin-inline: auto;
}

.footer > div {
  padding: 1rem;
  max-width: var(--width-heading);
  width: 100%;
}
