::before,
::after,
* {
  box-sizing: border-box;
}

/* Scrolling offset when direct linking to an element */
* {
  scroll-padding-top: 1em;
}

:root {
  /* https://dbushell.com/2024/11/05/webkit-font-smoothing/ */
  /* https://www.joshwcomeau.com/css/custom-css-reset/ */
  -webkit-font-smoothing: antialiased;
  /* Make sure scrollbars show on every page, for consistent nav bar size */
  overflow-y: scroll;
  color-scheme: light;
  scrollbar-color: var(--color-greener) transparent;
  font-synthesis: none;
  color: var(--color-black);
  padding: 0;
  margin: 0;
  background: var(--color-silver);
}

@media (width >= 60rem) {
  /* Inspired by https://sethmlarson.dev/ */
  :root {
    /* --c1: var(--color-white);
    --c2: var(--theme-grid-dark);
    --s: 2px;
    --k: calc(4 * var(--s));
    --z: calc(var(--s) + 1px);
    --w: var(--width-copy);
    --w1: calc((100vw - var(--w)) / 2);
    --w2: calc(var(--w1) + var(--w));
    --o: 20vw;
    background:
      linear-gradient(
          to right,
          transparent 0 calc(var(--w1) - var(--o)),
          var(--c1) var(--w1) var(--w2),
          transparent calc(var(--w2) + var(--o))
        )
        no-repeat fixed,
      linear-gradient(to right, var(--c2) 1px, transparent 1px) 0 0 / 32px 32px
        repeat,
      linear-gradient(to bottom, var(--c2) 1px, transparent 1px) 0 0 / 32px 32px
        repeat; */
  }
}

:root[data-figure-viewer] figure img {
  cursor: zoom-in;

  &:hover {
    opacity: 0.9;
  }
}

body {
  padding: 0;
  margin: 0;
  /**
   * Setting font size on body rather than html so that 1rem can refer to the
   * user's specified font size anywhere in my CSS, rather than 1.25 times that
   * value; but this way most things get bumped up a little bigger, for a
   * slightly comfier to read site (since this is a blog, after all)
   */
  font-size: var(--font-size-base);
  font-family: var(--font-body);
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  gap: 0;
  min-height: 100vh;
}

main {
  flex: auto;
}

a {
  color: var(--theme-link);
  border-radius: var(--rounded-small);
  text-decoration-thickness: var(--link-underline-thickness);
  text-underline-offset: var(--link-underline-offset);
}

a:hover {
  text-decoration-line: underline;
  --link-underline-thickness: var(--link-underline-thickness-hover);
  color: var(--color-black);
}

a:active {
  text-decoration-line: underline;
  --link-underline-thickness: var(--link-underline-thickness-hover);
  color: var(--color-black);
}

:is(input, select, button, textarea) {
  font: inherit;
}

:is(h1, h2, h3, h4, h5, h6) {
  text-wrap: balance;
}

:is(h1, h2, h3) {
  line-height: 1.25;
}

.paragraph,
p {
  margin-block: 1.5rem;
}

h1 {
  font-size: var(--font-size-h1);
  font-family: var(--font-cool);
  letter-spacing: calc(1em / 32);
  /* https://bugs.webkit.org/show_bug.cgi?id=292563 */
  /* word-spacing: calc(1em / 16); */
  margin-block: 2rem 1.5rem;
}

h1::after {
  content: "\00A0::";
  color: var(--color-greener);
  font-size: 0.5em;
}

h2 {
  font-size: var(--font-size-h2);
  font-family: var(--font-cool);
  letter-spacing: calc(1em / 32);
  /* https://bugs.webkit.org/show_bug.cgi?id=292563 */
  /* word-spacing: calc(1em / 16); */
  margin-block: 4rem 0.5rem;
}

h2::after {
  font-size: 0.5em;
  content: "\00A0:.";
  color: var(--color-greener);
}

h3 {
  font-style: italic;
  /* font-weight: normal; */
  font-family: inherit;
  font-size: var(--font-size-h3);
  margin-block: 4rem 0.5rem;
}

h3:where(:not(:has(a)))::after {
  text-decoration: none;
  font-size: 0.5em;
  content: "\00A0//";
  color: var(--color-greener);
}

code,
pre {
  font-family: var(--font-mono);
  font-size: var(--font-size-code);
  font-variant-ligatures: none;
  overflow-x: auto;
  font-style: normal;
}

:not(pre) > code {
  font-size: 0.9em;
  font-weight: bold;
}

.description {
  margin-top: 8px;
}

.spoiler {
  padding-inline: 0.25ch;
  background-color: var(--color-black);
  color: transparent;
  cursor: default;
}

@media (hover) {
  .spoiler:hover:where(:not(:focus)) {
    opacity: 0.8;
  }
}

.spoiler:focus {
  color: var(--color-silver);
}

.spoiler:focus-visible {
  outline: 3px solid var(--color-black);
  outline-offset: 2px;
}

main :is(blockquote, ul, ol, dl, p) {
  margin-block: 1.5rem;
}

main :is(ul, ol) {
  padding-left: var(--list-inset);
}

main ul {
  list-style-type: disc;
}

.hash-nav {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0.5rem;

  a {
    text-decoration-line: none;
    line-height: 1.15;
    padding: 0 0.25rem;
    background-color: var(--theme-card);

    &:focus-visible {
      outline-offset: -1px;
    }
  }
}

main ol {
  padding-left: 3rem;
}

main :is(ul, ol) :is(ul, ol) {
  margin-block: 0;
}

main {
  flex: auto;
  min-height: 50vh;
  padding-bottom: 3rem;
}

canvas,
img,
video {
  display: block;
  border-radius: var(--rounded-large);
}

.border {
  border-radius: 0;
  background: var(--color-white);
  padding: 1px;
  border: 1px solid var(--color-black);
}

.frame {
  background: var(--color-white);
  padding: 8px;
  border-radius: var(--rounded-large);
  border: 1px solid var(--color-border-light);
}

.sharp {
  border-radius: 0;
}

.playdate {
  filter: contrast(70%);
  border-radius: var(--rounded-small);
}

.tcg {
  /* Source from the Grand Archive index */
  /* https://index.gatcg.com/edition/alice-golden-queen-dtr */
  border-radius: 4.75% / 3.5%;
}

.max-content {
  max-width: max-content;
}

article header :is(h1, h2, h3) {
  margin-bottom: 0;
}

article header small {
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-small);
  vertical-align: middle;
}

:focus-visible {
  outline: 3px solid currentColor;
  outline-offset: 2px;
  text-decoration-line: none;
}

.flex {
  display: flex;
}

.flex-auto {
  flex: auto;
}

.inline-flex {
  display: inline-flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.photo-grid {
  display: grid;
  gap: 1rem;
  justify-content: flex-start;
}

.photo-grid > * {
  margin: 0 !important;
  max-width: initial !important;
}

.column-span {
  grid-column: 1 / -1;
}

img[data-aspect="square"] {
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

img[data-position="top"] {
  object-position: 50% 0%;
}

@media (width >= 30rem) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.layout-col2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

@media (width <= 30rem) {
  .layout-col2 {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.layout-col3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}

@media (width <= 50rem) {
  .layout-col3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (width <= 30rem) {
  .layout-col3 {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.gap1 {
  gap: 0.25rem;
}

.gap2 {
  gap: 0.5rem;
}

.gap3 {
  gap: 1rem;
}

.clearfix {
  clear: both;
}

/* Non-integer display scales fuck this up. It looks like this is a violation of
the spec, but Firefox and Chrome both do it. I haven't checked in Safari. Maybe
I should file a bug later. */
@media not (1dppx < resolution < 2dppx) {
  .pixelated {
    image-rendering: pixelated;
  }
}

.arrow {
  font-size: 1.25em;
  margin-inline: 0.25em;
}

ol > li {
  position: relative;
  list-style-type: none;
}

ol > li::before {
  --size: 3ch;
  left: calc(-1 * (var(--size) + 0.5rem));
  width: 3ch;
  top: 2px;

  position: absolute;
  display: inline;
  font-size: var(--font-size-small);
  font-family: var(--font-mono);
  content: counter(list-item) "";
  font-weight: bold;
  background: var(--color-steel);
  text-align: center;
  border-radius: var(--rounded-pill);
}

@media (width >= 40rem) {
  .wide-dl {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8px 2ch;

    dt {
      margin: 0;
    }
  }
}

li > :is(h2, h3) {
  margin-top: 8px;
}

dl > dt {
  font-weight: bold;
}

dl > dd {
  margin: 0;
}

dl > dd + dd {
  margin-top: 0.5rem;
}

dl > dd > ul {
  margin: 0;
}

dl > dd + dt {
  margin-top: 1.5rem;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
    animation: none !important;
  }
}

.inline-img {
  display: inline-block;
  vertical-align: middle;
}

.print-only {
  display: none;
}

[data-media="print"] {
  display: hidden;
}

.page-footer--congrats {
  margin-top: 64px;
  margin-bottom: -16px;
}
