body > nav {
  --color-background: var(--color-background-green1);
  /* --color-divider: var(--color-background-green2); */
  --color-text: #fff;
  --color-link: #fff;

  grid-area: nav;
}

body > header {
  --color-background: var(--color-background-green1);
  /* --color-divider: var(--color-background-green2); */
  --color-text: #fff;
  --color-link: #fff;

  color: var(--color-text);
  border-radius: var(--rounded-medium);
}

.hamburger {
  list-style: none;
  user-select: none;
}

.hamburger summary {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1ch;
}

.hamburger summary::-webkit-details-marker {
  display: none;
}

@media (width < 64rem) {
  body:has(> header details:not([open])) > nav {
    display: none;
  }
}

@media (width >= 64rem) {
  .hamburger {
    display: none;
  }
}

.logo-container {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-family: var(--font-logo);
  /* Prevent Safari from making this even bolder lol */
  font-synthesis: none;
  font-weight: normal;
  text-decoration-line: none;
  text-transform: uppercase;
}

@media (width >= 64rem) {
  body > header {
    grid-area: header;
  }

  body > header + .decorative-divider {
    grid-area: divider;
    height: 100%;
  }

  .logo-container {
    padding-left: 0;
    padding-top: 0;
  }
}
