body > header {
  --color-background: var(--color-root-background);
  --color-text: var(--color-root-text);
  --color-text-small: var(--color-root-text);
  --color-divider: var(--color-root-divider);
  --color-link: var(--color-root-text);

  color: var(--color-text);
}

body > header .button {
  box-shadow: 0 8px 16px #0002;
}

.header :any-link {
  color: var(--color-link);
  color: inherit;
}

.logo {
  /* font-size: var(--font-size-h2); */
  font-size: 3rem;
  text-align: center;
  letter-spacing: 1px;
  font-family: var(--font-logo);
  /* Prevent Safari from making this even bolder lol */
  font-synthesis: none;
  font-weight: normal;
  text-decoration-line: none;
  text-transform: uppercase;
}

.logo a:not(:hover) {
  text-decoration: none;
}

.logo-dingus {
  color: var(--color-main-text-heading);
}

body > nav {
  grid-area: nav;
}

.hamburger {
  list-style: none;
  user-select: none;
}

.hamburger summary {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1ch;
}

.hamburger summary::-webkit-details-marker {
  display: none;
}

@media (width < 64rem) {
  body:has(> header details:not([open])) > nav {
    display: none;
  }
}

@media (width >= 64rem) {
  .hamburger {
    display: none;
  }
}

.logo-container {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

@media (width >= 64rem) {
  body > header {
    grid-area: header;
  }

  body > header + .decorative-divider {
    grid-area: divider;
    height: 100%;
  }

  .logo-container {
    /* padding: 0; */
  }
}
