.header {
  background: var(--color-silver);
}

:where(:root[data-sticky]) .header {
  top: 0;
  position: sticky;
  z-index: 1;
  transition: translate 200ms;
  translate: 0% 0%;
}

:root[data-sticky="false"] .header {
  translate: 0% calc(-100% - 2px);
}

@media (prefers-reduced-motion: reduce) {
  .header {
    transition: opacity 200ms !important;
    opacity: 1;
  }

  :root[data-sticky="false"] .header {
    translate: initial;
    opacity: 0;
  }
}

.header-content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;

  box-sizing: border-box;
  background: var(--color-green);
  color: var(--color-black);

  border-bottom: 1px solid var(--color-black);
  /* box-shadow: 0 3px 0 -1px rgb(from var(--color-black) r g b / 20%); */
}

.logo {
  display: grid;
  align-items: center;
}

.logo svg {
  width: auto;
  height: calc(2rem - 6px);
  fill: currentColor;
}

.decoration {
  color: inherit;
}

.logo a {
  color: inherit;
  pointer-events: initial;
  padding: 0;
  line-height: 1;
  border-radius: var(--rounded-medium);
  text-decoration-line: none;
  width: 100%;
  padding-top: 4px;
  border-bottom: 2px solid transparent;
  outline-offset: 4px;
}

.logo a:hover {
  border-bottom-color: var(--color-black);
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (width < 40rem) {
  .logo svg {
    height: initial;
    width: 100%;
  }

  .logo-container {
    justify-content: center;
  }
}

@media (width >= 40rem) {
  .header-content {
    flex-direction: row;
    justify-content: space-between;
  }

  :root[data-sticky="true"] .header {
    position: sticky;
  }
}

@media (width >= 60rem) {
  .header-content {
    border: 1px solid var(--color-black);
    border-style: dotted solid solid dotted;
  }

  .header {
    width: 100%;
    max-width: var(--width-heading);
    margin-inline: auto;
    padding-top: 1rem;
  }
}
