.header {
  background: var(--color-silver);
}

:where(:root[data-sticky]) .header {
  top: 0;
  position: sticky;
  z-index: 1;
  transition: translate 200ms;
  translate: 0% 0%;
}

:root[data-sticky="false"] .header {
  translate: 0% calc(-100% - 2px);
}

@media (prefers-reduced-motion: reduce) {
  .header {
    transition: opacity 200ms !important;
    opacity: 1;
  }

  :root[data-sticky="false"] .header {
    translate: initial;
    opacity: 0;
  }
}

.header-content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 8px;

  box-sizing: border-box;
  background: var(--color-green);
  color: var(--color-black);

  border-radius: 0 0 var(--rounded-large) var(--rounded-large);

  border-bottom: 1px solid var(--color-border-heavy);
}

.logo {
  display: grid;
  align-items: center;
}

.logo svg {
  max-width: 250px;
  width: auto;
  height: 26px;
  fill: currentColor;
}

.decoration {
  color: inherit;
}

.logo a {
  position: relative;
  color: inherit;
  pointer-events: initial;
  padding: 0;
  line-height: 1;
  width: 100%;
  display: flex;
  outline-offset: 4px;
}

.logo a:hover:not(:focus-visible)::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: calc(
    -1 * (var(--link-underline-offset) + var(--link-underline-thickness-hover))
  );
  height: var(--link-underline-thickness-hover);
  background: currentColor;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (width < 35rem) {
  .logo a {
    margin-block: 8px;
  }

  .logo svg {
    height: initial;
    width: 100%;
  }

  .logo-container {
    justify-content: center;
  }
}

@media (width >= 35rem) {
  .header-content {
    padding: 16px;
    flex-direction: row;
    justify-content: space-between;
  }

  :root[data-sticky="true"] .header {
    position: sticky;
  }
}

@media (width >= 60rem) {
  .header-content {
    border-radius: var(--rounded-large);

    padding: 16px;
    border: 1px solid var(--color-black);
    border-color: var(--border-colors);
  }

  .header {
    width: 100%;
    max-width: var(--width-heading);
    margin-inline: auto;
    padding-top: 1rem;
  }
}
