ul.infobox {
  display: grid;
  gap: 4px;
  background: var(--color-white);
  list-style-type: none;
  padding: 0;

  padding-inline: 16px;
  /*! border-left: 4px solid transparent; */
  /* max-width: max-content; */
  position: relative;

  background: var(--theme-box);
  border-radius: var(--rounded-large);
  box-shadow: var(--shadow-inset1);

  a {
    color: inherit;
  }

  > li {
    padding-top: 8px;
    border-top: 1px solid var(--theme-border);
  }

  > li:first-of-type {
    border-top: 0;
  }

  > li:last-of-type {
    padding-bottom: 8px;
  }
}
