.infobox {
  @media (width < 40rem) {
    margin-inline: -16px;
  }
}

.infobox:where(a) {
  color: inherit;
  text-decoration-line: none;

  margin-block: 16px;
  gap: 8px;

  outline-offset: -1px;

  padding: 16px;
  background: var(--theme-infobox);
  display: grid;

  border-radius: var(--rounded-large);

  :where(&) + & {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &:has(+ &) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  & + & {
    margin-top: calc(var(--infobox-gap) - 16px);
  }

  &:hover:where(:not(:active)) {
    background-image: radial-gradient(var(--theme-hover-light-alt));
  }

  .heading {
    margin: 0;
    font-weight: bold;
    text-wrap: balance;
    line-height: 1.25;
    color: inherit;
    text-underline-offset: var(--link-underline-offset);
  }

  .description {
    margin: 0;
  }

  &:hover {
    text-decoration-line: none;

    .heading {
      text-decoration-line: underline;
      text-decoration-thickness: inherit;
      color: var(--color-black);
    }
  }

  &:focus-visible {
    outline-offset: -3px;
  }
}

.infobox:where(ul) {
  display: grid;
  gap: var(--infobox-gap);
  list-style-type: none;
  padding: 0;

  position: relative;

  background: var(--theme-page-bg);

  a {
    color: inherit;
    display: block;
    outline-offset: -3px;

    &:not(:hover) {
      text-decoration-line: none;
    }

    &:hover:where(:not(:active)) {
      background-image: radial-gradient(var(--theme-hover-light-alt));
    }
  }

  li {
    a {
      padding: 8px 16px;
      background: var(--theme-infobox);
      border-radius: var(--rounded-large);
    }
    :where(&) + & {
      a {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }

    &:has(+ &) {
      a {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
}

.infobox:where(dl) {
  background: var(--theme-page-bg);

  > :is(dd, dt) {
    background: var(--theme-infobox);
  }

  > :is(dd, dt) {
    padding-inline: 16px;
  }

  > dt {
    margin: 0;
  }

  > dd + dt {
    margin-top: var(--infobox-gap);
    padding-block: 16px 0;
  }

  > dt:first-child {
    padding-block: 16px 0;
  }

  > dd {
    padding-block: 0 16px;
  }

  > dd + dd {
    margin-top: 0;
  }
}
