.menu {
  display: grid;
  gap: 1px;

  background: var(--theme-page-bg);
  color: inherit;
}

.menu-card {
  color: inherit;
  text-decoration-line: none;

  display: grid;
  padding: 16px;
  line-height: 1.25;

  background: var(--theme-infobox);
  outline-offset: -2px;

  font-size: var(--font-size-h3);

  &:empty {
    pointer-events: none;
  }

  &:where(:hover:not(:active)) {
    background-image: radial-gradient(var(--theme-hover-light-alt));

    .heading {
      text-decoration-line: underline;
      text-decoration-thickness: inherit;
      color: var(--color-black);
    }
  }

  .heading {
    margin: 0;
    font-weight: bold;
    text-wrap: balance;
    line-height: 1.25;
    color: inherit;
    text-underline-offset: var(--link-underline-offset);
  }

  .description {
    margin: 0;
    font-style: italic;
    font-size: var(--font-size-small);
  }
}

@media (width < 40rem) {
  .menu-card {
    &:empty {
      display: none;
    }
  }

  .menu {
    margin-inline: -16px;
  }
}

@media (width >= 40rem) {
  .menu {
    .menu-card {
      &:empty {
        display: none;
      }
    }
  }
}
