.menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
}

.menu-card {
  color: inherit;
  text-decoration-line: none;

  display: grid;
  padding: 16px;
  /* font-weight: bold; */
  line-height: 1.25;

  border-radius: var(--rounded-small);
  background: var(--theme-card);
  outline-offset: -3px;

  /* text-align: center; */

  &:nth-child(4n),
  &:nth-child(4n-3) {
    background: var(--color-silver);
  }

  .heading {
    margin: 0;
    font-weight: bold;
    text-wrap: balance;
    line-height: 1.25;
    color: inherit;
    text-underline-offset: var(--link-underline-offset);
  }

  &:where(:hover) .heading {
    text-decoration-line: underline;
    text-decoration-thickness: inherit;
    color: var(--color-black);
  }

  .description {
    margin: 0;
    font-style: italic;
    font-size: var(--font-size-small);
  }
}

@media (width >= 40rem) {
  .menu-card {
    font-size: var(--font-size-h3);
  }
}
