.menu {
  display: grid;
  gap: 2px;
}

.menu-card {
  color: inherit;
  text-decoration-line: none;

  display: grid;
  padding: 16px;
  /* font-weight: bold; */
  line-height: 1.25;

  background: var(--theme-card);
  outline-offset: -3px;

  .heading {
    margin: 0;
    font-weight: bold;
    text-wrap: balance;
    line-height: 1.25;
    color: inherit;
    text-underline-offset: var(--link-underline-offset);
  }

  &:where(:hover) .heading {
    text-decoration-line: underline;
    text-decoration-thickness: inherit;
    color: var(--color-black);
  }

  .description {
    margin: 0;
    font-style: italic;
    font-size: var(--font-size-small);
  }
}

@media (width < 40rem) {
  .menu-card {
    /* &:nth-child(2n) {
      background: var(--color-silver);
    } */

    /* Round the corners of the group extra */
    &:nth-child(1 of :not(:empty)) {
      border-top-left-radius: var(--rounded-large);
      border-top-right-radius: var(--rounded-large);
    }
    &:nth-last-child(1 of :not(:empty)) {
      border-bottom-right-radius: var(--rounded-large);
      border-bottom-left-radius: var(--rounded-large);
    }
  }

  .menu-card:empty {
    display: none;
  }
}

@media (width >= 40rem) {
  .menu {
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
  }

  .menu-card {
    font-size: var(--font-size-h3);
    text-align: center;
    border-radius: var(--rounded-small);

    /* Stripe colors */
    &:is(:nth-child(4n), :nth-child(4n-1)) {
      background: var(--color-silver);
    }

    /* Round the corners of the menu more */
    &:nth-child(1) {
      border-top-left-radius: var(--rounded-large);
    }
    &:nth-child(2) {
      border-top-right-radius: var(--rounded-large);
    }
    &:nth-last-child(1) {
      border-bottom-right-radius: var(--rounded-large);
    }
    &:nth-last-child(2) {
      border-bottom-left-radius: var(--rounded-large);
    }
  }

  /* .menu-card:nth-child(1) {
    border-top-left-radius: var(--rounded-large);
  }
  .menu-card:nth-child(2) {
    border-top-right-radius: var(--rounded-large);
  }
  .menu:has(> .menu-card:last-child:nth-child(odd)) {
    .menu-card:has(+ .menu-card:last-child) {
      border-bottom-right-radius: var(--rounded-large);
    }
    .menu-card:last-child {
      border-bottom-left-radius: var(--rounded-large);
      border-bottom-right-radius: var(--rounded-large);
    }
  }
  .menu:has(> .menu-card:last-child:nth-child(even)) {
    .menu-card:last-child {
      border-bottom-right-radius: var(--rounded-large);
    }
    .menu-card:has(+ .menu-card:last-child) {
      border-bottom-left-radius: var(--rounded-large);
    }
  } */
}
