.nav {
  max-width: var(--width-heading);
  display: flex;
  align-items: center;
}

.nav .button {
  width: 100%;
  padding: 8px 8px;
}

.nav .button:focus-visible {
  outline-color: currentColor;
  outline-offset: -1px;
}

.nav ul {
  font-size: var(--font-size-small);
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 0.5rem;
  width: 100%;
  max-width: var(--width-heading);
}

@media (width <= 50rem) {
  .nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    padding: 0;
  }
}
