.nav {
  max-width: var(--width-heading);
  display: flex;
  /* align-items: center; */
}

.nav a {
  /* display: block; */
  color: inherit;
  font-weight: bold;
  /* font-style: italic; */
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: var(--font-size-nav);
}

.nav a:where(:not(:hover)) {
  text-decoration-line: none;
}

.nav .button {
  width: 100%;
  padding: 8px 8px;
}

.nav .button:focus-visible {
  outline-color: currentColor;
  outline-offset: -1px;
}

.nav ul {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
  max-width: var(--width-heading);
  padding: 0;
  justify-content: space-between;
  justify-content: space-evenly;
  /* padding-right: 4px; */
  font-style: italic;
  text-transform: uppercase;
  /* font-family: var(--font-mono); */
}

.nav .separator::after {
  font-style: normal;
  font-weight: normal;
  content: "/";
  opacity: 0.2;
  margin-inline: 0;
}

@media (width <= 35rem) {
  .nav {
    background: var(--theme-page-bg);
    color: var(--theme-nav-text);
    border-top: var(--infobox-gap) solid var(--theme-page-bg);
    display: flex;

    ul {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: var(--infobox-gap);
    }

    li {
      flex: auto;
      justify-content: center;
    }

    li:first-child a {
      border-bottom-left-radius: var(--rounded-large);
    }

    li:last-child a {
      border-bottom-right-radius: var(--rounded-large);
    }

    a {
      display: block;
      padding-block: 16px;
      padding-inline: 8px;
      outline-offset: -6px;
      background: var(--theme-nav-bg);
      text-align: center;
      /* font-style: normal; */
      line-height: 1.25;
    }

    li:has(> .separator) {
      display: none;
    }
  }
}

@media (width <= 50rem) {
  .nav .separator {
    margin-inline: 8px;
  }
}

@media (width > 50rem) {
  .nav .separator {
    margin-inline: 8px;
  }
}
