.nav {
  max-width: var(--width-heading);
  display: flex;
  align-items: center;
}

.nav a {
  /* display: block; */
  color: inherit;
  font-weight: bold;
  /* font-style: italic; */
  padding: 8px 0;
}

.nav a:where(:not(:hover)) {
  text-decoration-line: none;
}

.nav .button {
  width: 100%;
  padding: 8px 8px;
}

.nav .button:focus-visible {
  outline-color: currentColor;
  outline-offset: -1px;
}

.nav ul {
  font-size: var(--font-size-small);
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
  max-width: var(--width-heading);
  padding: 0;
}

.nav .separator::after {
  /* font-style: italic; */
  font-weight: normal;
  content: "/";
  color: var(--color-border-light);
  margin-inline: 2px;
}

@media (width <= 50rem) {
  .nav .separator {
    margin-inline: 8px;
  }
}
@media (width > 50rem) {
  .nav .separator {
    margin-inline: 8px;
  }
}
