article:where(.page) {
  > header,
  > section,
  > footer {
    max-width: var(--width-heading);
    margin-inline: auto;
    padding-inline: 1rem;

    p,
    ul,
    ol,
    dl,
    figcaption,
    details {
      max-width: var(--width-copy);
    }
  }

  > header {
    > h1 {
      margin-block: 2rem 1.5rem;
    }

    > small {
      display: block;
      margin-block: 0.5rem 1.5rem;
      /* font-style: italic; */
    }
  }

  > :where(section, header, footer) {
    video,
    img {
      max-width: 100%;
      height: auto;
      display: block;
    }

    p:has(img, video) {
      max-width: var(--width-heading);
      display: flex;
    }

    hr {
      border: 0;
      margin-block: 1.5rem;
      margin-inline: auto;
      color: inherit;
      width: 100%;

      border-top: 1px solid var(--color-black);
      border-color: var(--border-colors);
    }

    :where(.paragraph),
    blockquote,
    ul,
    ol,
    dl,
    p,
    figure {
      margin: 1.5rem 0;
    }

    ul ul {
      margin-block: 0.5rem;
    }

    li > p {
      margin-block: 0.5rem;
    }

    figure {
      display: flex;
      flex-direction: column;
      gap: 8px;
      background: var(--color-white);
      padding: 8px;
      border-radius: var(--rounded-large);
      border: 1px solid var(--color-black);
      border-color: var(--border-colors);

      max-width: max-content;

      img,
      video {
        outline: 1px solid #0001;
        outline-offset: -1px;
      }
    }

    figcaption {
      font-size: var(--font-size-small);
      /* text-wrap: balance; */
      text-wrap: pretty;
      /* font-style: italic; */

      strong {
        font-style: normal;
      }
    }

    blockquote,
    aside {
      padding: 0 1.5rem;
      border: 1px solid var(--color-black);
      border-color: var(--border-colors);
      border-radius: var(--rounded-large);
      background: var(--color-white);
      max-width: max-content;

      h3 {
        margin-top: 1.5rem;
      }
    }

    blockquote {
      font-style: italic;
    }
  }
}
