article:where(.page) {
  > header,
  > section,
  > footer {
    max-width: var(--width-heading);
    margin-inline: auto;
    padding-inline: 1rem;

    p,
    ul,
    ol,
    dl,
    figcaption,
    details {
      max-width: var(--width-copy);
    }
  }

  > header {
    > h1 {
      margin-block: 2rem 1.5rem;
    }

    > small {
      display: block;
      margin-block: 0.5rem 1.5rem;
    }
  }

  /* Hack for my bad habit of using Markdown images with bold text after them as captions */
  p:has(img, video) + p:has(strong) {
    margin-top: -16px;
    line-height: 1.25;

    strong {
      font-weight: normal;
      font-style: italic;
      font-size: var(--font-size-small);
    }
  }

  > :where(section, header, footer) {
    video,
    img {
      max-width: 100%;
      height: auto;
      display: block;
    }

    p:has(img, video) {
      max-width: var(--width-heading);
      display: flex;
    }

    hr {
      border: 0;
      margin-block: 1.5rem;
      margin-inline: auto;
      color: inherit;
      width: 100%;

      /* border-top: 1px solid var(--theme-border); */
      border-top: 2px solid var(--theme-border);
      /* border-radius: var(--rounded-large); */
    }

    :where(.paragraph),
    blockquote,
    ul,
    ol,
    dl,
    p,
    figure {
      margin: 1.5rem 0;
    }

    ul ul {
      margin-block: 0.5rem;
    }

    li > p {
      margin-block: 0.5rem;
    }

    figure {
      display: flex;
      flex-direction: column;
      gap: 8px;
      max-width: max-content;

      img,
      video {
        /* I use a lot of lazy loaded images, so let's give them a bit of a
        background so that things look less empty when they load in while you're
        scrolling... */
        background: var(--theme-photo);
      }
    }

    figcaption {
      font-size: var(--font-size-small);
      /* text-wrap: balance; */
      text-wrap: pretty;
      font-style: italic;

      strong {
        font-style: normal;
      }
    }

    blockquote,
    aside {
      padding-inline: 2rem;
      /* border-left: 4px solid var(--color-green); */
      max-width: max-content;

      h3 {
        margin-top: 1.5rem;
      }
    }

    blockquote {
      font-style: italic;
    }
  }
}
