shy-header {
  display: block;
  transition-duration: 200ms;
  transition-property: translate, opacity, border-color;
  transition-timing-function: ease-in-out;

  &[hidden] {
    opacity: 0;
    translate: 0 -100%;
    pointer-events: none;
  }
}
