pre:has(> code) {
  margin-block: 1.5rem;
  padding: 1rem;
  border: 1px solid var(--color-main-decoration);
  border-image: radial-gradient(
      100% 100% at 50% 0%,
      var(--color-main-decoration),
      transparent
    )
    1;
  overflow-x: auto;
}

/* Reset color for nested scripts */
.token.script {
  color: var(--color-syntax-default);
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--color-syntax-comment);
  font-style: italic;
}

.token.punctuation {
  color: var(--color-syntax-punctuation);
}

.token.attr-value,
.token.selector,
.token.string,
.token.char,
.token.boolean,
.token.number,
.token.regex,
/* .token.builtin, */
.token.inserted {
  color: var(--color-syntax-string);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: var(--color-syntax-punctuation);
}

.token.atrule,
.token.function,
.token.class-name {
  color: var(--color-syntax-property);
}

.token.tag,
.token.tag > .token.class-name {
  color: var(--color-syntax-keyword);
}

.token.keyword {
  color: var(--color-syntax-keyword);
  font-weight: bold;
}

.language-css .token.property,
.token.attr-name,
/* .token.property, */
.token.variable,
.token.constant,
.token.symbol,
.token.deleted,
.token.important {
  color: var(--color-syntax-property);
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
