pre:has(> code) {
  overflow-x: auto;
  margin-block: 1.5rem;
  padding: 1rem;
  background-color: var(--theme-code);
  color: var(--syntax-text);
  border-radius: var(--rounded-large);
}

/* Reset color for nested scripts */
.token.script {
  color: var(--syntax-default);
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--syntax-comment);
  font-style: italic;
}

.token.punctuation {
  color: var(--syntax-punctuation);
}

.token.attr-value,
.token.selector,
.token.string,
.token.char,
.token.boolean,
.token.number,
.token.regex,
/* .token.builtin, */
.token.inserted {
  color: var(--syntax-string);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: var(--syntax-punctuation);
}

.token.atrule,
.token.function,
.token.class-name {
  color: var(--syntax-property);
}

.token.tag,
.token.tag > .token.class-name {
  color: var(--syntax-keyword);
}

.token.keyword {
  color: var(--syntax-keyword);
  font-weight: bold;
}

.language-css .token.property,
.token.attr-name,
/* .token.property, */
.token.variable,
.token.constant,
.token.symbol,
.token.deleted,
.token.important {
  color: var(--syntax-property);
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
