.crime-frame {
  all: revert;
  overflow: hidden;
  position: relative;
  display: flex;

  ::before,
  ::after {
    all: revert;
  }
}

.crime-frame :is(details, summary) {
  all: revert;
  display: block;
  font: inherit;
}

.crime-frame > * {
  max-width: initial !important;
  width: 100% !important;
}
