:root {
  --font-fallback-main: system-ui, sans-serif;
  --font-fallback-mono:
    ui-monospace, "Cascadia Code", "SFMono-Regular", "Menlo", "Monaco",
    "Consolas", "Liberation Mono", "Courier New", monospace;
  --font-body: "PP Mori", var(--font-fallback-main);
  --font-cool: var(--font-body);
  --font-mono: "Lilex", var(--font-fallback-mono);

  /* --image-outline: rgb(from var(--color-black) r g b / 10%); */
  --image-outline: var(--color-black);
  /* --image-outline: rgb(from currentColor r g b / 20%); */
  /* --image-outline: #fff; */

  /* --shadow1:
    0 1px 2px var(--theme-shadow), 0 2px 4px var(--theme-shadow),
    0 4px 8px var(--theme-shadow); */
  /* --shadow-inset1: inset 0 4px 0 var(--theme-shadow); */
  /* --shadow-inset1:
    inset 0 1px 2px var(--theme-shadow), inset 0 2px 4px var(--theme-shadow); */

  --shadow1: 4px 4px 0 var(--theme-shadow);
  /* --shadow1:
    1px 1px 0 var(--theme-shadow), 2px 2px 0 var(--theme-shadow),
    3px 3px 0 var(--theme-shadow), 4px 4px 0 var(--theme-shadow); */
  --shadow2: 0 4px var(--theme-shadow);

  --ui-bg-overlay-hover: radial-gradient(#fff4);
  --ui-bg-overlay-active: radial-gradient(#0002);

  /*
   Fluid typography seems really cool, but it also kinda looks terrible unless
   you're adding in `round()` to prevent fractional pixels during resizing,
   which causes jumpy text. Maybe in the future I'll play with it more...

   https://modern-fluid-typography.vercel.app/
  */
  --font-size-h1: 3rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.5rem;
  --font-size-nav: 1.25rem;
  --font-size-base: 1.25rem;
  --font-size-small: 1rem;
  --font-size-code: 1rem;

  --cursor-zoom-in: url("/cursors/zoom-in.svg") 12 12, zoom-in;

  --list-inset: 24px;

  --rounded-xsmall: 2px;
  --rounded-small: 4px;
  --rounded-medium: 8px;
  --rounded-large: 16px;

  --rounded-pill: 9999px;

  --width-copy: 50rem;
  --width-heading: 50rem;
  /* --width-copy: 50rem;
  --width-heading: 50rem; */

  --link-underline-offset: calc(1em / 8);
  --link-underline-thickness: 2px;
  --link-underline-thickness-hover: calc(var(--link-underline-thickness) + 0px);

  @media (resolution >= 1.5dppx) {
    --link-underline-thickness: 1.5px;
  }

  @media (width <= 50rem) {
    --font-size-h1: round(2.5rem, 1px);
    --font-size-h2: round(2rem, 1px);
    --font-size-h3: round(1.5rem, 1px);
    --font-size-base: round(1.15rem, 1px);
    --font-size-nav: round(1.25rem, 1px);
    --font-size-small: round(1rem, 1px);
  }
}
