:root {
  --font-fallback-main: system-ui, sans-serif;
  --font-fallback-mono:
    ui-monospace, "Cascadia Code", "SFMono-Regular", "Menlo", "Monaco",
    "Consolas", "Liberation Mono", "Courier New", monospace;
  --font-body: "PP Mori", var(--font-fallback-main);
  --font-cool: var(--font-body);
  --font-mono: "Lilex", var(--font-fallback-mono);

  /* --image-outline: rgb(from var(--color-black) r g b / 10%); */
  --image-outline: #fff;

  /* --shadow1:
    0 1px 2px var(--theme-shadow), 0 2px 4px var(--theme-shadow),
    0 4px 8px var(--theme-shadow); */
  --shadow-inset1:
    inset 0 1px 3px rgb(from var(--color-green) r g b / 12%),
    inset 0 1px 2px rgb(from var(--color-green) r g b / 24%);
  /* --shadow-inset1:
    inset 0 1px 2px var(--theme-shadow), inset 0 2px 4px var(--theme-shadow); */

  /* Material Design shadows */
  --shadow1:
    0 1px 3px rgb(from var(--color-green) r g b / 12%),
    0 1px 2px rgb(from var(--color-green) r g b / 24%);
  --shadow2:
    0 14px 28px rgb(from var(--color-green) r g b / 25%),
    0 10px 10px rgb(from var(--color-green) r g b / 22%);
  --shadow3:
    0 3px 6px rgb(from var(--color-green) r g b / 16%),
    0 3px 6px rgb(from var(--color-green) r g b / 23%);
  --shadow4:
    0 10px 20px rgb(from var(--color-green) r g b / 19%),
    0 6px 6px rgb(from var(--color-green) r g b / 23%);
  --shadow5:
    0 14px 28px rgb(from var(--color-green) r g b / 25%),
    0 10px 10px rgb(from var(--color-green) r g b / 22%);
  --shadow6:
    0 19px 38px rgb(from var(--color-green) r g b / 30%),
    0 15px 12px rgb(from var(--color-green) r g b / 22%);

  --ui-bg-overlay-hover: radial-gradient(#fff4);
  --ui-bg-overlay-active: radial-gradient(#0002);

  /*
   Fluid typography seems really cool, but it also kinda looks terrible unless
   you're adding in `round()` to prevent fractional pixels during resizing,
   which causes jumpy text. Maybe in the future I'll play with it more...

   https://modern-fluid-typography.vercel.app/
  */
  --font-size-h1: 3rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.5rem;
  --font-size-nav: 1.25rem;
  --font-size-base: 1.25rem;
  --font-size-small: 1rem;
  --font-size-code: 1rem;

  --cursor-zoom-in: url("/cursors/zoom-in.svg") 12 12, zoom-in;

  --list-inset: 32px;

  --rounded-xsmall: 2px;
  --rounded-small: 4px;
  --rounded-medium: 8px;
  --rounded-large: 16px;

  --rounded-pill: 9999px;

  --width-copy: 50rem;
  --width-heading: 50rem;

  --link-underline-offset: calc(1em / 6);
  --link-underline-thickness: 1.5px;
  --link-underline-thickness-hover: calc(var(--link-underline-thickness) + 0px);
}

@media (width <= 50rem) {
  :root {
    --font-size-h1: round(2.5rem, 1px);
    --font-size-h2: round(2rem, 1px);
    --font-size-h3: round(1.5rem, 1px);
    --font-size-base: round(1.15rem, 1px);
    --font-size-nav: round(1.25rem, 1px);
    --font-size-small: round(1rem, 1px);
  }
}
