:root {
  --font-fallback-main: system-ui, sans-serif;
  --font-fallback-mono:
    ui-monospace, "Cascadia Code", "SFMono-Regular", "Menlo", "Monaco",
    "Consolas", "Liberation Mono", "Courier New", monospace;
  --font-body: "PP Object Sans", var(--font-fallback-main);
  --font-cool: "PP Talisman Narrow", var(--font-fallback-main);
  /* --font-cool: var(--font-body); */
  --font-logo: "Ultra Hi-Gloss", var(--font-fallback-main);
  --font-mono: "JetBrains Mono", var(--font-fallback-mono);

  /*
   Fluid typography seems really cool, but it also kinda looks terrible unless
   you're adding in `round()` to prevent fractional pixels during resizing,
   which causes jumpy text. Maybe in the future I'll play with it more...

   https://modern-fluid-typography.vercel.app/
  */
  --font-size-h1: 3rem;
  --font-size-h2: 2.5rem;
  --font-size-h3: 1.5rem;
  --font-size-logo: 1.25rem;
  --font-size-base: 1.25rem;
  --font-size-small: 1rem;
  --font-size-code: round(calc(0.9 * var(--font-size-base)), 1px);

  --list-inset: 2rem;

  --rounded-xsmall: 2px;
  --rounded-small: 4px;
  --rounded-medium: 8px;
  --rounded-large: 16px;
  --rounded-pill: 9999px;

  --width-copy: 50rem;
  --width-heading: 50rem;

  --link-underline-offset: calc(1em / 6);
  --link-underline-thickness: 1px;
  --link-underline-thickness-hover: calc(var(--link-underline-thickness) + 1px);

  --border-colors: var(--color-border-light) var(--color-border-medium)
    var(--color-border-heavy) var(--color-border-light);
}

@media (width <= 50rem) {
  :root {
    --font-size-h1: round(2.5rem, 1px);
    --font-size-h2: round(2rem, 1px);
    --font-size-h3: round(1.5rem, 1px);
    --font-size-base: round(1.15rem, 1px);
    --font-size-logo: round(1.25rem, 1px);
    --font-size-small: round(1rem, 1px);

    --list-inset: 2rem;
  }
}
