:root {
  --font-fallback-main: system-ui, sans-serif;
  --font-fallback-mono: ui-monospace, "Cascadia Code", "SFMono-Regular", "Menlo",
    "Monaco", "Consolas", "Liberation Mono", "Courier New", monospace;
  --font-body: "PP Object Sans", var(--font-fallback-main);
  --font-cool: "PP Editorial New", var(--font-fallback-main);
  --font-logo: "Ultra Hi-Gloss", var(--font-fallback-main);
  --font-mono: "JetBrains Mono", var(--font-fallback-mono);

  /*
   Fluid typography seems really cool, but it also kinda looks terrible unless
   you're adding in `round()` to prevent fractional pixels during resizing,
   which causes jumpy text. Maybe in the future I'll play with it more...

   https://modern-fluid-typography.vercel.app/
  */
  --font-size-h1: 3.5rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.5rem;
  --font-size-base: 1.25rem;
  --font-size-small: 1rem;
  --font-size-code: calc(0.9 * var(--font-size-base));

  --rounded-none: 0px;
  --rounded-small: 3px;
  --rounded-large: 8px;
  --rounded-pill: 9999px;

  --link-underline-offset: calc(1em / 6);
  --link-underline-thickness: 1.5px;
  --link-underline-thickness-hover: calc(var(--link-underline-thickness) + 1px);
}

@media (width <= 800px) {
  :root {
    --font-size-h1: 2.2rem;
    --font-size-h2: 1.8rem;
    --font-size-h3: 1.4rem;
    --font-size-base: 1.1rem;
    --font-size-small: 1rem;
  }
}
