<p>
  I'm notorious for redesigning my website. Rather than be ashamed of this
  tendency, I'm trying to embrace it. Welcome to my gallery of page designs. I
  hope you enjoy looking at them as much as I made them.
</p>

<h2>2025</h2>

<h3>wavebeem2000</h3>

<figure>
  <img
    loading="lazy"
    src="./assets/site2025d-light.webp"
    alt=""
    width="1280"
    height="1402"
  />
  <figcaption>wavebeem2000 Light (2025)</figcaption>
</figure>

<figure>
  <img
    loading="lazy"
    src="./assets/site2025d-dark.webp"
    alt=""
    width="1280"
    height="1402"
  />
  <figcaption>wavebeem2000 Dark (2025)</figcaption>
</figure>

<p>
  I couldn't stop thinking about my logo font,
  <a href="https://itemlabel.com/products/ultra-hi-gloss-font">Ultra Hi-Gloss</a
  >, by <a href="https://www.froyotam.info/">Froyo Tam</a>. It has such a juicy
  y2k aesthetic, and it felt really out of place in the refined paper-styled
  design I was using. I wanted to start with the font as my source of
  inspiration.
</p>

<p>
  I've wanted to use
  <a href="https://itemlabel.com/products/whisper-font">Whisper</a>, another
  font by the same designer, for a while. Since both of these have y2k written
  all over them and their example images, it was clear where to look for
  inspiration.
</p>

<p>
  The colorful gradient and checkerboard background make my site feel exciting
  to me again. On mobile the header and footer are the only glimpses of fun
  background you get, but mobile is hard.
</p>

<p>
  I can't help but be inspired by Windows Vista, so I wanted to add a
  transparent dark navigation bar to my page. I used a more modern style flat
  and heavily blurred glass aesthetic, because it feels like a modern
  interpretation of the inspiration.
</p>

<h3>Editorial 1.2</h3>

<figure>
  <img
    loading="lazy"
    src="./assets/site2025c-light.webp"
    alt=""
    width="1280"
    height="1422"
  />
  <figcaption>Editorial 1.2 Light (2025)</figcaption>
</figure>

<figure>
  <img
    loading="lazy"
    src="./assets/site2025c-dark.webp"
    alt=""
    width="1280"
    height="1422"
  />
  <figcaption>Editorial 1.2 Dark (2025)</figcaption>
</figure>

<p>
  I'm embracing content and organization. I tried to make the single column
  layout work on desktop, but it was really struggling. I have too many pages to
  put in a plain list, so I'm attempting to use hierarchy.
</p>

<p>
  The group names aren't very good right now, but the idea of breaking up the
  links into groups of five or less items helps keep it from feeling
  overwhelming.
</p>

<p>
  Previously you had to scroll to the bottom of any given page to start
  navigating to other content, which felt kinda weird. I'm embracing
  battled-tested design here: a sidebar on desktop and a hamburger menu on
  mobile. I specifically opted to not make the sidebar docked in part because
  it's more challenging, and in part to reduce distractions while reading longer
  posts. And the hamburger menu on mobile just expands content in place, rather
  than being a modal interaction.
</p>

<h3>Editorial 1.1</h3>

<figure>
  <img
    loading="lazy"
    src="./assets/site2025b-light.webp"
    alt=""
    width="1280"
    height="1908"
  />
  <figcaption>Editorial 1.1 Light (2025)</figcaption>
</figure>

<figure>
  <img
    loading="lazy"
    src="./assets/site2025b-dark.webp"
    alt=""
    width="1280"
    height="1908"
  />
  <figcaption>Editorial 1.1 Dark (2025)</figcaption>
</figure>

<p>
  The bright, saturated colors weren't helping me achieve the "printed paper"
  look I had in my mind. I darkened and desaturated things a bit, giving
  everything a calmer look. I also now dynamically switch between the
  <code>multiply</code> and <code>screen</code> blend modes based on light/dark
  mode, rather than using <code>luminosity.</code>
</p>

<h3>Editorial</h3>

<figure>
  <img
    loading="lazy"
    src="./assets/site2025a.webp"
    alt=""
    width="2560"
    height="3732"
  />
  <figcaption>Editorial (2025)</figcaption>
</figure>

<p>
  I was tired of using shapes and colors like a cudgel. I have been wanting to
  make a modern two color design for a long time. Going from over a dozen colors
  to just two makes it a lot easier to make page-specific themes, like for my
  new shrines.
</p>

<h2>2024</h2>

<h3>Fresh Green</h3>

<figure>
  <img
    loading="lazy"
    src="./assets/site2024f.webp"
    alt=""
    width="2560"
    height="4184"
  />
  <figcaption>Fresh green (2024)</figcaption>
</figure>

<p>
  Slime mode was super fun, but I was just tired of not having enough green on
  the page. This design was inspired by the Sprite Vanilla Frost soda can
  design.
</p>

<h3>Slime Mode</h3>

<figure>
  <img
    loading="lazy"
    src="./assets/site2024e.webp"
    alt=""
    width="2560"
    height="4664"
  />
  <figcaption>Slime mode (2024)</figcaption>
</figure>

<p>
  This was the final form of slime mode, my attempt at making my website feel
  more fun. I still really like how this theme looks, but it's just not
  <em>green</em> enough for me.
</p>

<h3>Summer Style</h3>

<figure>
  <img
    loading="lazy"
    src="./assets/site2024d.webp"
    alt=""
    width="1280"
    height="1841"
  />
  <figcaption>Summer style (2024)</figcaption>
</figure>

<p>
  This design coincided with my 24/7 use of Night Mode. The warmer screen tone
  feels quite comfortable on my eyes in comparison to the harsh blues I was used
  to.
</p>

<h3>Lime & Lavender</h3>

<figure>
  <img
    loading="lazy"
    src="./assets/site2024c.webp"
    alt=""
    width="1280"
    height="1841"
  />
  <figcaption>Lime &amp; lavender (2024)</figcaption>
</figure>

<p>
  Inspired by fancy gelato pictures, I wanted to make something soft and airy.
  My previous design had many lines and sections, so I wanted to simplify
  things.
</p>

<h3>Aero</h3>

<figure>
  <img
    loading="lazy"
    src="./assets/site2024b.webp"
    alt=""
    width="1280"
    height="1290"
  />
  <figcaption>Aero (2024)</figcaption>
</figure>

<p>
  The love child of Windows Aero, the Wii, and stripes! This design is really
  fun, but the white felt overbearing, especially on mobile. There wasn't much
  interest besides the background, which bothered me. I'm still proud of the
  fade out half boxes I came up with for adding texture to the page.
</p>

<h3>Candy Green</h3>

<figure>
  <img
    loading="lazy"
    src="./assets/site2024a.webp"
    alt=""
    width="1280"
    height="1389"
  />
  <figcaption>Candy green (2024)</figcaption>
</figure>

<p>
  Maximal boxes. Boxes inside of boxes. Wild textures. Gradients providing
  depth. A gorgeous color scheme inspired by one of my favorite Destiny 2
  shaders. This was super fun, and a great showcase for my candy.css library.
</p>

<h2>2023</h2>

<figure>
  <img
    loading="lazy"
    src="./assets/site2023.webp"
    alt=""
    width="1280"
    height="1396"
  />
  <figcaption>Cyber purple &amp; lime (2023)</figcaption>
</figure>

<p>
  I needed a new theme to match my brand new neon green hair. I still like this
  one a lot. I wish it had more gree, but the purple is
  <em>very</em> nice and the neon green really <strong>pops</strong> against it.
</p>

<h2>2022</h2>

<figure>
  <img
    loading="lazy"
    src="./assets/site2022.webp"
    alt=""
    width="1280"
    height="1369"
  />
  <figcaption>Green &amp; pink (2022)</figcaption>
</figure>

<p>
  Ugh, this looked a lot better in dark mode. The light mode green background is
  so pale and sickly. It looked quite good in dark mode where I could use a
  richer green. I think this theme is a perfect example of how you need to be
  creative when switching between dark and light themes, unless you only use
  neutral colors.
</p>

<h2>2021</h2>

<figure>
  <img
    loading="lazy"
    src="./assets/site2021.webp"
    alt=""
    width="1280"
    height="804"
  />
  <figcaption>1bit-ui (2021)</figcaption>
</figure>

<p>
  Technically using 1bit-ui, I added lots of extra colors to this page. The
  fancy cards look cool, especially alongside the pixel art portrait I made, but
  it's an idea that was only half heartedly implemented.
</p>

<h2>2020</h2>

<figure>
  <img
    loading="lazy"
    src="./assets/site2020.webp"
    alt=""
    width="1280"
    height="800"
  />
  <figcaption>Pixel art (2020)</figcaption>
</figure>

<p>
  This design still looks really cool to me, though the amount of green is
  basically zero! This was my first design to include a dark mode, which I
  thought looked really nice. I waited 5 years to use a serif font again, lol.
</p>

<h2>2018</h2>

<figure>
  <img
    loading="lazy"
    src="./assets/site2018.webp"
    alt=""
    width="1280"
    height="1166"
  />
  <figcaption>Big art (2018)</figcaption>
</figure>

<p>
  I got this cute art commissioned from a friend for my business card. I liked
  it so much I put it on my website. I think it was a bit too large on the page
  though.
</p>

<h2>2017</h2>

<figure>
  <img
    loading="lazy"
    src="./assets/site2017.webp"
    alt=""
    width="1280"
    height="1054"
  />
  <figcaption>Chat bubble (2017)</figcaption>
</figure>

<p>
  Wow, this sure was white. I copied the Material Design SCREAMING LABELS trend
  (ew, yuck, this was so awful). I unnecessarily made the nav bar look like tabs
  including active state (I was proud of this, though). I like the fun
  background color on the links, and my pixel art self portrait.
</p>

<h2>2016</h2>

<figure>
  <img
    loading="lazy"
    src="./assets/site2016.webp"
    alt=""
    width="1280"
    height="917"
  />
  <figcaption>Bussiness card (2016)</figcaption>
</figure>

<p>
  Not much to see here. It was more of a digital business card. The design
  looked good on mobile but awkward on desktop.
</p>

<h2>2015</h2>

<figure>
  <img
    loading="lazy"
    src="./assets/site2015.webp"
    alt=""
    width="1280"
    height="1437"
  />
  <figcaption>Cards (2015)</figcaption>
</figure>

<p>
  Ten years later I can really see how I've grown with respect to typography and
  layout design. This is kind of a mess, though it's information dense and easy
  to understand, I think.
</p>

<h2>2014</h2>

<figure>
  <img
    loading="lazy"
    src="./assets/site2014.webp"
    alt=""
    width="1280"
    height="1437"
  />
  <figcaption>Super thin font (2014)</figcaption>
</figure>

<p>
  I do not miss the days of pencil thin fonts that are totally unreadable.
  Apparently I thought to use one here. The bold and low contrast links kinda
  bother me. Underlines aren't scary, but I think a lot of people (including me)
  thought they were back then.
</p>

<h2>2013</h2>

<figure>
  <img
    loading="lazy"
    src="./assets/site2013.webp"
    alt=""
    width="1280"
    height="1230"
  />
  <figcaption>The original (2013)</figcaption>
</figure>

<p>
  Despite also having a resume linked in PDF format, this is basically just an
  HTML resume. It's quite boring, but it's pretty effective. Using the accent
  color for both links and headings is really confusing, but I can tell I was
  trying to zhuzh up the main page a bit. Also, jump scare seeing the ghostly
  "Projects" text that's basically zero contrast lol. The extremely dense text
  probably felt better on smaller screens of the era, but hey, I tried!
</p>
