{{ $nav_item := "pa3 hover-bg-white-40 hover-bottomline link color-inherit" }}
{{ $color := "bb dark-pink bw1 b--black-10" }}
{{ $mini_class := "pv2 ph3 flex-auto hover-outline" }}

<!-- Small nav -->
<div class="dn-ns">
  <nav class="f3 flex flex-column mb4 {{ $color }}">
    <a class="{{ $nav_item }} {{ $mini_class }} b" href="/">Brian Mock</a>
    <a class="{{ $nav_item }} {{ $mini_class }}" href="/">Home</a>
    <a class="{{ $nav_item }} {{ $mini_class }}" href="/blog">Blog</a>
    <a class="{{ $nav_item }} {{ $mini_class }}" href="/resume">Resume</a>
  </nav>
</div>

<!-- Big nav -->
<div class="dn db-ns">
  <nav class="f3 flex mb4 items-center {{ $color }}">
    <a class="{{ $nav_item }} b" href="/">Brian Mock</a>
    <a class="{{ $nav_item }}" href="/">Home</a>
    <a class="{{ $nav_item }}" href="/blog">Blog</a>
    <a class="{{ $nav_item }}" href="/resume">Resume</a>
  </nav>
</div>
