{{ $nav_item := "pa3 hover-bg-white-10 hover-bottomline link" }}
{{ $color := "bb b--black-10" }}
{{ $mini_class := "pv2 ph3 flex-auto hover-outline" }}

<!-- Small nav -->
<div class="dn-ns">
  <nav class="f3 flex flex-column mb4 {{ $color }}">
    <a class="{{ $nav_item }} {{ $mini_class }} navy b" href="/">Brian Mock</a>
    <a class="{{ $nav_item }} {{ $mini_class }} dark-pink" href="/">Home</a>
    <a class="{{ $nav_item }} {{ $mini_class }} dark-pink" href="/blog">Blog</a>
    <a class="{{ $nav_item }} {{ $mini_class }} dark-pink" href="/resume">Resume</a>
  </nav>
</div>

<!-- Big nav -->
<div class="dn db-ns">
  <nav class="f3 flex mb4 items-center {{ $color }}">
    <a class="{{ $nav_item }} navy b" href="/">Brian Mock</a>
    <a class="{{ $nav_item }} dark-pink" href="/">Home</a>
    <a class="{{ $nav_item }} dark-pink" href="/blog">Blog</a>
    <a class="{{ $nav_item }} dark-pink" href="/resume">Resume</a>
  </nav>
</div>
