<p>
  Etrian Odyssey is one of favorite video game series of all time. And it's the
  reason I met one of my best friends.
</p>

<figure>
  <img
    src="./assets/eo2.webp"
    alt=""
    loading="eager"
    width="800"
    height="729"
    style="width: 400px;"
  />
  <figcaption>Etrian Odyssey II for Nintendo DS</figcaption>
</figure>

<p>
  I got started with a used copy of Etrian Odyssey II for the Nintendo DS not
  terribly long before the third game was released. I had never played a dungeon
  crawling game quite like it before, and I was hooked.
</p>

<figure>
  <video
    src="./assets/combat.mp4"
    poster="./assets/combat.webp"
    width="1280"
    height="720"
    controls
    preload="none"
  ></video>
  <figcaption>
    A short video showing combat in the HD remaster of Etrian Odyssey II.
  </figcaption>
</figure>

<p>
  The music is beyond incredible.
  <a href="https://en.wikipedia.org/wiki/Yuzo_Koshiro">Yuzo Koshiro</a> is a
  legendary composer, and this was my first big exposure to his music. I own
  several game soundtracks and arrangements for the series, and listening to
  them can bring out so many emotions and memories for me. As a total sicko for
  Nintendo handhelds, the DS was the last truly great handheld by them, in my
  opinion.
</p>

<figure>
  <img
    src="./assets/crusty.webp"
    alt=""
    loading="lazy"
    width="800"
    height="600"
    style="width: 400px;"
  />
  <figcaption>A super crusty image of Etrian Odyssey</figcaption>
</figure>

<p>
  A meticulously crafted interface in various shades of green? You bet I loved
  this. The game also really indulged the build crafters out there. While the
  story is pretty minimal, I think it does a good job of giving you a reason to
  keep going. This is a gamer's game about gameplay, with all the best possible
  art to make everything engaging.
</p>

<p>
  At the time I loved (and sometimes hated) the map drawing system. The dungeon
  floors were often extremely creative and treacherous in a way I feel like I
  rarely see. Getting to the next floor was always a journey.
</p>

<figure>
  <img
    src="./assets/eo2-ui.webp"
    alt=""
    loading="lazy"
    width="480"
    height="720"
    style="width: 240px;"
  />
  <figcaption>A super crusty image of Etrian Odyssey</figcaption>
</figure>

<p>
  I remember the excitement of getting to a new stratum (a group of about five
  floors) and seeing the new visual style and new song. Sometimes less is more
  with storytelling, and this game did so much with visuals and music that other
  games would do by beating you over the head with walls of text.
</p>

<p>
  It's just your party vs the dungeon, and there isn't a lot to talk about.
  You're just immersed in the experiences. One of the really interesting ways
  the story plays out is through events that can happen when you interact with
  points of interest. It frequently plays out like a "choose your own adventure"
  novel, with one choice leading to success, and another leading to a monster
  encounter. It could be something like "Do you eat the tasty honey from the
  bee's nest?". And if you say yes... a nearby bear who wants the honey attacks
  you!!! Killing your entire party lol. You could call it cheap, but usually the
  results were less dire. It's a subtle kind of roleplaying, but combined with
  the silent protagonist and first person perspective, it feels so immersive.
</p>

<figure>
  <img
    src="./assets/gunner.webp"
    alt=""
    loading="lazy"
    width="112"
    height="206"
    class="pixelated"
    style="width: 224px;"
  />
  <figcaption>The Etrian Odyssey gunner class</figcaption>
</figure>

<p>
  The game's combat system was extremely satisfying to me, and I devoured these
  entries for several games. I'm glad that Etrian Odyssey has been wrapped up,
  but I hope to see a new generation of fantastic dungeon crawlers that can live
  up to the awesomeness of some of these games.
</p>

<figure>
  <img
    src="./assets/wynne.webp"
    alt=""
    loading="lazy"
    width="800"
    height="477"
    style="width: 400px;"
  />
  <figcaption>Wynne's infamous quote from Etrian Odyssey 4</figcaption>
</figure>

<h2>Commissioned art</h2>

<p>
  I commissioned one of my favorite artists,
  <a href="https://sproutsnout.com/">sproutsnout</a>, to draw two of my favorite
  classes from Etrian Odyssey II.
</p>

<div class="photo-grid">
  <figure>
    <img
      src="./assets/sproutsnout/war-magus.webp"
      alt=""
      loading="lazy"
      width="612"
      height="792"
    />
    <figcaption>War Magus</figcaption>
  </figure>

  <figure>
    <img
      src="./assets/sproutsnout/gunner.webp"
      alt=""
      loading="lazy"
      width="638"
      height="825"
    />
    <figcaption>Gunner</figcaption>
  </figure>
</div>
