.avatar {
  --avatar-size: 180px;
  --avatar-padding: 0px;
  display: flex;
  float: right;
  margin: 1rem;
  margin-right: 0;
  margin-top: -1rem;
  background-color: var(--color-background);
  padding: var(--avatar-padding);
  border-radius: 9999px;
}

wavebeem-easter-egg.avatar[data-state="inside"] {
  background: transparent;
  border-color: transparent;
}

.avatar img {
  border-radius: 9999px;
  width: var(--avatar-size);
  height: var(--avatar-size);
  filter: grayscale(1) contrast(1.5) brightness(0.9);
  mix-blend-mode: luminosity;
}

wavebeem-easter-egg {
  --wavebeem-easter-egg--shadow-color: hsl(0 0% 0% / 50%);
  --t: 2px;
  --k: 0.05turn;
  --transform: translate(calc(var(--t) * var(--x)), calc(var(--t) * var(--y)))
    rotateY(calc(var(--k) * var(--x))) rotateX(calc(var(--k) * var(--y)));
  display: block;
  position: relative;
  /* touch-action: none; */
}

@media (prefers-reduced-motion: reduce), not (hover) {
  wavebeem-easter-egg {
    --k: 0turn;
  }
}

wavebeem-easter-egg[data-state="outside"] img {
  transition-timing-function: ease;
  transition-duration: 500ms;
  transition-property: transform, box-shadow, outline;
}

wavebeem-easter-egg[data-state="inside"] img {
  pointer-events: none;
  /* touch-action: none; */
  transform: var(--transform);
  outline: 1px solid #fff8;
  outline-offset: -1px;
  --k1: calc(-1 / 16);
  --k2: calc(1 / 32);
  box-shadow: calc(var(--k1) * var(--avatar-size) * var(--x))
    calc(var(--k1) * var(--avatar-size) * var(--y))
    calc(var(--k2) * var(--avatar-size) * var(--r)) #0002;
}

wavebeem-easter-egg::before,
wavebeem-easter-egg::after {
  z-index: 10;
  transform: var(--transform);
  pointer-events: none;
  content: "";
  position: absolute;
  width: calc(100% - 2 * var(--avatar-padding));
  height: calc(100% - 2 * var(--avatar-padding));
  left: var(--avatar-padding);
  top: var(--avatar-padding);
  opacity: 0;
  clip-path: circle(50%);
}

wavebeem-easter-egg::before {
  mix-blend-mode: soft-light;

  /* https://css-pattern.com/wave-circles/ */
  --s: 30px; /* control the size*/
  --c1: hsl(0 0% 80%);
  --c2: hsl(0 0% 50%);

  --_g: var(--s) var(--s)
    radial-gradient(var(--c1) 17%, var(--c2) 18% 35%, #0000 36.5%);

  mask-image: linear-gradient(
    var(--angle),
    hsl(0 0% 0% / 100%),
    hsl(0 0% 0% / 0%) calc(100% * var(--r))
  );
  background: calc(var(--s) / -4) calc(var(--s) / -4) / var(--_g),
    calc(var(--s) / 4) calc(var(--s) / 4) / var(--_g),
    radial-gradient(var(--c2) 34%, var(--c1) 36% 68%, #0000 70%) 0 0 /
      calc(var(--s) / 2) calc(var(--s) / 2),
    repeating-linear-gradient(45deg, var(--c1) -12.5% 12.5%, var(--c2) 0 37.5%)
      0 0 / var(--s) var(--s);
}

wavebeem-easter-egg::after {
  mix-blend-mode: hard-light;
  background: linear-gradient(
      var(--angle),
      hsl(var(--angle) 100% 80% / 70%),
      hsl(var(--angle) 100% 80% / 10%) calc(100% * var(--r))
    )
    0 0 / 100% 100%;
}

wavebeem-easter-egg[data-state="inside"]::before,
wavebeem-easter-egg[data-state="inside"]::after {
  opacity: 1;
}

wavebeem-easter-egg[data-state="outside"]::before,
wavebeem-easter-egg[data-state="outside"]::after {
  transition: opacity 0;
}

@media (max-width: 420px) {
  .avatar {
    --avatar-size: 100px;
  }
}
