@font-face {
  font-family: "Montserrat Alternates";
  src: url("/fonts/MontserratAlternates-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "PP Object Sans";
  src: url("/fonts/pp-object-sans-regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PP Object Sans";
  src: url("/fonts/pp-object-sans-bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "PP Object Sans";
  src: url("/fonts/pp-object-sans-slanted.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PP Object Sans";
  src: url("/fonts/pp-object-sans-bold-slanted.woff2") format("woff2");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Ultra Hi-Gloss";
  src: url("/fonts/ultra-hi-gloss.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/jetbrains-mono-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/jetbrains-mono-bold.woff2") format("woff2");
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/jetbrains-mono-italic.woff2") format("woff2");
  font-display: swap;
  font-style: italic;
}
