::before,
::after,
* {
  box-sizing: border-box;
}

:root {
  overflow-y: scroll;
  color-scheme: light dark;
  scrollbar-color: var(--color-text) var(--color-background);
  background-color: var(--color-background);
  color: var(--color-text);
  font-synthesis: none;
}

body {
  /**
   * Setting font size on body rather than html so that 1rem can refer to the
   * user's specified font size anywhere in my CSS, rather than 1.25 times that
   * value; but this way most things get bumped up a little bigger, for a
   * slightly comfier to read site (since this is a blog, after all)
   */
  font-size: var(--font-size-base);
  font-family: var(--font-body);
  line-height: 1.5;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 0;
}

:any-link:hover {
  text-decoration-line: underline;
  /* text-underline-offset: 1px; */
  --link-underline-thickness: var(--link-underline-thickness-hover);
}

:any-link {
  text-underline-offset: var(--link-underline-offset);
}

input,
select,
button {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* text-transform: uppercase; */
  text-wrap: balance;
}

h1 {
  font-family: var(--font-cool);
  font-size: var(--font-size-h1);
  letter-spacing: calc(-1rem / 32);
  color: var(--color-main-heading);
  line-height: 1.25;
  margin-block: 2rem 1rem;
}

h2 {
  font-family: var(--font-cool);
  font-size: var(--font-size-h2);
  color: var(--color-main-heading);
  letter-spacing: calc(-1rem / 32);
  line-height: 1.25;
  margin-block: 4rem 2rem;

  /* background-color: var(--color-text);
  color: var(--color-background);
  padding-block: 0.5rem;
  border-image-source: linear-gradient(var(--color-text) 0 100%);
  border-image-outset: 0 100vw;
  border-image-slice: 0 fill; */

  padding-bottom: 1rem;
  border-bottom: 2px dotted;
}

h3 {
  /* font-family: var(--font-cool); */
  font-size: var(--font-size-h3);
  line-height: 1.25;
  margin-block: 4rem 2rem;
}

code,
pre {
  font-family: var(--font-mono);
  font-size: var(--font-size-code);
  font-variant-ligatures: none;
  overflow-x: auto;
}

@media (max-width: 800px) {
  :root {
    --font-size-h1: 2rem;
    --font-size-h2: 1.5rem;
    --font-size-h3: 1.25rem;
    --font-size-header: 1.25rem;
    --font-size-base: 1.1rem;
    --font-size-small: 1rem;
    --font-size-code: 1rem;
  }
}

details {
  margin: 1rem 0;
}

summary {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-underline-offset: 0.5em;
}

.sage-well details > summary {
  border-radius: 0.5rem;
  margin: -0.5rem;
  padding: 0.5rem;
}

.margin0 {
  margin: 0;
}

.text-right {
  text-align: right;
}

.spoiler {
  padding-inline: 0.25ch;
  background-color: var(--color-text);
  color: transparent;
  cursor: default;
}

.spoiler:hover:where(:not(:focus)) {
  opacity: 0.8;
}

.spoiler:focus {
  color: var(--color-background);
}

.spoiler:focus-visible {
  outline: 2px solid var(--color-text);
  outline-offset: 2px;
}

.header {
  border-top: 4px solid;
  /* background-color: var(--color-text);
  color: var(--color-background); */
  font-size: var(--font-size-header);
}

.header .logo,
.header :any-link {
  font-weight: bold;
  color: inherit;
}

.header .logo {
  margin-left: -1rem;
}

.header .content-column {
  display: grid;
  grid-template-columns: 1fr max-content;
  justify-content: space-between;
  isolation: isolate;
  padding-block: 0.5rem;
  padding-inline: 1rem;
}

.slime {
  box-sizing: content-box;
  height: 54px;
  margin-block-end: 0;
  background-color: var(--color-text);
  color: var(--color-background);

  border-block: 4px solid var(--color-text);
  box-shadow: inset 0 0.5px 0 0 var(--color-background),
    inset 0 -0.5px 0 0 var(--color-background);

  --s: 64px; /* control the size*/
  --c1: var(--color-background);
  --c2: var(--color-text);
}

.slime {
  /* https://css-pattern.com/overlapping-circles/ */
  --_g: var(--c1) 0% 5%, var(--c2) 8% 15%, var(--c1) 18% 25%, var(--c2) 28% 35%,
    var(--c1) 38% 45%, var(--c2) 48% 55%, var(--c1) 58% 65%, var(--c2) 68% 75%,
    var(--c1) 78% 85%, var(--c2) 88% 95%, #0000 98%;
  background: radial-gradient(50% 50% at 100% 0, var(--_g)),
    radial-gradient(50% 50% at 0 100%, var(--_g)),
    radial-gradient(50% 50%, var(--_g)),
    radial-gradient(50% 50%, var(--_g)) calc(var(--s) / 2) calc(var(--s) / 2)
      var(--c1);
  background-size: var(--s) var(--s);
}

p {
  margin-block: 1.5rem;
}

ul {
  padding-left: 3rem;
  list-style-type: disc;
}

ol {
  padding-left: 3rem;
}

main {
  flex: auto;
  display: flex;
  flex-direction: column;
  min-height: 60vh;
}

article header :is(h1, h2, h3) {
  margin-bottom: 0;
}

article header > small {
  text-transform: uppercase;
}

article header small {
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-small);
  vertical-align: middle;
}

article header p {
  font-style: italic;
  /* font-size: var(--font-size-small); */
}

:focus-visible {
  outline: 2px solid var(--color-text);
  outline-offset: 2px;
  text-decoration-line: none;
}

.font-logo {
  font-family: var(--font-logo);
}

.font-mono {
  font-family: var(--font-mono);
}

.font-cool {
  font-family: var(--font-cool);
}

.flex {
  display: flex;
}

.flex-auto {
  flex: auto;
}

.inline-flex {
  display: inline-flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.no-underline {
  text-decoration-line: none;
  /* text-decoration-thickness: 2px; */
}

.sage-prose a,
:any-link {
  text-decoration-thickness: var(--link-underline-thickness);
  color: var(--color-main-link);
  border-radius: 0.25rem;
  /* font-weight: bold; */
}

:not(pre) > code {
  color: var(--color-main-code);
}

.sage-button {
  display: inline-block;
  font-weight: bold;
  border: 2px solid transparent;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  background-color: var(--color-text);
  color: var(--color-background);
  text-decoration-line: none;
  text-decoration-thickness: var(--link-underline-thickness);
}

.sage-button:focus-visible {
  outline: 2px solid var(--color-text);
  outline-offset: 2px;
}

.nav :any-link {
  display: flex;
  gap: 0.5ch;
  align-items: center;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  color: var(--color-header-text);
  border-radius: 0.5rem;
  border-radius: 9999px;
  text-decoration-line: none;
  text-decoration-thickness: var(--link-underline-thickness);
}

.nav :any-link:hover {
  text-decoration-line: underline;
}

.nav {
  gap: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

@media (max-width: 800px) {
  .header .content-column {
    display: flex;
    flex-direction: column;
    padding-block: 0.5rem;
  }

  .nav {
    margin-left: -1rem;
  }
}

.content-column {
  max-width: 800px;
  width: 100%;
  margin-inline: auto;
  padding: 1rem 2rem;
}

.grid2 {
  display: grid;
  gap: 0 1rem;
}

@media (min-width: 800px) {
  .grid2 {
    grid-template-columns: 1fr 1fr;
  }
}

.grid2-always {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.clicky-list {
  display: grid;
  gap: 0.5rem;
}

.gap1 {
  gap: 0.25rem;
}

.gap2 {
  gap: 0.5rem;
}

.gap3 {
  gap: 1rem;
}

@media (min-width: 500px) {
  .clicky-list {
    grid-template-columns: 1fr 1fr;
  }
}

/* --- TOYBOX --- */

.crime-frame {
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
}

.crime-frame :is(details, summary) {
  margin: unset;
}

.crime-frame > details {
  background: white;
}

/* --- HOME --- */

.clearfix {
  clear: both;
}

/* --- POST --- */

article header {
  margin-bottom: 4rem;
}

hr {
  border: 0;
  border-bottom: 2px dotted;
  color: inherit;
}

article figure {
  margin: 1.5rem 0;
}

article figure img,
article p img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 16px;
  background-color: var(--color-text);
  border: 4px solid var(--color-text);
}

@media (max-width: 420px) {
  article figure img,
  article p img {
    padding-inline: 0;
    border-inline: 0;
    border-radius: 0;
    margin-inline: -1rem;
    width: calc(100% + 2rem);
  }
}

article figure figcaption {
  margin-top: 1rem;
  padding-inline: 0.5rem;
  text-align: center;
  font-size: var(--font-size-small);
  font-weight: bold;
}

article p:has(img:only-child) + p:has(> strong:only-child) {
  margin-top: -0.5rem;
  padding-inline: 0.5rem;
  text-align: center;
  font-size: var(--font-size-small);
}

article blockquote,
article aside {
  margin-inline: 0;
  padding: 0 2rem;
  border-left: 4px solid;
}

.pixelated {
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

dl dt {
  font-weight: bold;
}

dl dt > :any-link:not(:hover) {
  /* text-decoration: none; */
}

dl dd {
  margin: 0;
}

dl dd + dt {
  margin-top: 1.5rem;
}

.link-card a {
  display: grid;
  justify-content: center;
  align-items: center;
  /* grid-template-columns: max-content 1fr; */
  gap: 0.5ch;
  text-decoration-line: none;
  text-decoration-thickness: var(--link-underline-thickness);
  padding: 0.25rem 1rem;
  border-radius: 9999px;
  /* border-radius: 0rem; */
  color: var(--color-main-link);
  background-color: var(--color-text);
  color: var(--color-background);
  max-width: fit-content;
  /* border: 1px solid var(--color-card-border); */
}

.logo {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-family: var(--font-logo);
  /* Prevent Safari from making this even bolder lol */
  font-synthesis: none;
  font-weight: normal;
  text-decoration-line: none;
  text-transform: uppercase;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  margin-inline: -0.5rem;
}

:where(.footer-links) :any-link {
  font-weight: normal;
  max-width: max-content;
  padding: 0.5rem;
}

:is(.nav, .header, .footer-links) :any-link {
  text-decoration-line: none;
}

:is(.nav, .header, .footer-links) :any-link:hover {
  text-decoration-line: underline;
}

.footer {
  font-size: var(--font-size-small);
  background-color: var(--color-text);
  color: var(--color-background);
  padding-top: 0.5rem;
}

.footer hr {
  width: 100%;
  border: 0;
  color: inherit;
  /* border-bottom: 2px dotted; */
  margin: 0;
}

.footer :any-link {
  font-weight: bold;
  color: inherit;
}

.footer .sage-button {
  background-color: var(--color-footer-text);
  color: var(--color-footer-background);
  outline-color: var(--color-footer-text);
}

/* https://css-shape.com/rounded-edge/ */
.footer-top {
  background-color: var(--color-text);
  clip-path: ellipse(65% 100% at 50% 100%);
  padding-top: 3rem;
  margin-top: 3rem;
}

.footer .content-column {
  padding-top: 0;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
    animation: none !important;
  }
}

.print-only {
  display: none;
}
