---
title: "Dragon Quest"
layout: "layout-base"
theme: "shrine_dq"
---

<article>
  <header>
    <h1>{{ title | escape }}</h1>
  </header>

  <h2>Under construction</h2>

  <figure>
    <img src="dq1-2gbc-box.webp" alt="" />
    <figcaption>Dragon Quest I-II for Game Boy Color</figcaption>
  </figure>

  <figure>
    <img src="dq1-2gbc-1.webp" alt="" />
    <figcaption>Dragon Quest I-II for Game Boy Color</figcaption>
  </figure>

  <figure>
    <img src="dq1-2gbc-2.webp" alt="" />
    <figcaption>Dragon Quest I-II for Game Boy Color</figcaption>
  </figure>

  <figure>
    <img src="dq1-2gbc-3.webp" alt="" />
    <figcaption>Dragon Quest I-II for Game Boy Color</figcaption>
  </figure>
</article>
