<h2>Under construction</h2>

<figure>
  <img
    src="./assets/smt4a.webp"
    alt=""
    loadin="eager"
    width="800"
    height="450"
  />
  <figcaption>Shin Megami Tensei IV Apocalypse</figcaption>
</figure>

<figure>
  <img
    src="./assets/smtv.webp"
    alt=""
    loadin="eager"
    width="800"
    height="400"
  />
  <figcaption>Shin Megami Tensei V</figcaption>
</figure>

<figure>
  <img
    src="./assets/smtvv.webp"
    alt=""
    loadin="lazy"
    width="800"
    height="450"
  />
  <figcaption>Shin Megami Tensei V: Vengeance</figcaption>
</figure>

<figure>
  <video
    src="./assets/gustave.mp4"
    poster="./assets/gustave.webp"
    controls
    preload="none"
    width="1280"
    height="720"
  ></video>
  <figcaption>Gustave from SMT V</figcaption>
</figure>

<h2>Commissioned Art</h2>

<div class="photo-grid">
  <figure>
    <img
      src="./assets/sproutsnout/halphas-decarabia.webp"
      alt=""
      loading="lazy"
      width="900"
      height="1125"
    />
    <figcaption>
      Halphas and Decarabia by
      <a href="https://sproutsnout.com/">sproutsnout</a>
    </figcaption>
  </figure>
  <figure>
    <img
      src="./assets/digos/eisheth-xmas.webp"
      alt=""
      loading="lazy"
      width="874"
      height="1240"
    />
    <figcaption>
      Christmas Eisheth by
      <a href="https://bsky.app/profile/notdiegues.bsky.social">digos</a>
    </figcaption>
  </figure>
  <figure class="column-span">
    <img
      src="./assets/digos/eisheth-scary.webp"
      alt=""
      loading="lazy"
      width="1250"
      height="1000"
    />
    <figcaption>
      Scary Eisheth by
      <a href="https://bsky.app/profile/notdiegues.bsky.social">digos</a>
    </figcaption>
  </figure>
</div>
