:root {
  --font-sans: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  --font-serif: "Georgia", "Cambria", "Palatino", serif;
  --font-mono: "Menlo", "Consolas", monospace;
  --content-width: 768px;
  /* EN4 palette https://lospec.com/palette-list/en4 */
  --color-pal0: #20283d;
  --color-pal1: #426e5d;
  --color-pal2: #e5b083;
  --color-pal3: #fbf7f3;
  overflow-y: scroll;
}

.bit-auto {
  --bit-color0: var(--color-pal0);
  --bit-color1: var(--color-pal3);
  --color-link: var(--color-pal1);
  --color-code: var(--color-pal0);
}

.bit-auto hr {
  border-style: dotted;
}

@media (prefers-color-scheme: dark) {
  .bit-auto {
    --bit-color0: var(--color-pal3);
    --bit-color1: var(--color-pal0);
    --color-link: var(--color-pal2);
    --color-code: #273149;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-size: 1.25rem;
  font-family: var(--font-serif);
  line-height: 1.5;
  padding: 1rem;
  max-width: var(--content-width);
  margin: 0 auto;
}

h1,
h2,
h3,
footer,
nav {
  font-family: var(--font-sans);
}

.bit-auto h1 a,
.bit-auto h2 a,
.bit-auto h3 a {
  /* color: inherit; */
  text-decoration: none;
}

nav {
  font-size: 1.25rem;
  display: flex;
}

nav > * + * {
  margin-left: 1rem;
}

footer {
  padding-top: 1rem;
  text-align: center;
  font-size: 1rem;
}

.bit-auto a {
  --bit-color0: var(--color-link);
}

ul {
  padding-left: 1rem;
  list-style-type: square;
}

ol {
  padding-left: 1.5rem;
}

code,
pre {
  font-family: var(--font-mono);
  font-size: 1rem;
}

.bit-auto pre code {
  background: transparent;
}

blockquote {
  margin-left: 0;
  padding-left: 2rem;
  font-style: italic;
}

figure {
  margin: 1rem 0;
}

figure img {
  width: 100%;
}

figure figcaption {
  font-family: var(--font-sans);
  font-weight: bold;
  font-size: 1rem;
}

.responsive-img {
  max-width: 100%;
  height: auto;
}

.font-sans {
  font-family: var(--font-sans);
}

.font-serif {
  font-family: var(--font-serif);
}

.font-mono {
  font-family: var(--font-mono);
}

.print-only {
  display: none;
}
