---
eleventyExcludeFromCollections: true
layout: "layout-base"
title: "Cray authentic taiyaki vegan"
date: "1970-01-01"
---

<article>
  <header>
    <h1>{{ title | escape }}</h1>
    <small>{% render "partials/date" date: date %}</small>
    <p>An example page to exercise my CSS.</p>
  </header>

  <h2>What is this?</h2>

  <p>
    It's an example page showing what type of content my site supports.
    Placeholder text by <a href="https://hipsum.co/">Hipster Ipsum</a>.
  </p>

  <h2>Mustache taxidermy</h2>

  <p>
    I'm baby neutra kogi iceland, 3 wolf moon ennui cliche hashtag cold-pressed
    artisan unicorn bruh meditation. Four loko lumbersexual brunch, deep v
    before they sold out gochujang stumptown heirloom pickled 8-bit. Next level
    adaptogen asymmetrical kitsch, DSA celiac bushwick. Brunch fingerstache echo
    park fashion axe you probably haven't heard of them plaid. Vinyl pabst twee
    seitan copper mug. Cloud bread chillwave migas wolf, cornhole YOLO
    letterpress put a bird on it. 8-bit edison bulb etsy mumblecore iPhone
    thundercats.
  </p>

  <h2>Tacos crucifix paleo kombucha quinoa</h2>

  <p>
    Echo park whatever godard blackbird spyplane mumblecore freegan, twee wolf
    la croix sus woke organic marfa. Craft beer affogato man braid truffaut you
    probably haven't heard of them jean shorts 8-bit literally food truck tacos.
    Vape tote bag microdosing fashion axe. Cloud bread grailed woke shaman
    locavore iPhone. 3 wolf moon schlitz typewriter, unicorn PBR&B synth art
    party you probably haven't heard of them copper mug. Trust fund
    intelligentsia retro bitters, +1 hell of jawn. Glossier schlitz pork belly
    ethical, etsy artisan same pickled bicycle rights venmo woke.
  </p>

  <h2>Image example #1</h2>

  <p>
    <img src="le-chat-noir.webp" alt="" width="512" height="512" />
  </p>

  <p>
    <strong
      >Pixel art drawing of a black cat with huge white eyes and a red bandana
      around its neck.</strong
    >
  </p>

  <h2>Image example #2</h2>

  <figure>
    <img src="le-chat-noir.webp" alt="" width="512" height="512" />
    <figcaption>
      Pixel art drawing of a black cat with huge white eyes and a red bandana
      around its neck.
    </figcaption>
  </figure>

  <h2>Image example #3</h2>

  <figure>
    <img src="balatro.webp" alt="" width="1280" height="720" />
    <figcaption>Balatro (2024)</figcaption>
  </figure>

  <h2>Image example #4</h2>

  <figure>
    <img src="cobalt-core.webp" alt="" width="1280" height="720" />
    <figcaption>Cobalt Core (2023)</figcaption>
  </figure>

  <h2>Image example #5</h2>

  <figure>
    <img src="destiny2.webp" alt="" width="1280" height="720" />
    <figcaption>Destiny 2: The Final Shape (2024)</figcaption>
  </figure>
</article>

<h2>Recent posts</h2>

<article>
  <header>
    <h3>
      <a href="#">Portland la croix jean shorts</a>
    </h3>
    <small><time datetime="1970-01-01">1970 Jan 01</time></small>
  </header>
  <p>
    90's neutral milk hotel keytar migas everyday carry meh Brooklyn edison bulb
    asymmetrical portland four loko cliche forage snackwave.
  </p>
</article>

<article>
  <header>
    <h3>
      <a href="#">Yes plz pop-up, tofu hoodie</a>
    </h3>
    <small><time datetime="1970-01-01">1970 Jan 01</time></small>
  </header>
  <p>
    Bushwick bicycle rights readymade intelligentsia, before they sold out ascot
    beard XOXO pop-up direct trade pitchfork flannel hashtag.
  </p>
</article>

<article>
  <header>
    <h3>
      <a href="#"> Bitters 3 wolf moon truffaut umami selfies</a>
    </h3>
    <small><time datetime="1970-01-01">1970 Jan 01</time></small>
  </header>
  <p>
    Praxis vice brunch, typewriter mumblecore jawn waistcoat polaroid bicycle
    rights williamsburg mustache bespoke freegan knausgaard skateboard.
  </p>
</article>

<article>
  <h2>Lists</h2>

  <h3>Description list #1</h3>

  <dl>
    <dt><a href="#">Apple</a></dt>
    <dd>A red fruit.</dd>

    <dt><a href="#">Banana</a></dt>
    <dd>A yellow fruit.</dd>

    <dt><a href="#">Carrot</a></dt>
    <dd>An orange vegetable.</dd>
  </dl>

  <h3>Description list #2</h3>

  <dl>
    <dt>Apple</dt>
    <dd><a href="#">A red fruit.</a></dd>

    <dt>Banana</dt>
    <dd><a href="#">A yellow fruit.</a></dd>

    <dt>Carrot</dt>
    <dd><a href="#">An orange vegetable.</a></dd>
  </dl>

  <h3>Ordered list</h3>

  <ol>
    <li>Apple</li>
    <li>Banana</li>
    <li>Carrot</li>
  </ol>

  <h3>Unordered list</h3>

  <ul>
    <li>Apple</li>
    <li>Banana</li>
    <li>Carrot</li>
  </ul>
</article>

<article>
  <h2>Work experience</h2>

  <article>
    <header>
      <h3>JobPlace <small>(CareerWise)</small></h3>

      <small>Enterprise hiring application</small>

      <p>
        Sr Frontend Developer <small>(2022 Feb &ndash; Current)</small><br />
        Frontend Developer <small>(2020 Jan &ndash; 2022 Feb)</small>
      </p>
    </header>

    <ul>
      <li>Lyft organic try-hard, roof party mlkshk intelligentsia YOLO.</li>
      <li>Lumbersexual etsy cornhole before they sold out shaman humblebrag</li>
      <li>Occupy marfa offal banh mi.</li>
    </ul>
  </article>

  <article>
    <header>
      <h3>Friend.ly <small>(Pals.net)</small></h3>

      <small>Social media startup</small>

      <p>
        <i>Frontend Developer <small>(2024 Jan &ndash; 2025 Feb)</small></i>
      </p>
    </header>

    <ul>
      <li>Lyft organic try-hard, roof party mlkshk intelligentsia YOLO.</li>
      <li>Lumbersexual etsy cornhole before they sold out shaman humblebrag</li>
      <li>Occupy marfa offal banh mi.</li>
    </ul>
  </article>
</article>

<article>
  <h2>Details</h2>

  <details>
    <summary>Lyft organic try-hard...</summary>
    <p>
      Lyft organic try-hard, roof party mlkshk intelligentsia YOLO lumbersexual
      etsy cornhole before they sold out shaman humblebrag. Try-hard actually
      kickstarter selvage live-edge portland ascot semiotics tilde offal master
      cleanse twee tote bag. Kombucha pork belly williamsburg grailed. +1
      distillery ugh, palo santo marfa plaid organic snackwave lomo roof party
      art party pabst four dollar toast vegan. Occupy marfa offal banh mi.
      Hammock man braid edison bulb, lumbersexual waistcoat sustainable cupping
      try-hard jean shorts blackbird spyplane deep v vape church-key kinfolk. Yr
      yuccie swag flannel 8-bit meditation.
    </p>
  </details>

  <details>
    <summary>Tofu prism franzen...</summary>
    <p>
      Tofu prism franzen, direct trade health goth bruh hammock gatekeep blog
      raw denim squid. Trust fund crucifix paleo, actually readymade photo booth
      vexillologist. YOLO echo park slow-carb ascot cupping, shaman cronut
      humblebrag seitan bodega boys fixie. Bruh selvage bitters raw denim tbh
      shaman small batch. Neutral milk hotel YOLO kombucha, kinfolk stumptown
      retro jianbing fit jean shorts vexillologist 8-bit. Lo-fi vexillologist
      fam hot chicken bruh fixie edison bulb single-origin coffee butcher
      flexitarian. Praxis tattooed vexillologist messenger bag franzen.
    </p>
  </details>

  <details>
    <summary>Fit offal man braid stumptown...</summary>
    <p>
      Fit offal man braid stumptown, drinking vinegar helvetica shoreditch tonx
      umami adaptogen. Small batch lumbersexual stumptown poutine praxis marxism
      brunch, 90's kombucha vaporware. La croix fam distillery portland fixie
      hashtag copper mug gochujang readymade. Poke direct trade mustache
      gatekeep bespoke tote bag. Pork belly cronut mumblecore typewriter,
      chartreuse photo booth biodiesel. Af occupy hexagon +1 trust fund. Raw
      denim chillwave bruh migas irony echo park praxis flannel dreamcatcher.
    </p>
  </details>

  <details>
    <summary>Marxism mustache kinfolk 90's...</summary>
    <p>
      Marxism mustache kinfolk 90's, street art gorpcore iceland subway tile
      raclette. Hot chicken woke pickled, thundercats viral praxis ennui forage.
      Pickled lomo viral kickstarter tattooed, hell of activated charcoal la
      croix leggings DSA dreamcatcher sus. Solarpunk chambray whatever,
      authentic typewriter mustache blue bottle wolf cardigan. Semiotics +1
      enamel pin praxis, tumeric narwhal church-key messenger bag normcore
      cardigan intelligentsia marfa. Adaptogen poke vegan, waistcoat 90's health
      goth tilde ethical banjo affogato brunch everyday carry.
    </p>
  </details>
</article>

<article>
  <h2>Horizontal rule</h2>

  <p>
    Master cleanse heirloom hoodie, tote bag gatekeep shoreditch salvia green
    juice DSA scenester bitters artisan small batch vinyl. Raw denim trust fund
    man braid keffiyeh chicharrones street art sustainable Brooklyn yuccie air
    plant occupy hella deep v. Glossier neutra art party blog next level.
    Grailed neutra master cleanse whatever. Tattooed tumblr salvia big mood
    kitsch, jawn tilde. Bushwick pug succulents woke marxism meditation
    sartorial mumblecore stumptown microdosing. Artisan beard unicorn fanny pack
    art party kickstarter taiyaki.
  </p>

  <hr />

  <p>
    Raw denim mumblecore austin vegan, helvetica gatekeep jean shorts Brooklyn
    stumptown post-ironic man braid bespoke. Offal JOMO humblebrag, twee
    chartreuse ramps four loko chicharrones trust fund meggings cred kale chips
    knausgaard blackbird spyplane listicle. Chillwave distillery praxis pug,
    pork belly neutral milk hotel succulents vibecession. Tumblr woke food truck
    austin cardigan fingerstache jean shorts kombucha waistcoat bodega boys.
    Williamsburg chia pabst asymmetrical swag bruh PBR&B hammock blue bottle
    whatever pour-over gastropub mukbang. Air plant bushwick subway tile
    tumeric, VHS af portland Brooklyn bitters affogato.
  </p>
</article>

<article>
  <h2>Code</h2>

  <p>
    Master cleanse heirloom hoodie, tote bag gatekeep shoreditch salvia green
    juice DSA scenester bitters artisan small batch vinyl. Raw denim trust fund
    man braid keffiyeh chicharrones <code>street()</code> art sustainable
    Brooklyn yuccie air plant occupy hella deep v. Glossier neutra art party
    blog next level. Grailed neutra master <code>cleanseWhatever()</code>.
    Tattooed tumblr salvia big mood kitsch, jawn tilde. Bushwick pug succulents
    woke marxism meditation sartorial mumblecore stumptown microdosing.
    <code>ArtisanBeard</code> unicorn fanny pack art party kickstarter taiyaki.
  </p>

  <!-- prettier-ignore -->
  <div>
  {% highlight js %}
import { open } from "node:fs/promises";

let file;
try {
  file = await open("file.txt", "r");
  const text = await file.readFile("utf-8");
  console.log(text);
} finally {
  if (file) {
    await file.close();
  }
}
  {% endhighlight %}
  </div>
</article>

<article>
  <h2>Buttons</h2>

  <p>Just regular old buttons.</p>

  <div class="flex flex-wrap gap2">
    <button type="button">Alpha</button>
    <button type="button">Beta</button>
    <button type="button">Gamma</button>
    <button type="button">Delta</button>
  </div>

  <h2>Links</h2>

  <p>Even links can look like buttons, if they want to.</p>

  <div class="flex flex-wrap gap2">
    <a href="#" class="button">Alpha</a>
    <a href="#" class="button">Beta</a>
    <a href="#" class="button">Gamma</a>
    <a href="#" class="button">Delta</a>
  </div>
</article>
