---
import PageLayout from "@/layouts/PageLayout.astro";
---

<PageLayout title="Shin Megami Tensei">
  <h2>Under construction</h2>

  <figure>
    <img
      src="/shrines/shin-megami-tensei/assets/smt4a.webp"
      alt=""
      loading="eager"
      width="800"
      height="450"
    />
    <figcaption>Shin Megami Tensei IV Apocalypse</figcaption>
  </figure>

  <figure>
    <img
      src="/shrines/shin-megami-tensei/assets/smtv.webp"
      alt=""
      loading="eager"
      width="800"
      height="400"
    />
    <figcaption>Shin Megami Tensei V</figcaption>
  </figure>

  <figure>
    <img
      src="/shrines/shin-megami-tensei/assets/smtvv.webp"
      alt=""
      loading="lazy"
      width="800"
      height="450"
    />
    <figcaption>Shin Megami Tensei V: Vengeance</figcaption>
  </figure>

  <h2>Commissioned art</h2>

  <div class="photo-grid">
    <figure>
      <img
        src="/shrines/shin-megami-tensei/assets/sproutsnout/halphas-decarabia.webp"
        alt=""
        loading="lazy"
        width="900"
        height="1125"
      />
      <figcaption>
        Halphas and Decarabia by{" "}
        <a href="https://sproutsnout.com/">sproutsnout</a>
      </figcaption>
    </figure>
    <figure>
      <img
        src="/shrines/shin-megami-tensei/assets/digos/eisheth-xmas.webp"
        alt=""
        loading="lazy"
        width="874"
        height="1240"
      />
      <figcaption>
        Christmas Eisheth by{" "}
        <a href="https://bsky.app/profile/notdiegues.bsky.social">digos</a>
      </figcaption>
    </figure>
    <figure class="column-span">
      <img
        src="/shrines/shin-megami-tensei/assets/digos/eisheth-scary.webp"
        alt=""
        loading="lazy"
        width="1250"
        height="1000"
      />
      <figcaption>
        Scary Eisheth by{" "}
        <a href="https://bsky.app/profile/notdiegues.bsky.social">digos</a>
      </figcaption>
    </figure>
  </div>
</PageLayout>
