---
layout: bare
---

<main class="mw7 center flex-auto nt4">
  <ul class="pa0 list">
    {% for post in site.posts %}
      <li class="bb bw1 b--black-10">
        <a class="db no-underline hover-bg-near-white green pa4" href="{{ post.url }}">
          <h2 class="f3 mt0 mb0 font-main link">
            {{ post.title }}
          </h2>
          <p class="mb0 nt1 f4 black">
            {{ post.date | date: "%B %-d, %Y" }}
          </p>
        </a>
      </li>
    {% endfor %}
  </ul>
</main>

{{ content }}
