---
layout: bare
---

<main class="mw7 center flex-auto">
  <h1 class="pt3 ph4 black-50 f3 ttl normal">
    Occasional Blog Posts by Me
  </h1>
  <ul class="mb0 list-reset">
    {% for post in site.posts %}
      <li class="bt b--black-10">
        <a class="db no-underline black pa4" href="{{ post.url }}">
          <h2 class="ttu f3 mt0 mb0 font-main b link green">
            {{ post.title }}
          </h2>
          <div class="mt1 f4">
            {{ post.date | date: "%B %-d, %Y" }}
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
</main>

{{ content }}
