---
layout: bare
---

<main class="ph4 mb3 center flex-auto BlogPost">

<h1><a href="#">{{ page.title }}</a></h1>

<div class="PostDate">{{ page.date | date: "%B %-d, %Y" }}</div>

{{ content }}

<div class="bg-washed-yellow black-80 b--black-10 ba b--dotted br1 font-main pa2 f5">
  There are no comments and there never will be. You can
  <a class="b black" href="https://twitter.com/wavebeem">tweet me</a>
  or write your own blog or something.
</div>

<div class="GoBack font-main f3 mt4 mb1">
  <a class="ttu link" href="/blog">
    ⬅ Back to blog posts
  </a>
</div>

</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.2.2/anchor.min.js"></script>
<script src="/header-links.js"></script>
