---
layout: bare
---

<main class="ph4 mb3 center flex-auto BlogPost">

<h1><a href="#">{{ page.title }}</a></h1>
<div class="PostDate">
  {{ page.date | date: "%B %-d, %Y" }}
</div>

{{ content }}

<div class="font-main f3 mt4">
  <a class="b bl bw2 green db pa2 hover-bg-near-white ttu no-underline" href="/blog">
    ◀ Back to blog posts
  </a>
</div>

</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.2.2/anchor.min.js"></script>
<script>
  new AnchorJS({ visible: "always" }).add("h2, h3, h4, h5, h6");
</script>
