---
layout: bare
---

<main class="BlogPost">

<h1><a href="#">{{ page.title }}</a></h1>

<div class="PostDate">{{ page.date | date: "%B %-d, %Y" }}</div>

{{ content }}

<div class="NotCommentArea">
  There are no comments and there never will be. You can <a href="https://twitter.com/wavebeem">tweet me</a> or write your own blog or something.
</div>

<div class="GoBack"><a href="/blog">⬅ Back to archive</a></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.2.2/anchor.min.js"></script>
<script src="/header-links.js"></script>

</main>
