<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ page.title }}</title>
<style>
html {
    font-family: Georgia, serif;
    font-size: 12px;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
}
.contact-info li {
    margin-top: 0.25em;
}
.contact-info .name {
    font-size: 20px;
    font-weight: bold;
}
main li { margin-top: 0.35em; }
main h1 { font-size: 15px; }
footer {
    font-size: 10px;
    text-align: right;
}
.contact-info { float: right; }
.contact-info ul {
    list-style: none;
    clear: both;
}
</style>
</head>
<body>
<aside class="contact-info">
<ul>
    <li class="name">Brian Mock</li>
    <li><a href="mailto:brian@mockbrian.com">brian@mockbrian.com</a></li>
    <li><a href="http://mockbrian.com">http://mockbrian.com</a></li>
    <li>
        5227 NE 35th Pl<br>
        Portland, OR 97211
    </li>
    <li>503-409-7863</li>
</ul>
</aside>
<main>
{{ content }}
<footer>PDF available upon request.</footer>
</main>
</body>
</html>
