.art {
  text-align: center;
}

.post-date {
  margin-bottom: 1rem;
}

.art .frame {
  display: flex;
  max-width: max-content;
  margin-inline: auto;
}

.art img {
  display: flex;
  max-width: max-content;
  max-width: 480px;
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  background-color: var(--image-bg);
}
