.art-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  justify-content: space-between;
}

.art-container--frame {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0;
}

.art-container--frame a {
  font-family: var(--font-heading);
  font-weight: bold;
  font-size: var(--font-size-h3);
  flex: auto;
}

.art-container--frame img {
  border-radius: 0.25rem;
}

.art-container--frame figcaption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

figure {
  margin: 1rem 0;
  color: var(--color-main-text);
}

/* stylelint-disable-next-line no-descending-specificity */
figure img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

/* stylelint-disable-next-line no-descending-specificity */
figure figcaption {
  font-size: var(--font-size-small);
}
