.m0 {
  margin: 0;
}

.card-heading {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

.box-grid > * {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
}
