.m0 {
  margin: 0;
}

.grid-2 {
  display: grid;
  gap: 1rem;
  align-items: flex-start;
}

@media (min-width: 800px) {
  .grid-2 {
    grid-template-columns: 1fr 1fr;
  }
}

.card-heading {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

.box-grid > * {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
