@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.crime-frame {
  padding: 2px;
  border: 2px solid;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.crime-frame :is(details, summary) {
  margin: 0 !important;
}

.crime-frame > details {
  background: white;
}
