/* TODO: Use @layer */
/* TODO: Try to remove util styles */

/* --- Fonts --- */

@font-face {
  font-family: "Nunito";
  src: url("/static/fonts/nunito-variable.woff2") format("woff2");
  font-weight: 1 1000;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("/static/fonts/nunito-italic-variable.woff2") format("woff2");
  font-style: italic;
  font-weight: 1 1000;
  font-display: swap;
}

@font-face {
  font-family: "Ultra Hi-Gloss";
  src: url("/static/fonts/ultra-hi-gloss.woff2") format("woff2");
  font-display: swap;
}

/* --- Other CSS --- */

:root {
  --font-body: "Nunito", system-ui, sans-serif;
  --font-logo: "Ultra Hi-Gloss", var(--font-body);
  --font-mono: "JetBrains Mono", ui-monospace, "Cascadia Code", "SFMono-Regular",
    "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", monospace;
  overflow-y: scroll;
  color-scheme: light dark;
}

:root.candy-texture-striped {
  background-attachment: fixed;
}

h1 {
  font-weight: 500;
}

h2 {
  font-weight: 700;
}

h3 {
  font-weight: 600;
}

:not(:where(h1, h2, h3)) > a {
  font-weight: 600;
}

b {
  font-weight: 600;
}

:root {
  background: repeating-conic-gradient(
    var(--color-root-bg1) 0% 25%,
    var(--color-root-bg2) 0% 50%
  );
  --check-size: 64px;
  background-position: 0 0, var(--check-size) var(--check-size);
  background-size: calc(2 * var(--check-size)) calc(2 * var(--check-size));
  background-color: var(--color-root-bg2);
  scrollbar-color: var(--candy-color-accent-text1) var(--color-root-bg2);
}

body.candy-root,
:root.candy-root {
}

/* stylelint-disable-next-line no-descending-specificity */
.candy-root {
  --candy-button-radius: 9999px;
  /* --candy-texture-striped-size: 64px; */
  --candy-texture-striped-size: 3px;
  --candy-link-underline: 1.5px;
}

/* stylelint-disable-next-line no-descending-specificity */
.candy-root {
  --candy-color-accent-background1: var(--color-main-accent-background1);
  --candy-color-accent-background2: var(--color-main-accent-background2);
  --candy-color-accent-border1: var(--color-main-accent-border1);
  --candy-color-accent-text1: var(--color-main-accent-text1);
  --candy-color-background1: var(--color-main-background1);
  --candy-color-background2: var(--color-main-background2);
  --candy-color-background3: var(--color-main-background3);
  --candy-color-background4: var(--color-main-background4);
  --candy-color-border1: var(--color-main-border1);
  --candy-color-border2: var(--color-main-border2);
  --candy-color-border3: var(--color-main-border3);
  --candy-color-shadow1: var(--color-main-shadow1);
  --candy-color-text1: var(--color-main-text1);
  --candy-color-text2: var(--color-main-text2);

  --candy-button-radius: 9999px;
  --candy-texture-striped-size: 3px;
}

.window-content {
  --color-window-border: hsl(0 0% 0% / 50%);
  flex: auto;
  display: flex;
  flex-direction: column;
}

@media (prefers-color-scheme: dark) {
  .window-content {
    --color-window-border: hsl(0 0% 0%);
  }
}

.window-nav {
  /* margin-bottom: 1rem; */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 0 calc(0.5 * var(--main-padding-x));
  /* background-color: var(--candy-color-background3);
  background-origin: border-box;
  border: 1px solid hsl(0 0% 0% / 30%);
  box-shadow: 0 0 0 1px hsl(0 0% 100% / 20%), inset 0 0 4px hsl(0 0% 0% / 30%); */
  text-shadow: 0 0 2px var(--candy-color-background1),
    0 0 8px var(--candy-color-background1);
  border-radius: var(--window-border-radius);
}

.window-nav :any-link {
  text-align: center;
  flex: auto;
  flex: 0 0 auto;
  padding: 1rem calc(0.5 * var(--main-padding-x));
  font-weight: 800;
  border-radius: 0.5rem;
  background-image: none;
  background-origin: border-box;
  text-shadow: 0 0 2px var(--candy-color-background1),
    0 0 8px var(--candy-color-background1);
}

@media (min-width: 420px) {
  .window-nav {
    display: flex;
  }
}

@media (min-width: 800px) {
  .window-nav :any-link {
    font-size: 1.25rem;
  }
}

.window-nav :any-link:hover {
  text-decoration-line: underline;
  background-image: linear-gradient(
    to right,
    transparent,
    var(--candy-color-background1),
    transparent
  );
}

.window-main {
  border: 1px solid var(--candy-color-border3);
  border-image: linear-gradient(
    to right,
    var(--candy-color-border3),
    var(--candy-color-border2),
    var(--candy-color-border3)
  );
  border-image-slice: 1 9;
  border-left: 0;
  border-right: 0;
  scrollbar-color: var(--candy-color-text2) var(--candy-color-background2);
  flex: auto;
  padding: var(--candy-card-padding-vertical)
    var(--candy-card-padding-horizontal);
}

* {
  box-sizing: border-box;
}

body.candy-root {
  /**
   * Setting font size on body rather than html so that 1rem can refer to the
   * user's specified font size anywhere in my CSS, rather than 1.25 times that
   * value; but this way most things get bumped up a little bigger, for a
   * slightly comfier to read site (since this is a blog, after all)
   */
  --body-padding-y: 0;
  --body-padding-x: 0;
  --main-padding-x: 1rem;
  --main-padding-y: 1rem;
  --window-border-radius: 0;
  font-size: 1.25rem;
  font-family: var(--font-body);
  line-height: 1.5;
  margin: 0 auto;
  padding: var(--body-padding-y) var(--body-padding-x);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  width: 100%;
  gap: 0;
  /* background: var(--color-root-bg2x); */
}

.sage-well {
  box-sizing: border-box;
  border: 0;
  padding: var(--candy-well-padding-vertical)
    var(--candy-well-padding-horizontal);
  border-radius: 1rem;
  background: linear-gradient(
        to right,
        var(--candy-color-background2),
        var(--candy-color-border3),
        var(--candy-color-background2)
      )
      0 0 / 100% 1px repeat-x,
    var(--candy-color-background2);
}

header {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  gap: 0.5rem;
  text-decoration-line: none;
  /* padding-inline: 1px; */
}

.logo {
  font-family: var(--font-logo);
  padding: 1rem var(--main-padding-x);
  /* Prevent Safari from making this even bolder lol */
  font-synthesis: none;
  font-weight: initial;
  border-radius: 0;
  text-decoration-line: none;
}

.logo:hover {
  background-image: linear-gradient(
    to right,
    transparent,
    hsl(0 0% 0% / 20%),
    transparent
  );
}

.logo,
footer {
  /* Should use text-shadow, but the underline appears below the text shadow in
  Chrome & Safari, and Safari renders a really ugly text-shadow on Ultra
  Hi-Gloss font. */
  /* filter: drop-shadow(0 0 2px var(--candy-color-background1))
    drop-shadow(0 0 8px var(--candy-color-background1)); */
}

summary {
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
}

.font-ultra-hi-gloss {
  font-family: var(--font-logo);
}

/* stylelint-disable-next-line no-duplicate-selectors */
.window-main {
  padding: var(--main-padding-y) var(--main-padding-x);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
}

/* stylelint-disable-next-line no-duplicate-selectors */
h1 {
  font-size: 2.5rem;
  margin: 0 0 1rem 0;
}

h2,
h3 {
  font-size: 1.75rem;
  margin: 2rem 0 1rem 0;
}

/* stylelint-disable-next-line no-duplicate-selectors */
h3 {
  font-size: 1.5rem;
}

details {
  margin: 1rem 0;
}

details > summary {
  user-select: none;
}

details[open] > summary {
  margin-bottom: 1rem;
}

/* stylelint-disable-next-line no-duplicate-selectors */
header {
  text-align: center;
  color: var(--candy-color-text1);
  text-decoration-line: none;
  font-size: 1.5rem;
  letter-spacing: 1px;
  line-height: 1;
}

nav .candy-link {
  text-decoration-line: none;
}

.footer {
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
  font-weight: 600;
}

.center {
  margin-inline: auto;
}

::selection {
  background: var(--candy-color-accent-background1);
  color: var(--candy-color-accent-text1);
  text-shadow: none;
}

p {
  margin: 1rem 0;
}

ul {
  padding-left: 1em;
  list-style-type: disc;
}

ol {
  padding-left: 1em;
}

:where(ul, ol) ::marker {
  color: var(--candy-color-border1);
}

.box-grid > * {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

code,
pre {
  font-family: var(--font-mono);
  font-size: 1rem;
  font-variant-ligatures: none;
}

blockquote {
  border-left: 4px solid var(--candy-color-border3);
  margin-left: 0;
  padding: 0;
  padding-left: 1rem;
  font-style: italic;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.no-underline {
  text-decoration-line: none;
}

main :any-link:hover {
  text-decoration-line: underline;
}

:where(main, .candy-prose) > :is(h2, h3) {
  padding-top: 1rem;
  margin-top: 1rem;
  border-top: 1px dotted var(--candy-color-border1);
  border-image: linear-gradient(
    to right,
    var(--candy-color-background1),
    var(--candy-color-border3),
    var(--candy-color-background1)
  );
  border-image-slice: 1 9;
}

.candy-prose :where(hr),
.candy-divider {
  border-top: 1px dotted var(--candy-color-border1);
  border-image: linear-gradient(
    to right,
    var(--candy-color-background1),
    var(--candy-color-border3),
    var(--candy-color-background1)
  );
  border-image-slice: 1 9;
}

/* --- Media queries --- */

@media (min-width: 800px) {
  :root {
    padding: 0 2rem;
  }

  body.candy-root {
    --body-padding-x: 0;
    --main-padding-x: 2rem;
    --main-padding-y: 2rem;
    border: 1px solid hsl(0 0% 0% / 50%);
    border-top: 0;
    border-bottom: 0;
    box-shadow: 0 0 16px hsl(0 0% 0% / 30%);
    background-clip: padding-box;
  }

  .grid-2 {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 800px) {
  body.candy-root {
    font-size: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1.15rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
    animation: none !important;
  }
}
