/* TODO: Use @layer */
/* TODO: Try to remove util styles */

/* --- Fonts --- */

@font-face {
  font-family: "Nunito";
  src: url("/static/fonts/nunito-variable.woff2") format("woff2");
  font-weight: 1 1000;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("/static/fonts/nunito-italic-variable.woff2") format("woff2");
  font-style: italic;
  font-weight: 1 1000;
  font-display: swap;
}

@font-face {
  font-family: "Ultra Hi-Gloss";
  src: url("/static/fonts/ultra-hi-gloss.woff2") format("woff2");
  font-display: swap;
}

/* --- Other CSS --- */

:root {
  --font-body: "Nunito", system-ui, sans-serif;
  --font-logo: "Ultra Hi-Gloss", var(--font-body);
  --font-mono: "JetBrains Mono", ui-monospace, "Cascadia Code", "SFMono-Regular",
    "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", monospace;
  overflow-y: scroll;
  color-scheme: light dark;
  scrollbar-color: var(--sage-color-text2) var(--sage-color-background2);
}

h1 {
  font-weight: 500;
}

h2 {
  font-weight: 800;
}

h3 {
  font-weight: 700;
}

:not(:where(h1, h2, h3)) > a {
  font-weight: 700;
}

b {
  font-weight: 700;
}

.sage-root {
  --sage-button-radius: 9999px;
  --sage-link-underline: 1.5px;

  --sage-color-accent-background1: var(--color-main-accent-background1);
  --sage-color-accent-background2: var(--color-main-accent-background2);
  --sage-color-accent-border1: var(--color-main-accent-border1);
  --sage-color-accent-text1: var(--color-main-accent-text1);
  --sage-color-background1: var(--color-main-background1);
  --sage-color-background2: var(--color-main-background2);
  --sage-color-background3: var(--color-main-background3);
  --sage-color-background4: var(--color-main-background4);
  --sage-color-border1: var(--color-main-border1);
  --sage-color-border2: var(--color-main-border2);
  --sage-color-border3: var(--color-main-border3);
  --sage-color-shadow1: var(--color-main-shadow1);
  --sage-color-text1: var(--color-main-text1);
  --sage-color-text2: var(--color-main-text2);

  background: var(--sage-color-background4);
  color: var(--sage-color-text2);
}

.sage-root.theme-header {
  --sage-color-accent-background1: var(--color-root-fg);
  --sage-color-accent-background2: var(--color-root-fg);
  --sage-color-accent-border1: var(--color-root-fg);
  --sage-color-accent-text1: var(--color-root-bg1);
  --sage-color-background1: var(--color-root-bg1);
  --sage-color-background2: var(--color-root-bg1);
  --sage-color-background3: var(--color-root-bg2);
  --sage-color-background4: var(--color-root-bg2);
  --sage-color-border1: var(--color-root-bg2);
  --sage-color-border2: var(--color-root-bg2);
  --sage-color-border3: var(--color-root-bg2);
  --sage-color-shadow1: var(--color-main-shadow1);
  --sage-color-text1: var(--color-root-fg);
  --sage-color-text2: var(--color-root-fg);
  /* background: linear-gradient(
    to top,
    var(--sage-color-background2),
    var(--color-main-background4)
  ); */
}

.sage-prose a,
.sage-link {
  text-decoration-thickness: 1.5px;
  color: var(--sage-color-accent-background1);
  border-radius: 0.25rem;
}

:focus-visible {
  outline: 2px solid;
  outline-offset: 1px;
  text-decoration-line: none;
}

code.sage-bright,
.sage-prose :not(pre) > code {
  background: var(--sage-color-background2);
  color: var(--sage-color-text1);
  padding: calc(1em / 16) calc(1em / 4);
  border-radius: calc(1em / 4);
}

.sage-button {
  font: inherit;
  font-weight: 600;
  border: 2px solid transparent;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  background: var(--sage-color-text1);
  color: var(--sage-color-background1);
}

.sage-button:hover {
  background: var(--sage-color-text2);
}

.sage-button:focus-visible {
  outline: 2px solid var(--sage-color-accent-background1);
  outline-offset: 2px;
}

.sage-texture-striped {
  --size: 8px;
  background: repeating-linear-gradient(
      -45deg,
      var(--sage-color-background3) 0 calc(0.5 * var(--size)),
      var(--sage-color-background2) calc(0.5 * var(--size) + 0.5px)
        calc(1.5 * var(--size) - 0.5px),
      var(--sage-color-background3) calc(1.5 * var(--size))
        calc(2 * var(--size))
    )
    var(--sage-color-background3);
}

.window-nav {
  margin-inline: ;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  border-radius: var(--window-border-radius);
}

.window-nav :any-link {
  padding: 1rem;
  font-weight: 800;
  border-radius: 0.5rem;
}

@media (min-width: 420px) {
  .window-nav {
    display: flex;
  }
  header .content-column {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding-block: 1rem;
    text-decoration-line: none;
  }
}

@media (min-width: 800px) {
  .window-nav :any-link {
    font-size: 1.25rem;
  }
}

:any-link:hover {
  text-decoration-line: underline;
}

* {
  box-sizing: border-box;
}

body {
  /**
   * Setting font size on body rather than html so that 1rem can refer to the
   * user's specified font size anywhere in my CSS, rather than 1.25 times that
   * value; but this way most things get bumped up a little bigger, for a
   * slightly comfier to read site (since this is a blog, after all)
   */
  --body-padding-y: 2rem;
  --body-padding-x: 1rem;
  --window-border-radius: 0;
  font-size: 1.25rem;
  font-family: var(--font-body);
  line-height: 1.5;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.content-column {
  padding: var(--body-padding-y) var(--body-padding-x);
  max-width: 1024px;
  width: 100%;
  margin-inline: auto;
}

.sage-well {
  box-sizing: border-box;
  border: 0;
  padding: 1rem;
  border-radius: 1rem;
  background: var(--sage-color-background2);
}

header .content-column {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 0 calc(0.5 * var(--body-padding-x));
  text-decoration-line: none;
}

header .content-column :any-link {
  padding: 1rem calc(0.5 * var(--body-padding-x));
}

.logo {
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-family: var(--font-logo);
  /* Prevent Safari from making this even bolder lol */
  font-synthesis: none;
  font-weight: initial;
  text-decoration-line: none;
}

summary {
  -webkit-user-select: none;
  user-select: none;
}

.font-ultra-hi-gloss {
  font-family: var(--font-logo);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
}

/* stylelint-disable-next-line no-duplicate-selectors */
h1 {
  font-size: 2.5rem;
  margin: 0 0 1rem 0;
}

h2,
h3 {
  font-size: 1.75rem;
  margin: 2rem 0 1rem 0;
}

/* stylelint-disable-next-line no-duplicate-selectors */
h3 {
  font-size: 1.5rem;
}

details {
  margin: 1rem 0;
}

details > summary {
  user-select: none;
}

details[open] > summary {
  margin-bottom: 1rem;
}

header {
  color: var(--sage-color-text1);
  text-decoration-line: none;
  padding-block: 1rem;
}

main {
  flex: auto;
  display: flex;
  flex-direction: column;
  border-top: 2px solid var(--sage-color-background2);
  border-bottom: 2px solid var(--sage-color-background2);
}

nav .sage-link {
  text-decoration-line: none;
}

.footer {
  text-align: center;
  font-size: 1rem;
  font-weight: 800;
  text-shadow: 0 0 4px var(--sage-color-background1),
    0 0 8px var(--sage-color-background1),
    0 0 16px var(--sage-color-background1);
}

.center {
  margin-inline: auto;
}

::selection {
  background: var(--sage-color-accent-background1);
  color: var(--sage-color-accent-text1);
  text-shadow: none;
}

p {
  margin: 1rem 0;
}

ul {
  padding-left: 1em;
  list-style-type: disc;
}

ol {
  padding-left: 1em;
}

:where(ul, ol) ::marker {
  color: var(--sage-color-border1);
}

.box-grid > * {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

code,
pre {
  font-family: var(--font-mono);
  font-size: 1rem;
  font-variant-ligatures: none;
}

blockquote {
  border-left: 4px solid var(--sage-color-border3);
  margin-left: 0;
  padding: 0;
  padding-left: 1rem;
  font-style: italic;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.no-underline {
  text-decoration-line: none;
}

/* --- Media queries --- */

@media (min-width: 800px) {
  body {
    --body-padding-x: 2rem;
    --body-padding-y: 2rem;
    border-top: 0;
    border-bottom: 0;
    background-clip: padding-box;
  }

  .grid-2 {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 800px) {
  body {
    font-size: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1.15rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
    animation: none !important;
  }
}
