@font-face {
  font-family: "PP Talisman";
  src: url("/fonts/pp-talisman-bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "PP Object Sans";
  src: url("/fonts/pp-object-sans-regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PP Object Sans";
  src: url("/fonts/pp-object-sans-bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "PP Object Sans";
  src: url("/fonts/pp-object-sans-slanted.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PP Object Sans";
  src: url("/fonts/pp-object-sans-bold-slanted.woff2") format("woff2");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Ultra Hi-Gloss";
  src: url("/fonts/ultra-hi-gloss.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/jetbrains-mono-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/jetbrains-mono-bold.woff2") format("woff2");
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/jetbrains-mono-italic.woff2") format("woff2");
  font-display: swap;
  font-style: italic;
}

::selection {
  background-color: var(--color-selection);
  text-shadow: none;
}

::before,
::after,
* {
  box-sizing: border-box;
}

:root {
  --font-fallback-main: system-ui, sans-serif;
  --font-fallback-mono: ui-monospace, "Cascadia Code", "SFMono-Regular", "Menlo",
    "Monaco", "Consolas", "Liberation Mono", "Courier New", monospace;
  --font-body: "PP Object Sans", var(--font-fallback-main);
  --font-cool: "PP Talisman", var(--font-fallback-main);
  --font-logo: "Ultra Hi-Gloss", var(--font-fallback-main);
  --font-mono: "JetBrains Mono", var(--font-fallback-mono);

  --font-size-h1: 3rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.5rem;
  --font-size-base: 1.25rem;
  --font-size-small: 1rem;
  --font-size-code: 1rem;

  /* More closely match the text stroke width */
  --link-underline-thickness: 1.5px;

  overflow-y: scroll;
  color-scheme: light dark;
  scrollbar-color: var(--color-main-text) var(--color-main-background);
  background: var(--color-main-background);
  color: var(--color-main-text);
  font-synthesis: none;
}

body {
  /**
   * Setting font size on body rather than html so that 1rem can refer to the
   * user's specified font size anywhere in my CSS, rather than 1.25 times that
   * value; but this way most things get bumped up a little bigger, for a
   * slightly comfier to read site (since this is a blog, after all)
   */
  --body-padding-y: 1rem;
  --body-padding-x: 1rem;
  font-size: var(--font-size-base);
  font-family: var(--font-body);
  line-height: 1.5;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 0;
}

@media (min-width: 800px) {
  body {
    --body-padding-x: 1rem;
    --body-padding-y: 2rem;
  }
}

:any-link:hover {
  text-decoration-line: underline;
}

input,
select,
button {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

:is(h1, h2)::before {
  content: ": ";
  letter-spacing: 2px;
  font-style: normal;
  font-weight: bold;
  color: var(--color-main-decoration);
}

:is(h1, h2, h3, dt):has(> a)::before {
  content: "→ ";
  font-style: normal;
  font-weight: bold;
  color: var(--color-main-decoration);
}

h2::before {
  content: ":: ";
}

h1 {
  font-family: var(--font-cool);
  font-size: var(--font-size-h1);
  letter-spacing: 1px;
  line-height: 1.25;
  margin-block: 0 1rem;
}

h2 {
  font-family: var(--font-cool);
  font-size: var(--font-size-h2);
  letter-spacing: 1px;
  line-height: 1.25;
  margin-block: 4rem 1rem;
}

h3 {
  font-family: var(--font-body);
  font-size: var(--font-size-h3);
  line-height: 1.25;
  margin-block: 4rem 1rem;
}

code,
pre {
  font-family: var(--font-mono);
  font-size: var(--font-size-code);
  font-variant-ligatures: none;
  overflow-x: auto;
}

@media (max-width: 800px) {
  :root {
    --font-size-h1: 2rem;
    --font-size-h2: 1.5rem;
    --font-size-h3: 1.25rem;
    --font-size-base: 1.1rem;
    --font-size-small: 1rem;
    --font-size-code: 1rem;
  }
}

details {
  margin: 1rem 0;
}

summary {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

.sage-well details > summary {
  border-radius: 0.5rem;
  margin: -0.5rem;
  padding: 0.5rem;
}

.margin0 {
  margin: 0;
}

.text-right {
  text-align: right;
}

.spoiler {
  padding-inline: 0.25ch;
  background: var(--color-main-text);
  color: transparent;
  cursor: default;
}

.spoiler:hover:where(:not(:focus)) {
  opacity: 0.8;
}

.spoiler:focus {
  color: var(--color-main-background);
}

.spoiler:focus-visible {
  outline: 2px solid var(--color-main-text);
  outline-offset: 2px;
}

.hamburger {
  margin: 0;
}

.hamburger > summary {
  list-style: none;
  appearance: none;
  text-align: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.hamburger summary::-webkit-details-marker {
  display: none;
}

.hamburger > summary::after {
  content: "";
  display: block;
  width: 0.75rem;
  height: 0.5rem;
  clip-path: polygon(50% 100%, 100% 0, 0 0);
  background: currentColor;
  flex: none;
}

.hamburger > summary {
  position: relative;
  background: var(--color-header-button);
  padding: 0.25rem 1rem;
  border-radius: 9999px;
  font-weight: bold;
  cursor: default;
}

.hamburger[open] > summary {
  margin: inherit;
}

.hamburger[open] > summary::after {
  rotate: 0.5turn;
}

.hamburger[open] ~ .nav {
  display: grid;
}

.header {
  background: var(--color-header-background);
  color: var(--color-header-text);
}

.header .logo,
.header :any-link {
  font-weight: bold;
  color: inherit;
}

.header .logo {
  margin-left: -1rem;
}

.header .content-column {
  display: grid;
  grid-template-columns: 1fr max-content;
  justify-content: space-between;
  align-items: center;
  isolation: isolate;
  padding: 1rem;
}

.slime {
  height: 32px;
  margin-block-end: 2rem;
  background: var(--color-header-background);
  /* https://css-generators.com/wavy-shapes/ */
  --mask: linear-gradient(to top, #0000 32px, #000 0),
    radial-gradient(32px, #000 98%, #0000) bottom/59.2px 64px;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

p {
  margin: 1rem 0;
}

ul {
  padding-left: 3rem;
  list-style-type: disc;
}

ol {
  padding-left: 3rem;
}

:is(ul, ol) ::marker {
  color: var(--color-main-decoration);
}

li:first-child > p {
  margin-top: 0;
}

li:last-child > p {
  margin-bottom: 0;
}

main {
  flex: auto;
  display: flex;
  flex-direction: column;
  min-height: 60vh;
}

:focus-visible {
  outline: 2px solid;
  outline-offset: 1px;
  text-decoration-line: none;
}

.font-logo {
  font-family: var(--font-logo);
}

.font-mono {
  font-family: var(--font-mono);
}

.demo-font {
  font-size: var(--font-size-h3);
}

.font-cool {
  font-family: var(--font-cool);
}

.grid-full {
  grid-column: 1 / -1;
}

.gap1 {
  gap: 0.25rem;
}

.gap2 {
  gap: 0.5rem;
}

.gap3 {
  gap: 1rem;
}

.flex {
  display: flex;
}

.flex-auto {
  flex: auto;
}

.inline-flex {
  display: inline-flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.no-underline {
  text-decoration-line: none;
}

.emoji {
  width: 1.25em;
  height: auto;
  vertical-align: middle;
}

.sage-prose a,
.sage-link {
  text-decoration-thickness: var(--link-underline-thickness);
  color: var(--color-main-link);
  border-radius: 0.25rem;
}

:not(pre) > code {
  color: var(--color-main-code);
}

.sage-button {
  display: inline-block;
  font-weight: bold;
  border: 2px solid transparent;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  background: var(--color-main-link);
  color: var(--color-main-background);
  text-decoration-line: none;
  text-decoration-thickness: var(--link-underline-thickness);
}

.sage-button:focus-visible {
  outline: 2px solid var(--color-main-link);
  outline-offset: 2px;
}

.tag-list {
  display: flex;
  margin-inline: 0;
  padding-inline: 0;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.tag-list:empty {
  display: none;
}

.tag-list li {
  list-style-type: none;
}

.tag-list a {
  background: var(--color-card-background);
  color: inherit;
  font-size: var(--font-size-small);
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  display: flex;
}

:where(.tag-list) .sage-link {
  text-decoration-line: none;
}

.theme-select {
  -webkit-appearance: none;
  appearance: none;
  max-width: max-content;
}

.nav {
  grid-column: 1 / -1;
  display: none;
  grid-template-columns: 1fr 1fr;
  justify-content: flex-end;
  margin-block-start: 1rem;
  margin-inline: -1rem;
}

.nav :any-link {
  display: flex;
  gap: 0.5ch;
  align-items: center;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  color: var(--color-header-text);
  border-radius: 0.5rem;
  text-decoration-line: none;
  text-decoration-thickness: var(--link-underline-thickness);
}

.nav :any-link:hover {
  text-decoration-line: underline;
}

@media (min-width: 500px) {
  .nav {
    margin-inline: auto 0;
  }

  .nav :any-link {
    font-size: 1.25rem;
  }
}

.content-column {
  max-width: 800px;
  width: 100%;
  margin-inline: auto;
  padding: var(--body-padding-y) var(--body-padding-x);
}

.grid2 {
  display: grid;
  gap: 1rem;
}

@media (min-width: 800px) {
  .grid2 {
    grid-template-columns: 1fr 1fr;
  }
}

.clicky-list {
  display: grid;
  gap: 0.5rem;
}

@media (min-width: 500px) {
  .clicky-list {
    grid-template-columns: 1fr 1fr;
  }
}

.svg-inline--fa {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
}

/* --- TOYBOX --- */

.crime-frame {
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
}

.crime-frame :is(details, summary) {
  margin: unset;
}

.crime-frame > details {
  background: white;
}

/* --- LINKS --- */

.site-button {
  width: calc(2 * 88px);
  height: auto;
  display: flex;
  image-rendering: pixelated;
}

.site-button--grid {
  display: grid;
  gap: 0.5rem;
}

@media (min-width: 400px) {
  .site-button--grid {
    grid-template-columns: repeat(auto-fit, calc(2 * 88px));
    justify-content: center;
  }
}

@media (min-width: 800px) {
  .site-button--grid {
    justify-content: space-between;
  }
}

.site-button--link {
  display: flex;
  border-radius: 2px;
  outline-offset: 2px;
  outline-width: 3px;
  align-items: flex-start;
}

.site-button--image {
  width: 100%;
  height: auto;
  border-radius: 2px;
  image-rendering: pixelated;
}

.site-button--image:hover {
  opacity: 0.85;
}

/* --- HOME --- */

.clearfix {
  clear: both;
}

[data-page-name="home"] .avatar {
  --avatar-size: 120px;
  display: flex;
  float: right;
  margin: 1rem;
  margin-top: 0;
  border-radius: 9999px;
}

[data-page-name="home"] wavebeem-easter-egg.avatar[data-state="inside"] {
  background: transparent;
  border-color: transparent;
}

[data-page-name="home"] .avatar img {
  border-radius: 9999px;
  width: var(--avatar-size);
  height: var(--avatar-size);
  filter: brightness(90%) contrast(120%);
}

[data-page-name="home"] wavebeem-easter-egg {
  --wavebeem-easter-egg--shadow-color: hsl(0 0% 0% / 50%);
  --t: 2px;
  --k: 0.05turn;
  --transform: translate(calc(var(--t) * var(--x)), calc(var(--t) * var(--y)))
    scale(1.1) rotateY(calc(var(--k) * var(--x)))
    rotateX(calc(var(--k) * var(--y)));
  display: block;
  position: relative;
  touch-action: none;
}

@media (prefers-reduced-motion: reduce) {
  [data-page-name="home"] wavebeem-easter-egg {
    --k: 0turn;
  }
}

[data-page-name="home"] wavebeem-easter-egg[data-state="outside"] img {
  transition-timing-function: ease;
  transition-duration: 500ms;
  transition-property: transform, box-shadow, outline;
}

[data-page-name="home"] wavebeem-easter-egg[data-state="inside"] img {
  pointer-events: none;
  touch-action: none;
  transform: var(--transform);
  outline: 1px solid var(--color-easter-egg-highlight);
  outline-offset: -1px;
  --k1: calc(-1 / 16);
  --k2: calc(1 / 32);
  box-shadow: calc(var(--k1) * var(--avatar-size) * var(--x))
    calc(var(--k1) * var(--avatar-size) * var(--y))
    calc(var(--k2) * var(--avatar-size) * var(--r))
    var(--color-easter-egg-shadow);
}

[data-page-name="home"] wavebeem-easter-egg::before,
[data-page-name="home"] wavebeem-easter-egg::after {
  z-index: 10;
  transform: var(--transform);
  transition: opacity 500ms;
  pointer-events: none;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  clip-path: circle(50%);
}

[data-page-name="home"] wavebeem-easter-egg::before {
  mix-blend-mode: soft-light;

  /* https://css-pattern.com/wave-circles/ */
  --s: 30px; /* control the size*/
  --c1: hsl(0 0% 80%);
  --c2: hsl(0 0% 50%);

  --_g: var(--s) var(--s)
    radial-gradient(var(--c1) 17%, var(--c2) 18% 35%, #0000 36.5%);

  mask-image: linear-gradient(
    var(--angle),
    hsl(0 0% 0% / 100%),
    hsl(0 0% 0% / 0%) calc(100% * var(--r))
  );
  background: calc(var(--s) / -4) calc(var(--s) / -4) / var(--_g),
    calc(var(--s) / 4) calc(var(--s) / 4) / var(--_g),
    radial-gradient(var(--c2) 34%, var(--c1) 36% 68%, #0000 70%) 0 0 /
      calc(var(--s) / 2) calc(var(--s) / 2),
    repeating-linear-gradient(45deg, var(--c1) -12.5% 12.5%, var(--c2) 0 37.5%)
      0 0 / var(--s) var(--s);
}

[data-page-name="home"] wavebeem-easter-egg::after {
  mix-blend-mode: hard-light;
  background: linear-gradient(
      var(--angle),
      hsl(var(--angle) 100% 80% / 70%),
      hsl(var(--angle) 100% 80% / 10%) calc(100% * var(--r))
    )
    0 0 / 100% 100%;
}

[data-page-name="home"] wavebeem-easter-egg[data-state="inside"]::before,
[data-page-name="home"] wavebeem-easter-egg[data-state="inside"]::after {
  opacity: 1;
}

@media (max-width: 420px) {
  [data-page-name="home"] .avatar {
    --avatar-size: 100px;
  }
}

@media (min-width: 800px) {
  [data-page-name="home"] .avatar {
    --avatar-size: 180px;
  }
}

/* --- RESUME --- */

[data-page-name="resume"] main :is(h1, h2, h3) small {
  font-weight: normal;
  font-family: var(--font-body);
}

@media (max-width: 800px) {
  [data-page-name="resume"] main small {
    display: block;
  }
}

[data-page-name="resume"] main .sage-well ul:last-of-type {
  margin-bottom: 0;
}

[data-page-name="resume"] main .sage-well > details {
  margin-block: 0;
}

[data-page-name="resume"] main ul li + li {
  margin-top: 1rem;
}

/* stylelint-disable-next-line no-descending-specificity */
[data-page-name="resume"] main :is(ul, dl) {
  list-style: none;
  padding-left: 0;
}

/* stylelint-disable-next-line no-descending-specificity */
[data-page-name="resume"] main summary {
  border-radius: 0.5rem;
}

[data-page-name="resume"] main summary:hover {
  background: var(--color-card-hover);
}

/* --- ART GALLERY --- */

[data-page-name="art"] .art-container {
  display: grid;
  gap: 2rem 1rem;
  text-align: center;
  grid-template-columns: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  justify-content: space-between;
}

[data-page-name="art"] .art-container--frame {
  display: flex;
  flex-direction: column;
  margin: 0;
}

[data-page-name="art"] .art-container--frame a {
  font-family: var(--font-cool);
  font-size: var(--font-size-h3);
  font-weight: bold;
  flex: auto;
}

/* stylelint-disable-next-line no-descending-specificity */
[data-page-name="art"] .art-container--frame img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  display: block;
  background: var(--color-card-background);
  border: 0.5rem solid transparent;
}

[data-page-name="art"] .art-container--frame figcaption {
  display: flex;
  flex-direction: column;
}

[data-page-name="art"] figure {
  margin: 1rem 0;
  color: var(--color-main-text);
}

/* stylelint-disable-next-line no-descending-specificity */
[data-page-name="art"] figure img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

/* stylelint-disable-next-line no-descending-specificity */
[data-page-name="art"] figure figcaption {
  font-size: var(--font-size-small);
}

/* --- POST --- */

[data-page-name="blog-post"] .post-date {
  margin-bottom: 1rem;
}

[data-page-name="blog-post"] hr {
  border: none;
  margin-inline: 0;
  margin-block: 2rem;
  display: flex;
  color: inherit;

  /* https://www.smashingmagazine.com/2024/01/css-border-image-property/ */
  --s: 2px; /* line thickness */
  --c: var(--color-card-background); /* line color */
  --w: 100vw; /* divider width */
  --g: 0.5ch; /* content gap */
  background: linear-gradient(
    transparent calc(50% - var(--s) / 2),
    var(--c) 0 calc(50% + var(--s) / 2),
    transparent 0
  );
}

[data-page-name="blog-post"] hr::after {
  content: "";
  background: var(--color-main-decoration);
  outline: 8px solid var(--color-main-background);

  width: 32px; /* adjust to control the size */
  aspect-ratio: 1;
  border-radius: 9999px;

  font-size: 3rem;
  display: block;
  margin-inline: auto;
  padding-inline: 0.5rem;
}

[data-page-name="blog-post"] figure {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  box-sizing: border-box;
  border: 0;
  padding: 1rem;
  border-radius: 1rem;
  background: var(--color-card-background);
}

[data-page-name="blog-post"] figure img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  display: block;
}

[data-page-name="blog-post"] figure figcaption {
  font-weight: bold;
  font-size: var(--font-size-small);
}

.sage-prose p > img:only-child {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  display: block;
  background: var(--color-card-background);
  border: 0.5rem solid transparent;
}

@media (max-width: 420px) {
  .sage-prose p > img:only-child {
    margin-inline: -1rem;
    width: calc(100% + 2rem);
  }
}

/* Fake version of figure+figcaption to work around Markdown
  not having good support for many tags */
[data-page-name="blog-post"]
  .sage-prose
  p:has(> img:only-child)
  + p:has(> strong:only-child) {
  margin-top: -0.5rem;
  padding-inline: 0.5rem;
  text-align: center;
  font-size: var(--font-size-small);
}

[data-page-name="blog-post"] .sage-prose blockquote > :first-child {
  margin-top: 0;
}

[data-page-name="blog-post"] .sage-prose blockquote > :last-child {
  margin-bottom: 0;
}

[data-page-name="blog-post"] blockquote {
  background: var(--color-card-background);
  margin-inline: 0;
  border-radius: 1rem;
  padding: 1rem;
}

[data-page-name="blog-post"] blockquote > :first-child {
  margin-top: 0;
}

[data-page-name="blog-post"] blockquote > :last-child {
  margin-bottom: 0;
}

[data-page-name="blog-post"] aside {
  position: relative;
  margin-block: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background: var(--color-syntax-background);
}

[data-page-name="blog-post"] aside :first-child {
  margin-top: 0;
}

[data-page-name="blog-post"] aside :last-child {
  margin-bottom: 0;
}

.pixelated {
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

[data-page-name="blog-post"] pre {
  border-radius: 1rem;
  margin: 1rem 0;
  padding: 1rem;
  background: var(--color-syntax-background);
  color: var(--color-syntax-text);
  overflow-x: auto;
}

/* Reset color for nested scripts */
.token.script {
  color: var(--color-syntax-default);
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--color-syntax-comment);
  font-style: italic;
}

.token.punctuation {
  color: var(--color-syntax-punctuation);
}

.token.attr-value,
.token.selector,
.token.string,
.token.char,
.token.boolean,
.token.number,
.token.regex,
/* .token.builtin, */
.token.inserted {
  color: var(--color-syntax-string);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: var(--color-syntax-punctuation);
}

.token.atrule,
.token.function,
.token.class-name {
  color: var(--color-syntax-property);
}

.token.tag,
.token.tag > .token.class-name {
  color: var(--color-syntax-keyword);
}

.token.keyword {
  color: var(--color-syntax-keyword);
  font-weight: bold;
}

.language-css .token.property,
.token.attr-name,
/* .token.property, */
.token.variable,
.token.constant,
.token.symbol,
.token.deleted,
.token.important {
  color: var(--color-syntax-property);
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.sage-dl dt {
  font-weight: bold;
}

.sage-dl dt > .sage-link:not(:hover) {
  text-decoration: none;
}

.sage-dl dd {
  margin: 0;
}

.sage-dl dd + dt {
  margin-top: 1rem;
}

.sage-well {
  box-sizing: border-box;
  border: 0;
  padding: 1rem;
  border-radius: 1rem;
  background: var(--color-card-background);
}

.sage-well > :first-child {
  margin-top: 0;
}

.sage-well > :last-child {
  margin-bottom: 0;
}

.sage-well > details {
  margin: 0;
}

.sage-well > details > summary {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.sage-well > details > summary::-webkit-details-marker {
  display: none;
}

.sage-well > details > summary::after {
  content: "";
  display: block;
  width: 0.75rem;
  height: 0.5rem;
  clip-path: polygon(50% 100%, 100% 0, 0 0);
  background: currentColor;
  flex: none;
}

.sage-well > details[open] > summary::after {
  rotate: 0.5turn;
}

.sage-well > details > summary > * {
  display: inline;
  margin: 0;
}

.sage-well > details > :last-child {
  margin-block-end: 0;
}

.sage-well > details > summary {
  border-radius: 0.5rem;
}

.sage-well > details > summary:hover {
  background: var(--color-card-hover);
}

.link-card {
  display: flex;
  align-items: center;
  gap: 0.5ch;
  text-decoration-line: none;
  text-decoration-thickness: var(--link-underline-thickness);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: var(--color-main-link);
  color: inherit;
  background: var(--color-card-background);
}

.link-card > img {
  width: 32px;
  height: auto;
}

.logo {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-family: var(--font-logo);
  /* Prevent Safari from making this even bolder lol */
  font-synthesis: none;
  font-weight: normal;
  text-decoration-line: none;
  text-transform: uppercase;
}

.footer-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-inline: -0.5rem;
}

:where(.footer-links) .sage-link {
  font-weight: normal;
  max-width: max-content;
  padding: 0.5rem;
}

:is(.nav, .header, .footer-links) .sage-link {
  text-decoration-line: none;
}

:is(.nav, .header, .footer-links) .sage-link:hover {
  text-decoration-line: underline;
}

.footer {
  font-size: var(--font-size-small);
  background: var(--color-footer-background);
  color: var(--color-footer-text);
  padding-top: 0.5rem;
}

.footer :any-link {
  font-weight: bold;
  color: inherit;
}

.footer .sage-button {
  background: var(--color-footer-text);
  color: var(--color-footer-background);
}

/* https://css-shape.com/rounded-edge/ */
.footer-top {
  background: var(--color-footer-background);
  clip-path: ellipse(65% 100% at 50% 100%);
  padding-top: 3rem;
  margin-top: 3rem;
}

.footer .content-column {
  padding-top: 0;
}

.footer .sage-button {
  padding-block: 0.25rem;
  max-width: max-content;
}

.post-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.post-list--post {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.post-list--post > * {
  margin: 0;
}

.post-list--post > time {
  flex: auto;
  font-size: var(--font-size-small);
  font-weight: bold;
}

.toy-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.toy-list--toy {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 1rem;
}

.toy-list--toy > * {
  margin: 0;
}

.toy-list--toy time {
  flex: auto;
  font-weight: normal;
  margin-top: -0.5rem;
  font-style: normal;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
    animation: none !important;
  }
}
