.m0 {
  margin: 0;
}

.grid-2 {
  display: grid;
  gap: 1rem;
}

@media (min-width: 800px) {
  .grid-2 {
    grid-template-columns: 1fr 1fr;
  }
}

.card-heading {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

.clearfix {
  clear: both;
}

.avatar {
  --avatar-size: 120px;
  display: flex;
  float: right;
  margin: 1rem;
  margin-top: 0;
  box-shadow: 0 2px 0 0 var(--color-main-shadow);
  border-radius: 9999px;
}

.box-grid > * {
  display: flex;
  flex-direction: column;
}

wavebeem-easter-egg.avatar[data-state="inside"] {
  background: transparent;
  border-color: transparent;
}

.avatar img {
  border-radius: 9999px;
  width: var(--avatar-size);
  height: var(--avatar-size);
}

wavebeem-easter-egg {
  --wavebeem-easter-egg--shadow-color: hsl(0 0% 0% / 50%);
  --t: 2px;
  --k: 0.05turn;
  --transform: translate(calc(var(--t) * var(--x)), calc(var(--t) * var(--y)))
    scale(1.1) rotateY(calc(var(--k) * var(--x)))
    rotateX(calc(var(--k) * var(--y)));
  display: block;
  position: relative;
  touch-action: none;
}

@media (prefers-reduced-motion: reduce) {
  wavebeem-easter-egg {
    --k: 0turn;
  }
}

wavebeem-easter-egg[data-state="outside"] img {
  transition-timing-function: ease;
  transition-duration: 500ms;
  transition-property: transform, box-shadow, outline;
}

wavebeem-easter-egg[data-state="inside"] img {
  pointer-events: none;
  touch-action: none;
  transform: var(--transform);
  outline: 1px solid var(--color-easter-egg-highlight);
  outline-offset: -1px;
  --k1: calc(-1 / 16);
  --k2: calc(1 / 32);
  box-shadow: calc(var(--k1) * var(--avatar-size) * var(--x))
    calc(var(--k1) * var(--avatar-size) * var(--y))
    calc(var(--k2) * var(--avatar-size) * var(--r))
    var(--color-easter-egg-shadow);
}

wavebeem-easter-egg::before,
wavebeem-easter-egg::after {
  z-index: 10;
  transform: var(--transform);
  transition: opacity 500ms;
  pointer-events: none;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  clip-path: circle(50%);
}

wavebeem-easter-egg::before {
  mix-blend-mode: soft-light;

  /* https://css-pattern.com/wave-circles/ */
  --s: 30px; /* control the size*/
  --c1: hsl(0 0% 80%);
  --c2: hsl(0 0% 50%);

  --_g: var(--s) var(--s)
    radial-gradient(var(--c1) 17%, var(--c2) 18% 35%, #0000 36.5%);

  mask-image: linear-gradient(
    var(--angle),
    hsl(0 0% 0% / 100%),
    hsl(0 0% 0% / 0%) calc(100% * var(--r))
  );
  background: calc(var(--s) / -4) calc(var(--s) / -4) / var(--_g),
    calc(var(--s) / 4) calc(var(--s) / 4) / var(--_g),
    radial-gradient(var(--c2) 34%, var(--c1) 36% 68%, #0000 70%) 0 0 /
      calc(var(--s) / 2) calc(var(--s) / 2),
    repeating-linear-gradient(45deg, var(--c1) -12.5% 12.5%, var(--c2) 0 37.5%)
      0 0 / var(--s) var(--s);
}

wavebeem-easter-egg::after {
  mix-blend-mode: hard-light;
  background: linear-gradient(
      var(--angle),
      hsl(var(--angle) 100% 80% / 70%),
      hsl(var(--angle) 100% 80% / 10%) calc(100% * var(--r))
    )
    0 0 / 100% 100%;
}

wavebeem-easter-egg[data-state="inside"]::before,
wavebeem-easter-egg[data-state="inside"]::after {
  opacity: 1;
}

@media (max-width: 420px) {
  .avatar {
    --avatar-size: 100px;
  }
}

@media (min-width: 800px) {
  .avatar {
    --avatar-size: 180px;
  }
}
