:root {
  --site-button-scale: 2;
}

.site-button {
  width: calc(2 * 88px);
  height: auto;
  display: flex;
  image-rendering: pixelated;
}

.site-button--grid {
  display: grid;
  gap: 1rem;
}

@media (min-width: 400px) {
  .site-button--grid {
    grid-template-columns: repeat(
      auto-fit,
      calc(var(--site-button-scale) * 88px)
    );
  }
}

@media (min-width: 800px) {
  .site-button--grid {
    justify-content: space-between;
  }
}

.site-button--link {
  display: flex;
  border-radius: 2px;
  outline-offset: 2px;
  outline-width: 3px;
  align-items: flex-start;
}

.site-button--image {
  width: 100%;
  height: auto;
  border-radius: 2px;
  image-rendering: pixelated;
}

.site-button--image:hover {
  opacity: 0.85;
}

.mode-light,
.mode-dark {
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
}

.mode-light {
  background: white;
  color: black;
}

.mode-dark {
  background: black;
  color: white;
}
