.post dt {
  font-weight: bold;
}

.post dd {
  border-left: 1px solid var(--sage-color-shadow);
  margin-left: 0;
  padding-left: 2rem;
}

.post dt p,
.post dd p {
  margin: 0;
}

/* stylelint-disable-next-line no-duplicate-selectors */
.post dt {
  margin-bottom: 0.5rem;
}

.post dd + dt {
  margin-top: 2rem;
}

.post-date {
  margin-top: -1rem;
  margin-bottom: 1rem;
}

figure {
  margin: 1rem 0;
  color: var(--sage-color-text1);
}

figure img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

figure figcaption {
  font-weight: bold;
  font-size: 1rem;
}

.pixelated {
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.sage-prose pre {
  border-radius: 1rem;
  margin: 1rem 0;
  padding: 1rem;
  border: 0;
  background-color: var(--sage-color-background1);
  color: var(--sage-color-text1);
  overflow-x: auto;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--color-syntax-comment);
  font-style: italic;
}

.token.punctuation {
  color: var(--color-syntax-punctuation);
}

.token.attr-value,
.token.selector,
.token.string,
.token.char,
.token.boolean,
.token.number,
.token.regex,
/* .token.builtin, */
.token.inserted {
  color: var(--color-syntax-string);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: var(--color-syntax-punctuation);
}

.token.atrule,
.token.function,
.token.class-name {
  color: var(--color-syntax-property);
}

.token.tag {
  color: var(--color-syntax-keyword);
}

.token.keyword {
  color: var(--color-syntax-keyword);
  font-weight: bold;
}

.language-css .token.property,
.token.attr-name,
/* .token.property, */
.token.variable,
.token.constant,
.token.symbol,
.token.deleted,
.token.important {
  color: var(--color-syntax-property);
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
