.post-date {
  margin-top: -1rem;
  margin-bottom: 1rem;
}

hr {
  border: 0;
  border-bottom: 2px dotted;
  color: var(--color-main-shadow);
}

figure {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  box-sizing: border-box;
  border: 0;
  padding: 1rem;
  border-radius: 1rem;
  background: var(--color-main-background1);
}

figure img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  display: block;
}

figure figcaption {
  font-weight: bold;
  font-size: 1rem;
}

blockquote {
  font-style: italic;
  background: var(--color-main-background1);
  margin-inline: 0;
  border-radius: 1rem;
  padding: 1rem;
}

blockquote > :first-child {
  margin-top: 0;
}

blockquote > :last-child {
  margin-bottom: 0;
}

.sage-prose .infobox {
  position: relative;
  margin-block: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background: var(--color-aside-background);
}

.sage-prose .infobox::before {
  display: block;
  position: absolute;
  inset: 0 0 auto auto;
  content: "i";
  box-shadow: 0 0 0 2px var(--color-main-background3);
  background: var(--color-main-link);
  color: var(--color-main-background3);
  margin: -0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 1rem;
  text-align: center;
  border-radius: 9999px;
  font-weight: 800;
}

.sage-prose .infobox :first-child {
  margin-top: 0;
}

.sage-prose .infobox :last-child {
  margin-bottom: 0;
}

.pixelated {
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.sage-prose pre {
  border-radius: 1rem;
  margin: 1rem 0;
  padding: 1rem;
  border: 0;
  background-color: var(--color-main-background2);
  color: var(--color-syntax-default);
  overflow-x: auto;
}

/* Reset color for nested scripts */
.token.script {
  color: var(--color-syntax-default);
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--color-syntax-comment);
  font-style: italic;
}

.token.punctuation {
  color: var(--color-syntax-punctuation);
}

.token.attr-value,
.token.selector,
.token.string,
.token.char,
.token.boolean,
.token.number,
.token.regex,
/* .token.builtin, */
.token.inserted {
  color: var(--color-syntax-string);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: var(--color-syntax-punctuation);
}

.token.atrule,
.token.function,
.token.class-name {
  color: var(--color-syntax-property);
}

.token.tag,
.token.tag > .token.class-name {
  color: var(--color-syntax-keyword);
}

.token.keyword {
  color: var(--color-syntax-keyword);
  font-weight: bold;
}

.language-css .token.property,
.token.attr-name,
/* .token.property, */
.token.variable,
.token.constant,
.token.symbol,
.token.deleted,
.token.important {
  color: var(--color-syntax-property);
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
