.post dt {
  font-weight: bold;
}

.post dd {
  border-left: 1px solid var(--candy-color-shadow);
  margin-left: 0;
  padding-left: 2rem;
}

.post dt p,
.post dd p {
  margin: 0;
}

.post dt {
  margin-bottom: 0.5rem;
}

.post dd + dt {
  margin-top: 2rem;
}

.post-date {
  margin-top: -1rem;
  margin-bottom: 1rem;
}

figure {
  margin: 1rem 0;
  color: var(--candy-color-text1);
}

figure img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

figure figcaption {
  font-weight: bold;
  font-size: 1rem;
}

.pixelated {
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.candy-prose pre {
  --color-text: var(--candy-color-text1);
  --color-border1: var(--candy-color-border3);
  --color-border2: var(--candy-color-background1);
  --color-background1: var(--candy-color-background2);
  --color-background2: var(--candy-color-background1);

  --comment: oklch(45% 80% 140);
  --keyword: oklch(45% 80% 210);
  --property: oklch(45% 80% 310);
  --string: oklch(45% 80% 0);
  --punctuation: oklch(50% 0% 0);

  margin: 1rem calc(-1 * var(--main-padding-x));
  padding: 1rem 2rem;
  border-radius: 0;
  border: 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-image: linear-gradient(
    to right,
    var(--color-border1),
    var(--color-border2)
  );
  border-image-slice: 1 9;
  background-color: var(--color-background2);
  background-image: linear-gradient(
    to right,
    var(--color-background1),
    var(--color-background2)
  );
  color: var(--color-text);
}

@media (prefers-color-scheme: dark) {
  .candy-prose pre {
    --comment: oklch(85% 40% 140);
    --keyword: oklch(85% 40% 210);
    --property: oklch(85% 40% 310);
    --string: oklch(85% 40% 40);
    --punctuation: oklch(70% 0% 0);
  }
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--comment);
  font-style: italic;
}

.token.punctuation {
  color: var(--punctuation);
}

.token.attr-value,
.token.selector,
.token.string,
.token.char,
.token.boolean,
.token.number,
.token.regex,
/* .token.builtin, */
.token.inserted {
  color: var(--string);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: var(--punctuation);
}

.token.atrule,
.token.function,
.token.class-name {
  color: var(--property);
}

.token.tag {
  color: var(--keyword);
}

.token.keyword {
  color: var(--keyword);
  font-weight: bold;
}

.language-css .token.property,
.token.attr-name,
/* .token.property, */
.token.variable,
.token.constant,
.token.symbol,
.token.deleted,
.token.important {
  color: var(--property);
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
