html {
  font-family: "Helvetica", sans-serif;
  font-size: 12px;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px;
}

.screen-only,
footer,
nav,
header {
  display: none;
}

:any-link {
  text-decoration: none;
}

li {
  margin-top: 0.35em;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.markdownIt-Anchor {
  color: inherit;
}

.contact-info {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  float: right;
  padding-left: 2rem;
  padding-bottom: 2rem;
  background: white;
  padding: 1rem;
  border: 6px double;
  border-radius: 6px;
  box-shadow: 0 0 0 4px white;
  margin: 0 0 1rem 1rem;
}

.contact-info p {
  padding: 0;
  margin: 0;
}

.contact-info a {
  text-decoration: none;
}

h2,
h3 {
  padding-top: 1rem;
  border-top: 2px dotted;
}

h2 {
  font-size: 1.2rem;
  margin: 0;
}

h3 {
  font-size: 1.1rem;
  margin: 1rem 0;
}

ul {
  padding-left: 1rem;
}

a {
  color: blue;
}
