html {
  font-family: "Helvetica", sans-serif;
  font-size: 12px;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px;
}

main > div {
  margin: 1rem 0;
}

.screen-only,
footer,
nav,
header {
  display: none;
}

li {
  margin-top: 0.35em;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.markdownIt-Anchor {
  color: inherit;
}

.contact-info p {
  padding: 0;
  margin: 0;
}

.contact-info a {
  text-decoration: none;
}

h2,
h3 {
  padding-top: 1rem;
  border-top: 2px dotted;
}

h2 {
  font-size: 1.2rem;
  margin: 0;
}

h3 {
  font-size: 1.1rem;
  margin: 1rem 0;
}

ul {
  padding-left: 1rem;
}

table {
  margin: 0.5rem 0;
  border-collapse: collapse;
}

tbody > tr {
  border-top: 1px dotted;
}

tbody > tr > td,
tbody > tr > th {
  padding: 0.25rem 0;
}

tbody > tr > th {
  padding-right: 1rem;
}

tbody > tr > th {
  text-align: left;
}

:any-link {
  color: blue;
}

.weight-normal {
  font-weight: normal;
}
