main :is(h1, h2, h3) small {
  color: var(--color-main-text);
  font-weight: normal;
}

@media (max-width: 800px) {
  main small {
    display: block;
  }
}

main .sage-well ul:last-of-type {
  margin-bottom: 0;
}

main .sage-well > details {
  margin-block: 0;
}

main ul li + li {
  margin-top: 1rem;
}

/* stylelint-disable-next-line no-descending-specificity */
main ul {
  padding-left: 1rem;
}

main ol {
  padding-left: 1rem;
}

main summary {
  border-radius: 0.5rem;
}

main summary:hover {
  background: var(--color-main-background2);
}

main dl {
  margin-block: 0;
}

@media (min-width: 800px) {
  main dl {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 1rem 2rem;
  }
}

@media (max-width: 800px) {
  main dd + dt {
    margin-top: 1rem;
  }
}

main dd {
  margin-inline: 0;
}

main dt {
  font-weight: 600;
}
