:is(h1, h2, h3) small {
  color: var(--candy-color-text2);
  font-weight: normal;
}

@media (max-width: 800px) {
  small {
    display: block;
  }
}

.sage-well ul:last-of-type {
  margin-bottom: 0;
}

.sage-well > details {
  margin-block: 0;
}

ul li + li {
  margin-top: 1rem;
}

ul {
  padding-left: 1em;
  list-style-type: circle;
}

ol {
  padding-left: 1em;
}

summary {
  border-radius: 0.5rem;
}

summary:hover {
  outline: 1px solid var(--candy-color-border3);
  background: linear-gradient(
    to right,
    var(--candy-color-background2),
    var(--candy-color-background4),
    var(--candy-color-background2)
  );
}

dl {
  margin-block: 0;
}

@media (min-width: 800px) {
  dl {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 1rem 2rem;
  }
}

@media (max-width: 800px) {
  dd + dt {
    margin-top: 1rem;
  }
}

dd {
  margin-inline: 0;
}
