/* --- Fonts --- */

/* Fonts from Google Fonts using google-webfonts-helper
 * https://google-webfonts-helper.herokuapp.com/fonts/nunito?subsets=latin
 */

/* nunito-regular - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/static/fonts/nunito-v24-latin-regular.woff2") format("woff2");
}

/* nunito-700 - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/static/fonts/nunito-v24-latin-700.woff2") format("woff2");
}

/* nunito-italic - latin */
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/static/fonts/nunito-v24-latin-italic.woff2") format("woff2");
}

:root {
  --font-sans: "Nunito", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --content-width: 768px;
  --hue-main: 200;
  --hue-accent: 150;
  --bit-color0: hsl(var(--hue-main), 10%, 80%);
  --bit-color1: hsl(var(--hue-main), 20%, 15%);
  --color-bg-alt: hsl(var(--hue-main), 20%, 10%);
  --color-link: hsl(var(--hue-accent), 60%, 60%);

  scrollbar-color: var(--bit-color0) var(--color-bg-alt);
}

* {
  box-sizing: border-box;
}

body {
  /**
   * Setting font size on body rather than html so that 1rem can refer to the
   * user's specified font size anywhere in my CSS, rather than 1.25 times that
   * value; but this way most things get bumped up a little bigger, for a
   * slightly comfier to read site (since this is a blog, after all)
   */
  font-size: 1.25rem;
  font-family: var(--font-sans);
  line-height: 1.5;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0;
}

main {
  flex: auto;
  padding: 0 1rem;
}

p {
  margin: 2rem 0;
}

header,
footer {
  background: var(--color-bg-alt);
}

header {
  padding: 1rem 0;
}

footer {
  margin-top: 2rem;
  padding: 1rem;
  text-align: center;
}

main,
nav {
  max-width: var(--content-width);
  margin: 0 auto;
}

nav {
  padding: 0 1rem;
}

h1,
h2 {
  margin-bottom: 0;
  border-bottom: var(--bit-border-width) dotted;
}

:any-link {
  --bit-color0: var(--color-link);
}

.button-grid {
  display: flex;
  gap: 1rem;
  margin: 2rem 0;
  flex-wrap: wrap;
}

.site-button {
  --scale: 2;
  width: calc(var(--scale) * 88px);
  height: calc(var(--scale) * 31px);
  image-rendering: pixelated;
}
