/* --- Fonts --- */

/* Fonts from Google Fonts using google-webfonts-helper
 * https://google-webfonts-helper.herokuapp.com/fonts/nunito?subsets=latin
 */

/* --- Other CSS --- */

:root {
  --font-body: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro,
    sans-serif;
  --font-heading: Bahnschrift, "DIN Alternate", "Franklin Gothic Medium",
    "Nimbus Sans Narrow", sans-serif-condensed, sans-serif;
  --font-mono: ui-monospace, "JetBrains Mono", "Cascadia Code", SFMono-Regular,
    Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --content-width: 800px;
  overflow-y: scroll;
}

.bit-root,
.bit-auto {
  --hue-main: 250;
  --hue-alt: 80;
  --hue-yellow: 60;
  --hue-orange: 30;

  --color-nav-bg: hsl(var(--hue-alt) 100% 40%);
  --color-nav-fg: hsl(var(--hue-alt) 100% 10%);
  --color-nav-accent: hsl(var(--hue-alt) 100% 10%);
  --color-nav-shadow: hsl(var(--hue-main) 100% 10%);

  --color-fg: hsl(var(--hue-main) 70% 85%);
  --color-bg: hsl(var(--hue-main) 35% 15%);
  --color-link: hsl(var(--hue-alt) 100% 60%);
  --color-border: hsl(var(--hue-main) 35% 30%);
  --color-syntax-bg: hsl(var(--hue-main) 50% 10%);
  --color-code-bg: hsl(var(--hue-main) 50% 10%);
  --color-code-fg: var(--color-fg);
  --color-avatar-bg: hsl(var(--hue-main) 40% 86%);

  --bit-color-fg: var(--color-fg);
  --bit-color-bg: var(--color-bg);
  --bit-color-shadow: var(--color-border);
  --bit-color-accent: var(--color-link);
  --bit-border-radius: 0px;
}

* {
  box-sizing: border-box;
}

body {
  /**
   * Setting font size on body rather than html so that 1rem can refer to the
   * user's specified font size anywhere in my CSS, rather than 1.25 times that
   * value; but this way most things get bumped up a little bigger, for a
   * slightly comfier to read site (since this is a blog, after all)
   */
  font-size: 1.25rem;
  font-family: var(--font-body);
  line-height: 1.5;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: auto;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: var(--content-width);
  width: 100%;
}

.post dt {
  font-weight: bold;
}

.post dd {
  border-left: 1px solid var(--bit-color-shadow);
  margin-left: 0;
  padding-left: 2rem;
}

.post dt p,
.post dd p {
  margin: 0;
}

.post dt {
  margin-bottom: 0.5rem;
}

.post dd + dt {
  margin-top: 2rem;
}

.post .markdownIt-Anchor {
  text-decoration-line: none;
}

/* @[toc] gets embedded inside a <p> which is invalid, so the HTML parser
 * creates an empty <p> tag on the page, which is weird. Even though it doesn't
 * ruin the layout right now, I'd still rather just hide it entirely.
 */
p:empty {
  display: none;
}

header {
  border-bottom: 1px solid var(--bit-color-shadow);
  padding: 1rem;
}

header.bit-root {
  --bit-color-bg: var(--color-nav-bg);
  --bit-color-fg: var(--color-nav-fg);
  --bit-color-accent: var(--color-nav-accent);
  --bit-color-shadow: var(--color-nav-shadow);
}

footer > *,
header > * {
  margin: 0 auto;
  max-width: var(--content-width);
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3 {
  margin: 2rem 0 1rem 0;
  font-family: var(--font-heading);
}

h2 .markdownIt-Anchor::before {
  content: "# ";
  color: var(--color-link);
}

h3 .markdownIt-Anchor::before {
  content: "## ";
  color: var(--color-link);
}

h2 .markdownIt-Anchor:not(:hover):not(:focus),
h3 .markdownIt-Anchor:not(:hover):not(:focus),
h2 .markdownIt-Anchor:focus::before,
h3 .markdownIt-Anchor:focus::before {
  color: inherit;
}

nav {
  margin-top: 1rem;
  display: flex;
  gap: 1.25rem;
  font-weight: bold;
}

details {
  margin: 1rem 0;
}

details > summary {
  user-select: none;
}

details[open] > summary {
  margin-bottom: 1rem;
}

.bizarro {
  filter: hue-rotate(150deg);
}

.width-max-content {
  width: max-content;
}

.m0 {
  margin: 0;
}

.card-heading {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

.logo {
  margin-right: 1rem;
  text-decoration-line: none;
  letter-spacing: 0.05em;
}

.post-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.post-list--post {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.post-list--post > * {
  margin: 0;
}

.post-list--post > time {
  flex: auto;
  font-size: 1rem;
  font-weight: bold;
}

nav .bit-link {
  text-decoration-line: none;
}

footer {
  font-size: 1rem;
  border-top: 1px solid var(--bit-color-shadow);
  background: var(--color-footer-bg);
  color: var(--color-footer-fg);
  padding: 1rem;
  margin-top: 2rem;
}

p {
  margin: 1rem 0;
}

ul {
  padding-left: 1.25rem;
  list-style-type: disc;
}

ol {
  padding-left: 1.5rem;
}

.box-grid > * {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

code,
pre {
  font-family: var(--font-mono);
  font-size: 1rem;
  font-variant-ligatures: none;
}

code {
  --bit-color-fg: var(--color-code-bg);
  --bit-color-bg: var(--color-code-fg);
}

blockquote {
  border-left: 1px solid var(--bit-color-shadow);
  margin-left: 0;
  padding-left: 2rem;
  font-style: italic;
}

figure {
  margin: 1rem 0;
  color: var(--color-code-fg);
}

figure img {
  width: 100%;
  height: auto;
  border-radius: var(--bit-border-radius);
}

figure figcaption {
  font-weight: bold;
  font-size: 1rem;
}

.pixelated {
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.art-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  justify-content: space-between;
}

.art-container--frame {
  --padding: 1px;
  --inner-radius: calc(var(--bit-border-radius) - var(--padding));
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0;
  margin-bottom: 0.5rem;
}

.art-container--frame .bit-box {
  --bit-color-shadow: var(--color-fg);
}

.art-container--frame img {
  border-radius: var(--inner-radius);
}

.art-container--frame figcaption {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-auto {
  flex: auto;
}

.clearfix {
  clear: both;
}

.align-center {
  align-items: center;
}

.no-underline {
  text-decoration-line: none;
}

.mb0 {
  margin-bottom: 0;
}

.markdownIt-TOC a {
  text-decoration-line: none;
  line-height: 2;
}

:any-link:hover {
  text-decoration-line: underline;
}

.avatar {
  --radius: 9999px;
  display: flex;
  float: right;
  margin: 2rem;
  margin-top: 2rem;
  margin-right: 0;
  border-radius: var(--radius);
  transition: 500ms transform;
}

.avatar img {
  border-radius: calc(var(--radius) - 1px);
  background: var(--color-avatar-bg);
}

.bizarro .avatar {
  transform: scaleX(-1);
}

.post-date {
  margin-top: -1rem;
  margin-bottom: 1rem;
}

.print-only {
  display: none;
}

.grid-2 {
  display: grid;
  gap: 1rem;
}

.text-center {
  text-align: center;
}

.weight-normal {
  font-weight: normal;
}

.gap1 {
  gap: 0.25rem;
}
.gap2 {
  gap: 0.5rem;
}
.gap3 {
  gap: 1rem;
}

/* --- Page specific styles --- */

[data-page="resume"] .bit-table {
  --bit-table-padding-vertical: 0.5rem;
  --bit-table-padding-horizontal: 0.5rem;
}

[data-page="resume"] .bit-table a:not(:hover) {
  text-decoration-line: none;
}

/* --- Syntax highlighting --- */

.bit-auto pre {
  --c1: hsl(var(--hue-main) 5% 62%);
  --c2: hsl(var(--hue-alt) 80% 80%);
  --c3: hsl(var(--hue-orange) 80% 75%);
  --c4: hsl(var(--hue-yellow) 60% 60%);

  --comment: var(--c1);
  --punctuation: var(--c1);
  --string: var(--c2);
  --property: var(--c3);
  --operator: hsl(var(--hue-main) 60% 80%);
  --function: var(--c3);
  --keyword: var(--c4);

  --bit-color-fg: hsl(var(--hue-main) 60% 80%);
  --bit-color-bg: var(--color-syntax-bg);

  background: var(--bit-color-bg);
  color: var(--bit-color-fg);
}

.token.script {
  color: hsl(var(--hue-main) 60% 80%);
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--comment);
}

.token.punctuation {
  color: var(--punctuation);
}

.token.attr-value,
.token.selector,
.token.string,
.token.char,
.token.boolean,
.token.number,
.token.regex,
/* .token.builtin, */
.token.inserted {
  color: var(--string);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: var(--operator);
}

.token.atrule,
.token.function,
.token.class-name {
  color: var(--function);
}

.token.operator,
.token.tag {
  color: var(--keyword);
}

.token.keyword {
  color: var(--keyword);
}

.token.attr-name,
/* .token.property, */
.token.constant,
.token.symbol,
.token.deleted,
.token.important {
  color: var(--property);
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

/* --- Media queries --- */

@media (min-width: 600px) {
  header > *,
  footer > * {
    flex-direction: row;
    align-items: center;
  }

  nav {
    flex-direction: row;
    align-items: center;
    margin: 0 1rem;
  }
}

@media (min-width: 800px) {
  .avatar img {
    width: 160px;
    height: 160px;
  }

  header > *,
  footer > * {
    padding: 0 1rem;
  }

  .grid-2 {
    grid-template-columns: 1fr 1fr;
  }

  .art-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: space-between;
  }
}

@media (max-width: 800px) {
  body {
    font-size: 1.1rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}

@media (prefers-reduced-motion) {
  * {
    transition: none !important;
    animation: none !important;
  }
}
