:root {
  --bit-border-radius: 2px;
  --font-sans: -apple-system, BlinkMacSystemFont, "Avenir Next",
    "Helvetica Neue", Roboto, Noto, "Segoe UI", Ubuntu, sans-serif;
  --font-mono: "JetBrains Mono", "Fira Code", "Menlo", "Consolas", monospace;
  --content-width: 768px;
  overflow-y: scroll;
}

.bit-auto {
  --bit-color0: hsl(200, 20%, 20%);
  --bit-color1: hsl(200, 10%, 95%);
  --color-link: hsl(140, 100%, 26%);
  --color-header-bg: hsl(140, 80%, 26%);
  --color-header-fg: hsl(200, 10%, 95%);
  --color-syntax-bg: hsl(200, 20%, 15%);
  --color-syntax-fg: hsl(200, 10%, 95%);
  --color-code-bg: hsl(200, 10%, 86%);
  --color-code-fg: hsl(200, 20%, 15%);
}

@media (prefers-color-scheme: dark) {
  .bit-auto {
    --bit-color0: hsl(200, 10%, 80%);
    --bit-color1: hsl(200, 20%, 15%);
    --color-link: hsl(140, 60%, 60%);
    --color-header-bg: hsl(140, 80%, 26%);
    --color-header-fg: hsl(200, 10%, 95%);
    --color-syntax-bg: hsl(200, 20%, 10%);
    --color-syntax-fg: hsl(200, 10%, 95%);
    --color-code-bg: hsl(200, 20%, 10%);
    --color-code-fg: hsl(200, 10%, 95%);
  }
}

* {
  box-sizing: border-box;
}

body {
  /**
   * Setting font size on body rather than html so that 1rem can refer to the
   * user's specified font size anywhere in my CSS, rather than 1.25 times that
   * value; but this way most things get bumped up a little bigger, for a
   * slightly comfier to read site (since this is a blog, after all)
   */
  font-size: 1.25rem;
  font-family: var(--font-sans);
  line-height: 1.5;
  margin: 0 auto;
  min-height: 100vh;
}

main {
  flex: 1 1 auto;
  padding: 1rem;
  margin: 0 auto;
  max-width: var(--content-width);
}

h1 {
  margin-top: 1rem;
}

.bit-auto .markdownIt-Anchor {
  text-decoration: none;
}

/* @[toc] gets embedded inside a <p> which is invalid, so the HTML parser
 * creates an empty <p> tag on the page, which is weird. Even though it doesn't
 * ruin the layout right now, I'd still rather just hide it entirely.
 */
p:empty {
  display: none;
}

header {
  --bit-color0: var(--color-header-fg);
  --bit-color1: var(--color-header-bg);
  background: var(--bit-color1);
  color: var(--bit-color0);
  font-size: 1.25rem;
  padding: 1rem;
}

header > * {
  margin: 0 auto;
  max-width: var(--content-width);
  display: flex;
  flex-direction: column;
}

nav {
  margin-top: 1rem;
  display: flex;
}

.logo span {
  margin-right: 0.5rem;
  font-weight: bold;
}

.logo img {
  margin-right: 0.5rem;
  border-radius: 9999px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
}

.bit-auto nav a {
  --bit-color0: var(--color-header-fg);
  --bit-color1: var(--color-header-bg);
  text-decoration: none;
  padding: 0 0.5rem;
}

nav a + a {
  margin-left: 0.5rem;
}

footer {
  text-align: center;
  font-size: 1rem;
  border-top: var(--bit-border-width) dotted var(--bit-color0);
  padding: 1rem;
  margin-top: 1rem;
}

.bit-auto a {
  --bit-color0: var(--color-link);
}

ul {
  padding-left: 1.25rem;
  /* list-style-type: square; */
}

ol {
  padding-left: 1.5rem;
}

dt {
  font-weight: bold;
}

dt + dd {
  margin: 0;
  margin-bottom: 1rem;
}

code,
pre {
  font-family: var(--font-mono);
  font-size: 1rem;
  font-variant-ligatures: none;
}

.bit-auto code {
  --bit-color0: var(--color-code-bg);
  --bit-color1: var(--color-code-fg);
}

blockquote {
  margin-left: 0;
  padding-left: 2rem;
  font-style: italic;
}

figure {
  margin: 1rem 0;
  color: var(--color-code-fg);
}

figure img {
  width: 100%;
  height: auto;
  border-radius: var(--bit-border-radius);
}

figure figcaption {
  font-weight: bold;
  font-size: 1rem;
}

.art-container {
  --border-width: calc(3 * var(--bit-border-width));
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  justify-content: space-between;
}

.art-container__frame {
  border: var(--border-width) double var(--bit-color0);
  border-radius: var(--bit-border-radius);
  display: flex;
}

.art-container__frame > img {
  border-radius: 0;
}

.flex {
  display: flex;
}

.flex-auto {
  flex: 1 1 auto;
}

.clearfix {
  clear: both;
}

.align-center {
  align-items: center;
}

.teeny-sanguini {
  --img-scale: 2;
  width: calc(var(--img-scale) * 40px);
  height: calc(var(--img-scale) * 42px);
  float: right;
  margin-top: 1rem;
}

.post-date {
  margin-top: -1.5rem;
}

.print-only {
  display: none;
}

.grid-2 {
  display: grid;
  gap: 1rem;
}

.text-center {
  text-align: center;
}

@media (min-width: 600px) {
  header > * {
    flex-direction: row;
  }

  nav {
    flex-direction: row;
    align-items: center;
    margin: 0;
    margin-left: 1rem;
  }

  dl {
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 1rem;
    row-gap: 0.5rem;
  }

  dt {
    text-align: right;
  }

  dt + dd {
    margin: 0;
  }
}

@media (min-width: 800px) {
  .grid-2 {
    grid-template-columns: 1fr 1fr;
  }

  .art-container {
    grid-template-columns: repeat(2, calc(320px + 2 * var(--border-width)));
  }
}
