/**
 * Handy guide for Pygments cryptic CSS classes:
 * https://gist.github.com/scotu/1272660
 */

 .highlight {
  --bg: var(--color-syntax-bg);
  --fg: hsl(223, 31%, 93%);
  --green: hsl(158, 70%, 70%);
  --blue: hsl(223, 100%, 79%);
  --gray1: hsl(223, 31%, 90%);
  --gray2: hsl(223, 31%, 80%);
  --yellow: hsl(51, 80%, 65%);
  --orange: hsl(43, 80%, 65%);
}

.highlight pre {
  background: var(--bg);
  color: var(--fg);
  scrollbar-color: var(--fg) var(--bg);
}

/* .nt = Name tag */
/* .kd = Function */
/* .k = Keyword */
/* .kr = Keyword */
.highlight .nt,
.highlight .kd,
.highlight .k,
.highlight .kr {
  color: var(--green);
  font-weight: bold;
}

/* .nx = Normal */
.highlight .nx {
  color: var(--fg);
}

/* .na = Name attribute */
/* .nb = Name builtin */
/* .nn = Namespace */
.highlight .na,
.highlight .nb,
.highlight .nn {
  color: var(--fg);
}

/* .p = Punctuation */
/* .o = Operator */
/* .si = String interpolation */
.highlight .p,
.highlight .o,
.highlight .si,
.highlight .se {
  color: var(--gray2);
}

/* .s = String */
/* .s1 = String */
/* .s2 = String */
/* .sr = Regexp */
/* .si = String escape */
.highlight .s,
.highlight .s1,
.highlight .s2,
.highlight .sr,
.highlight .se {
  color: var(--yellow);
}

/* .no = Named constant */
/* .kc = Constant */
/* .kt = Type constant */
/* .py = Named property */
.highlight .no,
.highlight .kc,
.highlight .mi,
.highlight .kt,
.highlight .py {
  color: var(--gray1);
}

/* .mi = Number */
.highlight .mi {
  color: var(--orange);
}

/* .c = Comment */
/* .c1 = Comment */
/* .cm = Comment */
.highlight .c,
.highlight .c1,
.highlight .cm {
  color: var(--blue);
}
