---
title: "Page not found"
description: "404 error"
layout: "layout-base"
---

<h1>Page not found</h1>

<p>
  Please
  <a class="sage-link" href="/contact/">contact me</a>
  if you think I broke something on my site.
</p>

<a class="sage-button" href="/">
  Take me home
</a>
