---
title: "About me"
layout: "layout-base"
---

<article>
  <header>
    <h1>{{ title }}</h1>

    <p>
      <strong>See also:</strong> my <a href="/projects/">projects</a>, my
      <a href="/contact/">contact info</a> & <a href="/uses/">things I use</a>.
    </p>
  </header>

  <h2>Name and pronouns</h2>

  <p>
    My first name is
    <i>Sage</i>. My middle name is <i>Fennel</i>. My last name is
    <span tabindex="0" class="spoiler">Mock</span>. I prefer not to use my last
    name.
  </p>

  <p>
    My pronouns are
    <i>they/them/theirs.</i>
  </p>

  <p>
    I'm known universally as
    <i>wavebeem</i>
    online. You may call me
    <i>wavebeem</i>
    on the internet, especially in gaming contexts, but I prefer Sage. Please do
    not capitalize
    <i>wavebeem</i>.
  </p>

  <p>
    My legal name is currently
    <span tabindex="0" class="spoiler">Brian Mock</span>. Please avoid this name
    unless legally required to use it.
  </p>

  <h2>Preferred terms</h2>

  <p>
    I do not use honorifics such as Mr, Ms, or Mx. I prefer gender neutral terms
    when possible. Otherwise be creative, or use a feminine term. For example, I
    would prefer
    <q>Queen Sage</q>
    to
    <q>King Sage</q>, but <q>Your Highness</q>
    is better.
  </p>
</article>
