---
title: "About this site"
description: "About wavebeem.com"
layout: "layout-base"
---

<h1>{{ title }}</h1>

<p>Read more about this site and how it was built. Also known as a colophon.</p>

<h2>Made with...</h2>

<p class="sage-well">
  <a href="https://code.visualstudio.com/" class="sage-link">Visual Studio Code</a>, a fantastic code editor.
</p>

<p class="sage-well">
  <a href="https://www.aseprite.org/" class="sage-link">Aseprite</a>, a 
  brilliant pixel art editor.
</p>

<p class="sage-well">
  <a href="https://www.netlify.com/" class="sage-link">Netlify</a>, my favorite 
  web host.
</p>

<p class="sage-well">
  <a href="https://www.11ty.dev/" class="sage-link">Eleventy</a>, a slick and 
  quick static site generator.
</p>

<p class="sage-well">
  <a href="https://github.com/wavebeem/wavebeem.com" class="sage-link">GitHub</a>, the ubiquitous git host.
</p>

<p class="sage-well">
  <a href="https://css-generators.com/wavy-shapes/" class="sage-link">CSS Generators</a>, a fantastic generator for CSS patterns by
  <a href="https://css-articles.com/" class="sage-link">Temani Afif</a>
</p>

<p class="sage-well">
  <a href="https://affinity.serif.com/en-us/designer/" class="sage-link">Affinity Designer</a>, a powerful vector art editor used for my favicon and OpenGraph image.
</p>

<p class="sage-well">
  <a href="https://oklch.com" class="sage-link">OKLCH Color Picker & Converter</a>, my favorite way to choose new colors.
</p>

<h2>Featuring...</h2>

<p class="sage-well">
  <b class="font-heading demo-font">PP Agrandir</b><br/>
  <a href="https://pangrampangram.com/products/agrandir" class="sage-link">PP Agrandir</a>, a font family by Alex Slobzheninov for Pangram Pangram&reg; Foundry.
</p>

<p class="sage-well">
  <a class="font-heading demo-font">PP Object Sans</a><br/>
  <a href="https://pangrampangram.com/products/object-sans" class="sage-link">PP Object Sans</a>, a font family by Alex Slobzheninov for Pangram Pangram&reg; Foundry.
</p>

<p class="sage-well">
  <a class="font-logo demo-font">Ultra Hi-Gloss</a><br/>
  <a href="https://www.froyotam.info/ultrahi-gloss" class="sage-link">Ultra Hi-Gloss</a>, a font by Froyo Tam.
</p>

<p class="sage-well">
  <a class="font-mono demo-font">JetBrains Mono</a><br/>
  <a href="https://www.jetbrains.com/lp/mono/" class="sage-link">JetBrains Mono</a>, a font family by Philipp Nurullin and others at JetBrains.
</p>

<p class="sage-well">
  <a href="https://dystthedragon.itch.io/distype" class="sage-link">Distype HyperBold</a>, a font by by DystTheDragon.
</p>

<p class="sage-well">
  <a href="https://plausible.io/" class="sage-link">Plausible Analytics</a>, 
  simple and privacy focused analytics.
</p>
