---
title: "Blog"
layout: "layout-base"
permalink: "/blog/"
css:
  - "blog"
---

<h1 class="sage-bright">{{ title }}</h1>

<p>
  Subscribe via my <a class="sage-link" href="/feed.xml">RSS feed</a> to stay
  updated.
</p>

<h2 class="sage-bright">Browse by tag</h2>

<ul class="tag-list">
  {% for tag in collections.all | getAllTags | sort | filterTagList %}
  <li>
    <a href="/blog/tags/{{ tag }}/" class="sage-link">{{ tag }}</a>
  </li>
  {% endfor %}
</ul>

<h2 class="sage-bright">All posts</h2>

<div class="post-list">
  {% for post in collections.post | reverse %}
  <section class="post-list--post sage-well">
    <h2 class="sage-bright">
      <a class="sage-link no-underline" href="{{ post.url }}">
        {{ post.data.title }}
      </a>
    </h2>

    <p>
      {{ post.data.description }}
    </p>

    <time
      datetime="{{ post.date | formatDate('yyyy-mm-dd') }}"
      >{{ post.date | formatDate('yyyy mmmm d') }}</time
    >
  </section>
  {% endfor %}
</div>

{{ content | safe }}
