---
title: "Contact"
description: "Where to find me around the internet."
layout: "layout-base"
---

<h1>{{ title }}</h1>

<p>{{ description }}</p>

<div class="sage-well">
  <dl class="sage-dl">
    <dt>Email</dt>
    <dd class="arrow-before">
      <a href="mailto:sage@wavebeem.com" class="sage-link no-underline"
        >sage@wavebeem.com</a
      >
    </dd>

    <dt>Discord</dt>
    <dd class="arrow-before">
      <a
        href="https://discordapp.com/users/85098165748908032"
        class="sage-link no-underline"
        >@wavebeem</a
      >
    </dd>

    <dt>Mastodon</dt>
    <dd class="arrow-before">
      <a
        rel="me"
        href="https://toot.community/@wavebeem"
        class="sage-link no-underline"
        >@wavebeem<wbr />@toot.community</a
      >
    </dd>

    <dt>Bluesky</dt>
    <dd class="arrow-before">
      <a
        href="https://bsky.app/profile/wavebeem.com"
        class="sage-link no-underline"
        >@wavebeem.com</a
      >
    </dd>

    <dt>GitHub</dt>
    <dd class="arrow-before">
      <a href="https://github.com/wavebeem/" class="sage-link no-underline"
        >@wavebeem</a
      >
    </dd>

    <dt>Steam</dt>
    <dd class="arrow-before">
      <a
        href="https://steamcommunity.com/id/wavebeem/"
        class="sage-link no-underline"
        >wavebeem</a
      >
    </dd>

    <dt>Backloggd</dt>
    <dd class="arrow-before">
      <a
        href="https://www.backloggd.com/u/wavebeem/"
        class="sage-link no-underline"
        >@wavebeem</a
      >
    </dd>
  </dl>
</div>
