---
title: "Credits"
description: "About wavebeem.com"
layout: "layout-base"
---

<h1>{{ title }}</h1>

<p>
  Read more about this site and how it was built. Also known as a colophon.
  <a href="https://github.com/wavebeem/wavebeem.com" class="sage-link"
    >Source code</a
  >
  available.
</p>

<h2>Made with...</h2>

<dl class="sage-well sage-dl">
  <dt>
    <a href="https://code.visualstudio.com/" class="sage-link"
      >Visual Studio Code</a
    >
  </dt>
  <dd>A fantastic code editor.</dd>

  <dt>
    <a href="https://www.aseprite.org/" class="sage-link">Aseprite</a>
  </dt>
  <dd>Aseprite, a brilliant pixel art editor.</dd>

  <dt>
    <a href="https://www.netlify.com/" class="sage-link">Netlify</a>
  </dt>
  <dd>My favorite web host.</dd>

  <dt>
    <a href="https://www.11ty.dev/" class="sage-link">Eleventy</a>
  </dt>
  <dd>A slick and quick static site generator.</dd>

  <dt>
    <a href="https://github.com/wavebeem/wavebeem.com" class="sage-link"
      >GitHub</a
    >
  </dt>
  <dd>The ubiquitous git host.</dd>

  <dt>
    <a href="https://css-generators.com/wavy-shapes/" class="sage-link"
      >CSS Generators</a
    >
  </dt>
  <dd>
    A fantastic generator for CSS patterns by
    <a href="https://css-articles.com/" class="sage-link">Temani Afif</a>.
  </dd>

  <dt>
    <a href="https://affinity.serif.com/en-us/designer/" class="sage-link"
      >Affinity Designer</a
    >
  </dt>
  <dd>A powerful vector art editor used for my favicon and OpenGraph image.</dd>

  <dt>
    <a href="https://github.com/microsoft/fluentui-emoji" class="sage-link"
      >Fluent Emoji</a
    >
  </dt>
  <dd>My favorite emoji set. Made by Microsoft and MIT licensed.</dd>

  <dt>
    <a href="https://oklch.com" class="sage-link"
      >OKLCH Color Picker & Converter</a
    >
  </dt>
  <dd>My favorite way to choose new colors.</dd>
</dl>

<h2>Featuring...</h2>

<dl class="sage-well sage-dl">
  <dt>
    <a href="https://fonts.google.com/specimen/Montserrat+Alternates" class="sage-link"
      >Montserrat Alternates</a
    >
  </dt>
  <dd>
    A quirky variant of Monsterrat by Julieta Ulanovsky, Sol Matas, Juan Pablo del Peral, and Jacques Le Bailly. Used for headings.
  </dd>

  <dt>
    <a href="https://pangrampangram.com/products/object-sans" class="sage-link"
      >PP Object Sans</a
    >
  </dt>
  <dd>
    A fun and readable font family by Alex Slobzheninov for Pangram Pangram&reg;
    Foundry. Used for body text.
  </dd>

  <dt>
    <a href="https://www.froyotam.info/ultrahi-gloss" class="sage-link"
      >Ultra Hi-Gloss</a
    >
  </dt>
  <dd>An incredible font by Froyo Tam. Used for my logo.</dd>

  <dt>
    <a href="https://www.jetbrains.com/lp/mono/" class="sage-link"
      >JetBrains Mono</a
    >
  </dt>
  <dd>
    A legendary monospace font by Philipp Nurullin and others at JetBrains. Used for code samples.
  </dd>

  <dt>
    <a href="https://dystthedragon.itch.io/distype" class="sage-link"
      >Distype HyperBold</a
    >
  </dt>
  <dd>A chunky and cool pixel font by DystTheDragon. Used for my 88&times;31 site button.</dd>

  <dt>
    <a href="https://plausible.io/" class="sage-link">Plausible Analytics</a>
  </dt>
  <dd>A simple and privacy focused analytics system.</dd>
</dl>
