---
layout: "layout-base"
title: >-
  Design history
description: >-
  A visual overview of the various designs I've made for this website.
---

<article>
  <header>
    <h1>{{ title }}</h1>
    <p>{{ description }}</p>
  </header>

  <h2>I'm notorious for redesigning my website</h2>

  <p>
    Rather than be ashamed of this tendency, I'm trying to embrace it. Welcome
    to my gallery of page designs. I hope you enjoy looking at them as much as I
    made them.
  </p>

  <h2>2025</h2>

  <p>TODO</p>

  <!-- <figure>
    <img src="????" alt="" />
    <figcaption>2025</figcaption>
  </figure> -->

  <h2>2024</h2>

  <figure>
    <img
      src="/design-history/site2024f.webp"
      width="2560"
      height="4184"
      loading="lazy"
      alt=""
    />
    <figcaption>2024</figcaption>
  </figure>

  <figure>
    <img
      src="/design-history/site2024e.webp"
      width="2560"
      height="4664"
      loading="lazy"
      alt=""
    />
    <figcaption>2024</figcaption>
  </figure>

  <figure>
    <img
      src="/design-history/site2024d.webp"
      width="1280"
      height="1841"
      loading="lazy"
      alt=""
    />
    <figcaption>2024</figcaption>
  </figure>

  <figure>
    <img
      src="/design-history/site2024c.webp"
      width="1280"
      height="1841"
      loading="lazy"
      alt=""
    />
    <figcaption>2024</figcaption>
  </figure>

  <figure>
    <img
      src="/design-history/site2024b.webp"
      width="1280"
      height="1290"
      loading="lazy"
      alt=""
    />
    <figcaption>2024</figcaption>
  </figure>

  <figure>
    <img
      src="/design-history/site2024a.webp"
      width="1280"
      height="1389"
      loading="lazy"
      alt=""
    />
    <figcaption>2024</figcaption>
  </figure>

  <h2>2023</h2>

  <figure>
    <img
      src="/design-history/site2023.webp"
      width="1280"
      height="1396"
      loading="lazy"
      alt=""
    />
    <figcaption>2023</figcaption>
  </figure>

  <h2>2022</h2>

  <figure>
    <img
      src="/design-history/site2022.webp"
      width="1280"
      height="1369"
      loading="lazy"
      alt=""
    />
    <figcaption>2022</figcaption>
  </figure>

  <h2>2021</h2>

  <figure>
    <img
      src="/design-history/site2021.webp"
      width="1280"
      height="804"
      loading="lazy"
      alt=""
    />
    <figcaption>2021</figcaption>
  </figure>

  <h2>2020</h2>

  <figure>
    <img
      src="/design-history/site2020.webp"
      width="1280"
      height="800"
      loading="lazy"
      alt=""
    />
    <figcaption>2020</figcaption>
  </figure>

  <h2>2018</h2>

  <figure>
    <img
      src="/design-history/site2018.webp"
      width="1280"
      height="1166"
      loading="lazy"
      alt=""
    />
    <figcaption>2018</figcaption>
  </figure>

  <h2>2017</h2>

  <figure>
    <img
      src="/design-history/site2017.webp"
      width="1280"
      height="1054"
      loading="lazy"
      alt=""
    />
    <figcaption>2017</figcaption>
  </figure>

  <h2>2016</h2>

  <figure>
    <img
      src="/design-history/site2016.webp"
      width="1280"
      height="917"
      loading="lazy"
      alt=""
    />
    <figcaption>2016</figcaption>
  </figure>

  <h2>2015</h2>

  <figure>
    <img
      src="/design-history/site2015.webp"
      width="1280"
      height="1437"
      loading="lazy"
      alt=""
    />
    <figcaption>2015</figcaption>
  </figure>

  <h2>2014</h2>

  <figure>
    <img
      src="/design-history/site2014.webp"
      width="1280"
      height="1437"
      loading="lazy"
      alt=""
    />
    <figcaption>2014</figcaption>
  </figure>

  <h2>2013</h2>

  <figure>
    <img
      src="/design-history/site2013.webp"
      width="1280"
      height="1230"
      loading="lazy"
      alt=""
    />
    <figcaption>2013</figcaption>
  </figure>
</article>
