---
title: "Drafts"
layout: "layout-base"
---

<h1>Drafts</h1>

<h2>All drafts</h2>

<div class="post-list">
  {% for post in collections.draft reversed %}
    <section class="post-list--post">
      <h3>
        <a href="{{ post.url }}">
          {{ post.data.title | escape }}
        </a>
      </h3>
      <p>
        {{ post.data.description | escape }}
      </p>
      {% render "partials/date" date: post.date %}
    </section>
{% endfor %}
</div>

{{ content }}
