---
title: "Home"
description: "Sage's website"
layout: "layout-base"
---
<script type="module" src="/elements/wavebeem-easter-egg.mjs"></script>

<article class="page">
  <header>
    <wavebeem-easter-egg class="avatar">
      <img
        alt=""
        src="photo.webp"
        width="800"
        height="800"
      />
    </wavebeem-easter-egg>

    <h1>Hello!</h1>

    <p>
      I'm
      <a href="/about/"><strong>Sage</strong></a>
      (they/them), aka
      <q>wavebeem</q>.
    </p>

    <p>
      I'm a video game obsessed web developer and an official representative of the color green. Read more
      <a href="/about/">about me</a>.
    </p>

    <div class="clearfix"></div>
  </header>

  <section class="page-body">
    <h2>Recent posts</h2>

    {% assign top3 = collections.posts | reverse | take: 3 %}
    {% for post in top3 %}
      <article class="card">
        <header>
          <h3>
            <a href="{{ post.url }}">
              {{ post.data.title | escape }}
            </a>
          </h3>
          <small>{% render 'partials/date', date: post.date %}</small>
        </header>
        <p>{{ post.data.description | markdownify }}</p>
      </article>
    {% endfor %}

    <p><a href="/blog/">More blog posts</a> &rarr;</p>

    <h2>Featured art</h2>

    <div class="grid2">
      <figure>
        <img src="./art/img/2025-04-13-dedenne.webp" width="2048" height="2048" />
      </figure>
      <figure>
        <img src="./art/img/2020-06-14-teeny-sanguini.webp" width="640" height="640" />
      </figure>
      <figure>
        <img src="./art/img/2024-04-02-orc-awooga.webp" width="1280" height="1280" />
      </figure>
      <figure>
        <img src="./art/img/2024-06-28-elephant.webp" width="800" height="800" />
      </figure>
    </div>

    <p><a href="/art/">More art</a> &rarr;</p>
  </section>
</article>
