---
title: "Links"
description: >-
  A collection of links to sites I have liked. Links are in alphabetical order.
  Remind me to organize them later.
layout: "layout-base"
---

<h1>{{ title }}</h1>

<p>{{ description }}</p>

<div class="clicky-list">
  {% for link in coolLinks.allLinks %}
  <div class="link-card">
    <a href="{{ link.url }}" class="sage-link">{{ link.title }}</a>
  </div>
  {% endfor %}
</div>

<h2>Embed my site button</h2>

<p>
  <img
    class="site-button"
    src="/button.webp"
    width="88"
    height="31"
    alt="wavebeem.com"
    title="wavebeem.com"
  />
</p>

<div>
  <pre>
&lt;a href="https://wavebeem.com"&gt;
  &lt;img
    width="88"
    height="31"
    alt="wavebeem.com"
    title="wavebeem.com"
    src="https://wavebeem.com/button.webp"
    style="image-rendering: pixelated;"
  /&gt;
&lt;/a&gt;</pre
  >
</div>
