---
title: "Cool links"
description: "A collection of links to sites I like."
layout: "layout-base"
css:
  - "links"
---

<h1 class="sage-bright">{{ title }}</h1>

<p>{{ description }}</p>

<h2 class="sage-bright">Embed my site button</h2>

<details>
  <summary class="read-more sage-button">Show instructions</summary>
  <div class="flex flex-column gap3">
    <div class="grid2">
      <div class="mode-light">
        <img
          class="site-button"
          src="/button.gif"
          width="88"
          height="31"
          alt="wavebeem.com"
        />
      </div>
      <div class="mode-dark">
        <img
          class="site-button"
          src="/button.gif"
          width="88"
          height="31"
          alt="wavebeem.com"
        />
      </div>
    </div>
    <pre class="grid-full margin0 sage-well">
&lt;a href="https://wavebeem.com"&gt;
  &lt;img
    width="88"
    height="31"
    alt="wavebeem.com"
    title="wavebeem.com"
    src="https://wavebeem.com/button.gif"
    style="image-rendering: pixelated;"
  /&gt;
&lt;/a&gt;</pre
    >
  </div>
</details>

<p>
  Please email me if I'm missing your site button or it needs to be updated.
  Site button links are also displayed in text form below. All links are in
  alphabetical order.
</p>

<h2 class="sage-bright">Site button links</h2>

<div class="site-button--grid">
  {% for siteButton in coolLinks.siteButtons %}
  <a class="site-button--link sage-link" href="{{ siteButton.mainUrl }}">
    <img
      src="{{ siteButton.localUrl }}"
      alt="{{ siteButton.title }}"
      title="{{ siteButton.title }}"
      class="site-button--image"
      width="88"
      height="31"
    />
  </a>
  {% endfor %}
</div>

<h2 class="sage-bright">All links</h2>

<div class="grid2">
  {% for link in coolLinks.allLinks %}
  <a class="link-card" href="{{ link.url }}">{{ link.title }}</a>
  {% endfor %}
</div>
