---
permalink: "main.css"
---

:root,
:root[data-theme="light"] { {% for key, val in colors.light %}
  --{{key}}: {{ val }};{% endfor %}
}

:root[data-theme="dark"] { {% for key, val in colors.dark %}
  --{{key}}: {{ val }};{% endfor %}
}

@media (prefers-color-scheme: dark) {
  :root { {% for key, val in colors.dark %}
    --{{key}}: {{ val }};{% endfor %}
  }
}

{% include "./static/global.css" %}
