---
title: "My names"
layout: "layout-base"
---

<h1>{{ title }}</h1>

<h2>Sage Fennel</h2>

<p>
  My first name is
  <i>Sage</i>. My middle name is
  <i>Fennel</i>. My last name is
  <span tabindex="0" class="spoiler">Mock</span>. I prefer not to use my last name.
</p>

<h2>Pronouns</h2>

<p>My pronouns are
  <i>they/them/theirs.</i>
</p>

<h2>wavebeem</h2>

<p>
  I'm known universally as
  <i>wavebeem</i>
  online. You may call me
  <i>wavebeem</i>
  on the internet, especially in gaming contexts, but I prefer Sage. Please do not capitalize
  <i>wavebeem</i>.
</p>

<h2>Legal name</h2>

<p>
  My legal name is currently
  <span tabindex="0" class="spoiler">Brian Mock</span>. Please avoid this name unless legally required to use it.
</p>

<h2>Other terms</h2>

<p>
  I do not use honorifics such as Mr, Ms, or Mx. I prefer gender neutral terms
 


























  when possible. Otherwise be creative, or use a feminine term. For example, I
  would prefer
  <q>Queen Sage</q>
  to
  <q>King Sage</q>, but
  <q>Your Highness</q>,
  <q>The Royal Sage</q>, and
  <q>monarch</q>
  are better.
</p>
