---
title: "Projects"
description: "Information about side projects I've created."
layout: "layout-base"
---

<h1>{{ title }}</h1>

<p>{{ description }}</p>

<h2>My favorites</h2>

<article>
  <header>
    <h3>
      <a href="https://www.pkmn.help">Pokémon Type Calculator</a>
    </h3>
  </header>
  <p>A Pokémon web app with thousands of monthly users.</p>
</article>

<article>
  <header>
    <h3>
      <a href="https://candy.wavebeem.com">candy.css</a>
    </h3>
  </header>
  <p>A CSS library inspired by glossy Web 2.0 aesthetics.</p>
</article>

<article>
  <header>
    <h3>
      <a href="https://color-combos.wavebeem.com">Color Combos</a>
    </h3>
  </header>
  <p>A site to check contrast levels for color combinations.</p>
</article>

<article>
  <header>
    <h3>
      <a href="https://marketplace.visualstudio.com/publishers/wavebeem"
        >VS Code themes</a
      >
    </h3>
  </header>

  <p>I've created over a dozen themes to suit my tastes since 2017.</p>
</article>

<article>
  <header>
    <h3>
      <a href="https://netpet.wavebeem.com/">netpet</a>
    </h3>
  </header>
  <p>
    A Tamagotchi-like virtual pet using 100% web platform technologies and no
    build tools.
  </p>
</article>

<article>
  <header>
    <h3>
      <a href="https://jpeg.wavebeem.com/">the jpeg zone</a>
    </h3>
  </header>
  <p>
    A website for making
    <q>deep fried</q>
    memes using extreme JPEG compression.
  </p>
</article>

<h2>Even more projects</h2>

<article>
  <header>
    <h3>
      <a href="https://2bit-ui.wavebeem.com">2bit-ui</a>
    </h3>
  </header>
  <p>A CSS library inspired by the Game Boy Color.</p>
</article>

<article>
  <header>
    <h3>
      <a href="https://kaomoji.wavebeem.com">Kaomoji Picker</a>
    </h3>
  </header>
  <p>
    A site to quickly copy kaomoji to your clipboard
    <span aria-hidden="true">ლ(╹◡╹ლ)</span>.
  </p>
</article>

<article>
  <header>
    <h3>
      <a href="https://bread-n-butter.wavebeem.com/">bread-n-butter</a>
    </h3>
  </header>
  <p>
    A TypeScript parser combinators library, intended as a successor to
    parsimmon.
  </p>
</article>

<article>
  <header>
    <h3>
      <a href="https://codehost.wavebeem.com/">codehost</a>
    </h3>
  </header>
  <p>
    A code syntax highlighting tool for writing blog posts with code samples on
    <a href="https://cohost.org">cohost</a>.
  </p>
</article>

<article>
  <header>
    <h3>
      <a href="https://www.npmjs.com/package/show-colors">show-colors</a>
    </h3>
  </header>
  <p>
    Run <code>npx show-colors</code>
    to use this npm package to see your terminal color scheme.
  </p>
</article>

<article>
  <header>
    <h3>
      <a href="https://www.npmjs.com/package/img-cat">img-cat</a>
    </h3>
  </header>
  <p>
    Run <code>npx img-cat</code>
    to use this npm package to show pixel art in your terminal.
  </p>
</article>
