---
title: "Projects"
description: "Information about side projects I've created."
layout: "layout-base"
pageName: "projects"
---

<h1>{{ title }}</h1>

<p>{{ description }}</p>

<h2>My favorites</h2>

<div class="grid2">
  <section class="sage-well">
    <h3 class="arrow-before">
      <a class="sage-link no-underline" href="https://www.pkmn.help"
        >Pokémon Type Calculator</a
      >
    </h3>
    <p>A Pokémon web app with thousands of monthly users.</p>
  </section>

  <section class="sage-well">
    <h3 class="arrow-before">
      <a class="sage-link no-underline" href="https://candy.wavebeem.com"
        >candy.css</a
      >
    </h3>
    <p>A CSS library inspired by glossy Web 2.0 aesthetics.</p>
  </section>

  <section class="sage-well">
    <h3 class="arrow-before">
      <a class="sage-link no-underline" href="https://color-combos.wavebeem.com"
        >Color Combos</a
      >
    </h3>
    <p>A site to check contrast levels for color combinations.</p>
  </section>

  <section class="sage-well">
    <h3 class="arrow-before">
      <a
        class="sage-link no-underline"
        href="https://marketplace.visualstudio.com/publishers/wavebeem"
        >VS Code themes</a
      >
    </h3>
    <p>I've created over a dozen themes to suit my tastes since 2017.</p>
  </section>

  <section class="sage-well">
    <h3 class="arrow-before">
      <a class="sage-link no-underline" href="https://netpet.wavebeem.com/"
        >netpet</a
      >
    </h3>
    <p>
      A Tamagotchi-like virtual pet using 100% web platform technologies and no
      build tools.
    </p>
  </section>

  <section class="sage-well">
    <h3 class="arrow-before">
      <a class="sage-link no-underline" href="https://jpeg.wavebeem.com/"
        >the jpeg zone</a
      >
    </h3>
    <p>
      A website for making
      <q>deep fried</q>
      memes using extreme JPEG compression.
    </p>
  </section>
</div>

<h2>Even more projects</h2>

<div class="grid2">
  <section class="sage-well">
    <h3 class="arrow-before">
      <a class="sage-link no-underline" href="https://2bit-ui.wavebeem.com"
        >2bit-ui</a
      >
    </h3>
    <p>A CSS library inspired by the Game Boy Color.</p>
  </section>

  <section class="sage-well">
    <h3 class="arrow-before">
      <a class="sage-link no-underline" href="https://kaomoji.wavebeem.com"
        >Kaomoji Picker</a
      >
    </h3>
    <p>
      A site to quickly copy kaomoji to your clipboard
      <span aria-hidden="true">ლ(╹◡╹ლ)</span>.
    </p>
  </section>

  <section class="sage-well">
    <h3 class="arrow-before">
      <a
        class="sage-link no-underline"
        href="https://bread-n-butter.wavebeem.com/"
        >bread-n-butter</a
      >
    </h3>
    <p>
      A TypeScript parser combinators library, intended as a successor to
      parsimmon.
    </p>
  </section>

  <section class="sage-well">
    <h3 class="arrow-before">
      <a class="sage-link no-underline" href="https://codehost.wavebeem.com/"
        >codehost</a
      >
    </h3>
    <p>
      A code syntax highlighting tool for writing blog posts with code samples
      on
      <a class="sage-link" href="https://cohost.org">cohost</a>.
    </p>
  </section>

  <section class="sage-well">
    <h3 class="arrow-before">
      <a
        class="sage-link no-underline"
        href="https://www.npmjs.com/package/show-colors"
        >show-colors</a
      >
    </h3>
    <p>
      Run <code>npx show-colors</code>
      to use this npm package to see your terminal color scheme.
    </p>
  </section>

  <section class="sage-well">
    <h3 class="arrow-before">
      <a
        class="sage-link no-underline"
        href="https://www.npmjs.com/package/img-cat"
        >img-cat</a
      >
    </h3>
    <p>
      Run <code>npx img-cat</code>
      to use this npm package to show pixel art in your terminal.
    </p>
  </section>
</div>
