---
title: "Shrines"
description: "A collection of decorative shrines based on things I like."
layout: "layout-base"
---

<h1>{{ title }}</h1>

<p>{{ description }}</p>

<h2>UNDER CONSTRUCTION</h2>

<p>Please check back later.</p>

<!--
* Etrian Odyssey
* Shin Megami Tensei
* Dragon Quest
* Pokemon
* Castlevania
* Metroid
* Cards
-->
