---
pagination:
  data: "collections"
  size: 1
  alias: "tag"
  filter:
    - "all"
    - "post"
    - "posts"
    - "tagList"
  addAllPagesToCollections: true
layout: "layout-base"
eleventyComputed:
  title: "Tagged “{{ tag }}”"
permalink: "/blog/tags/{{ tag }}/"
css:
  - "blog"
---


<h1 class="sage-bright">Posts tagged #{{ tag }}</h1>

<div class="post-list">
  {% for post in collections | getPostsByTag(tag) | reverse %}
  <section class="post-list--post sage-well">
    <h2 class="sage-bright">
      <a class="sage-link no-underline" href="{{ post.url }}">
        {{ post.data.title }}
      </a>
    </h2>

    <p>
      {{ post.data.description }}
    </p>

    <time
      datetime="{{ post.date | formatDate('yyyy-mm-dd') }}"
      >{{ post.date | formatDate('yyyy mmmm d') }}</time
    >
  </section>
  {% endfor %}
</div>
