---
title: "Theme"
description: "Theme | wavebeem.com"
layout: "layout-base"
permalink: "theme.html"
css:
  - "theme"
---

<h1 class="sage-bright">
  {{ title }}
</h1>

<h2 class="sage-bright">Light</h2>

<div class="theme-properties sage-well" data-theme="light">
  {% for name, value in colors.light %}
  <div class="theme-properties--color" style="--color: {{ value }}"></div>
  <div class="theme-properties--value"><code>{{ value }}</code></div>
  <div class="theme-properties--name"><code>{{ name }}</code></div>
  {% endfor %}
</div>

<!-- <h2 class="sage-bright">Dark</h2>

<div class="theme-properties sage-well" data-theme="dark">
  {% for name, value in colors.dark %}
  <div class="theme-properties--color" style="--color: {{ value }}"></div>
  <div class="theme-properties--value"><code>{{ value }}</code></div>
  <div class="theme-properties--name"><code>{{ name }}</code></div>
  {% endfor %}
</div> -->
