---
title: "Things I use"
layout: "layout-base"
---

<h1>{{ title }}</h1>

<p>
  A list of things I use and why I like them (or why I don't). Press the name of 
  any section to reveal my thoughts. Some sections have a lot of detail, so I
  collapsed them all by default.
</p>

<h2>Keyboards</h2>

<div class="flex flex-column gap3">
  <div class="sage-well">
    <details>
      <summary>
        <i>Helix split keyboard (64 keys)</i>
      </summary>
      <p>
        I use a
        <a href="https://github.com/MakotoKurauchi/helix" class="sage-link">Helix keyboard</a>
        that I built myself using a kit from
        <a href="https://www.littlekeyboards.com/" class="sage-link">
          Little Keyboards</a>.
      </p>

      <p>
        The split form factor makes a notable difference in shoulder tension 
        based on my arm placement and the stress accumulated through the day.
        Technically I use a 50% Helix (including the number row), but I learned
        how to type on 40% keyboards (no number row) already, so I mostly use
        the numbers as gaming shortcuts rather than for typing numbers or
        symbols.
      </p>

      <p>
        The board is hot swap and I'm currently using
        <a href="https://thekey.company/products/tangerine-switches?variant=40072888025177" class="sage-link">
          Tangerine switches
        </a>
        (62g) from TheKey.Company. I'm a huge fan of linear switches for both 
        gaming and typing. I like a medium weight, around 62g seems to be ideal
        :)
      </p>

      <p>
        For keycaps I have the long awaited DSA KeroKeroKeys, which are 
        extremely green and frog themed. The frog-child within me is thrilled,
        and my green-loving side is quite happy as well. I only use DSA profile
        keycaps because I think they're both more comfortable to type on and
        easier to use effectively on a keyboard with such a weird layout.
      </p>
    </details>
  </div>
</div>

<h2>Mice</h2>

<div class="flex flex-column gap3">
  <div class="sage-well">
    <details>
      <summary>
        <i>Lamzu Atlantis OG V2 Pro</i>
      </summary>
      <p>
        I'm a total freak about mice. I love buying and trying mice. The first 
        gaming mouse I loved was the Logitech MX518, and it's a far cry from
        what I go for these days. I think my grip style would be classified as
        "relaxed claw grip", because I don't like scrunching up my index/middle
        fingers super hard near the top of the mouse, but I also don't put a lot
        of my upper palm on the mouse. I usually touch the mouse with the right
        side of my upper palm. I like when the rear of the mouse fits snugly
        into the base of my palm. I refuse to click the mouse wheel with my
        finger tip, opting for hitting it with the pad of my index finger.
      </p>

      <p>
        Anyways, so right now I'm alternating between the
        <a href="https://lamzu.com/products/lamzu-atlantis-og-v2-pro-gaming-mouse" class="sage-link">
          Lamzu Atlantis OG V2 PRO
        </a>
        in matcha green and the
        <a href="https://www.pulsar.gg/products/x2h-gaming-mouse?_pos=2&_sid=f0fdbd7b9&_ss=r&variant=44194583576830" class="sage-link">
          Pulsar X2H
        </a>
        in white.
      </p>

      <p>
        Both mice have substantial rear-ends that my lower palm can grip 
        comfortably. The Atlantis has amazing angled side walls that make
        lifting the mouse extremely easy. Though the Atlantis has an inferior
        coating, being somewhat slippery when the mouse is cold. The scroll
        wheel click is nicer on the Atlantis (softer), but the X2H has better
        scroll wheel step definition. The X2H has the largest rump of any mouse
        I've used, which really forces you into a nice claw grip. It freaked me
        out so bad that I almost returned the mouse initially, but it's grown on
        me a lot.
      </p>

      <p>
        I find it really hard to decide which to keep using, and unfortunately I 
        go back and forth between mice a lot...
      </p>

      <p>
        Honorable mention to the
        <a href="https://lamzu.com/products/lamzu-thorn-gaming-mouse" class="sage-link">
          Lamzu Thorn</a>, the
        <a href="https://www.pulsar.gg/products/x2?variant=44194567323902" class="sage-link">
          Pulsar X2V1</a>, and the
        <a href="https://www.razer.com/gaming-mice/razer-viper-v3-pro" class="sage-link">
          Razer Viper V3 Pro</a>.
      </p>

      <p>
        The Thorn is the best ergonomic mouse I've used, but the extremely round 
        shape and strange coating can make it a little unwieldy when the mouse
        is cold. It actually grips really nicely when it warms up, which is
        weird to say! Also it's using Razer's optical switches which don't feel
        very good and sound extremely loud in this mouse.
      </p>

      <p>
        The X2V1 is the mouse that made me realize how fun a relaxed claw grip 
        can feel. I don't have especially large hands, but gaming mice have been
        trending down in size for a while now. It's great to have lighter weight
        mice, but I feel like palm grip has suffered because of this. This was
        my first ultra lightweight mouse, and my first wireless gaming mouse,
        and I'm a total convert to both now. Mouse tech has advanced so much in
        the past 5 years or so.
      </p>

      <p>
        The Viper V3 Pro has a pretty inoffensive shape that's good at many 
        styles while being great at none, in my opinion. But I love Razer's
        signature "deep dish" indendentations that lock in your grip at a
        comfortable wide set angle, and the coating is nice.
      </p>
    </details>
  </div>
</div>

<h2>Displays</h2>

<div class="flex flex-column gap3">
  <div class="sage-well">
    <details>
      <summary>
        <i>Dell Alienware AW2523HF 24.5" 1920&times;1080 360 Hz</i>
      </summary>
      <p>
        My main display is the
        <a href="https://www.dell.com/en-us/shop/alienware-25-gaming-monitor-aw2523hf/apd/210-bfed/monitors-monitor-accessories" class="sage-link">
          Dell Alienware AW2523HF</a>. It's a 24.5" 1920&times;1080 360 Hz display. The 360 Hz is overkill 
        for me, I just wanted a good 1080p 24" display that supported HDMI 2.0
        so that I could use high refresh rate on both my gaming PC (DisplayPort)
        and my work laptop (HDMI).
      </p>

      <p>
        I previously used a 27" 2560&times;1440 144 Hz display for about 8 
        years, but I realized that the increased pixel density made everything
        harder to read, and the size/resolution meant that maximizing any window
        felt absurdly huge, but splitting in halves felt too small.
      </p>
      <p>
        I'm a nerd about refresh rates and that previous monitor was a G-SYNC 
        compatible display I bought as an early adopter of the tech. The
        difference between 60 Hz and 120 Hz is night and day, not just for
        gaming but even basic stuff like scrolling looks so good. I've noticed a
        difference at 360 Hz for moving my mouse cursor, but I haven't played
        any games that can take advantage of it yet. I should boot up DOOM
        (2016) at some point and try out the different refresh rates...
      </p>
    </details>
  </div>

  <div class="sage-well">
    <details>
      <summary>
        <i>ASUS VS239H-P 23" 1920&times;1080 60 Hz</i>
      </summary>
      <p>
        I also have an ancient (2013) screen in portrait mode to the left of my 
        main monitor. I only use this to house Discord and video game guides
        while I play games on my other monitor. I do not multitask with it. It
        makes my neck hurt staring to the side, so I try to minimize it.
      </p>
    </details>
  </div>
</div>

<h2>Audio</h2>

<div class="flex flex-column gap3">
  <div class="sage-well">
    <details>
      <summary>
        <i>Koss KPH40 on-ear headphones</i>
      </summary>
      <p>
        I use the
        <a href="https://koss.com/products/kph40-utility" class="sage-link">Koss KPH40</a>
        as my all day headphone for video calls, music, and gaming. I have 
        modded them with the
        <a href="https://www.yaxi.jp/onlineshop/" class="sage-link">Yaxi Porta Pro earpads</a>, and a 3.5mm audio cable extension.
      </p>

      <p>
        They are lighter than a feather, never fall off, barely put any pressure 
        on my head, look nice, are durable, and sound pretty good! And that's
        all for $40 USD on Amazon if you're lucky enough to get them on sale.
        The replacement pads were $10 USD.
      </p>

      <p>
        Given that they're on-ear headphones, I can hear myself perfectly for 
        work calls or voice chat while gaming. They sound incredible for music!
        Maybe for gaming you could want a bit of high end for clarity, but
        they're very easy listening. My only audio complaint is that certain
        deeper frequencies when speaking can cause a strange rattle in the
        driver that's distracting. I never notice it in music though.
      </p>
    </details>
  </div>

  <div class="sage-well">
    <details>
      <summary>
        <i>Sony SSCS3 3-way floor-standing speakers</i>
      </summary>
      <p>
        I honestly haven't used speakers with my PC in years, but I do have a 
        decent budget stereo setup for the TV downstairs: the Sony STRDH190 2-ch
        receiver and two floor-standing speakers. We don't even have a subwoofer
        any more because honestly I'm satisfied with the level of bass from what
        I have.
      </p>
    </details>
  </div>
</div>

<h2>Computers</h2>

<div class="flex flex-column gap3">
  <div class="sage-well">
    <details>
      <summary>
        <i>NZXT Player 3 (2023)</i>
      </summary>
      <p>
        A high end prebuilt gaming PC. I used to build my own PCs, but these 
        days it's not that much more money to get a good prebuilt, and it saves
        a lot of time and headache if parts arrive dead&mdash;or
        worse&mdash;crash your PC randomly.
      </p>
    </details>
  </div>

  <div class="sage-well">
    <details>
      <summary>
        <i>Apple MacBook Pro M1 16" (2021)</i>
      </summary>
      <p>
        This is my work computer. It's got a ton of computing power and 
        incredible battery life. I don't really like macOS, but other than that
        it's nice.
      </p>
    </details>
  </div>

  <div class="sage-well">
    <details>
      <summary>
        <i>Apple MacBook Pro 13" (2015)</i>
      </summary>
      <p>
        This is my personal laptop. It's so old Apple doesn't release macOS for 
        it any more. It's currently running Fedora, but I almost never use it
        since my work computer is always charged and ready to go.
      </p>
    </details>
  </div>
</div>

<h2>Software</h2>

<div class="flex flex-column gap3">
  <div class="sage-well">
    <details>
      <summary>
        <i>Visual Studio Code</i>
      </summary>
      <p>
        I was an early adopter of VS Code, back when Atom was extremely popular. 
        Atom's slow performance and constantly breaking plugin system made me
        eager to leave it. Before that I had used Sublime Text, which is the
        gold standard for fast editors in my experience. My main problem was the
        janky plugin system.
      </p>
      <p>
        Before all of that I used vim for like 8 years, but I left it behind the 
        moment I saw multi-cursor editing in Sublime Text. I'm happy to be
        living in the modern era now lol.
      </p>
    </details>
  </div>

  <div class="sage-well">
    <details>
      <summary>
        <i>Firefox</i>
      </summary>
      <p>
        Ever since Firefox showed up and introduced tabs and fast web browsing, 
        I've been a huge fan. There was a while where Firefox was notably slower
        than Chrome, and I jumped ship. After they fixed performance issues I
        came back. I love that they're privacy focused and really care about
        users in a way that Google never will.
      </p>
    </details>
  </div>

  <div class="sage-well">
    <details>
      <summary>
        <i>Discord</i>
      </summary>
      <p>
        I was an early adopter of Discord, just a few months after it was 
        released. Even back then, it was obvious that using Slack for non-work
        chats was not a good idea. And for voice chat across games, my gaming
        clan was using... Ventrilo, or "Vent" as everyone called it. Vent had
        (has?) some awful Windows 95-ish interface, though it did technically
        get the job done.
      </p>
      <p>
        Discord is a lot less cool now that it's ubiquitous and desperately 
        trying to squeeze money out of its audience, but it still seems like a
        relatively unchallenged tool for doing online gaming with folks.
      </p>
      <p>
        It also ends up being a de-facto global direct message app since so many 
        people have it, even if they're not gamers. Plus, the emojis are super
        fun.
      </p>
    </details>
  </div>

  <div class="sage-well">
    <details>
      <summary>
        <i>LINE</i>
      </summary>
      <p>
        I started using this because of some friends who use it. Honestly I 
        kinda hate it, but it's cool that it has end-to-end encryption (though
        it's not open source). I love the sticker packs and privacy, but very
        few people have it, and it's kind of horrible on desktop.
      </p>
    </details>
  </div>

  <div class="sage-well">
    <details>
      <summary>
        <i>1Password</i>
      </summary>
      <p>
        I was thrilled when 1Password went cross platform, finally letting me 
        ditch LastPass's awful user interface. I know some people are upset with
        1Password's rewrite as a universal app using web tech rather than
        maintaining separate desktop apps for each platform, but I think they've
        done a good job making it feel relatively native and snappy.
      </p>
    </details>
  </div>

  <div class="sage-well">
    <details>
      <summary>
        <i>Musicbee & Doppler</i>
      </summary>
      <p>
        Honestly I don't really love either of these, but I need to use them. 
        I'm a sicko about buying and owning actual music files (like the times
        of old! remember the iPod?). Sadly, music apps aren't very popular any
        more with music streaming dominating the landscape. Musicbee for Windows
        is obtuse but works well. Doppler for Mac is pretty polished, and the
        only music player for Mac I currently like.
      </p>
      <p>
        I have a few requirements for music apps: gapless playback, and the 
        ability to browser albums by album artist. It doesn't sound like much,
        but many players fail to have both of those features. It seems a lot of
        players are very "playlist" and "file system" focused. I usually just
        queue up a few albums I like, rather than curating songs for a playlist
        I will use again.
      </p>
    </details>
  </div>

  <div class="sage-well">
    <details>
      <summary>
        <i>Qobuz &amp; Bandcamp</i>
      </summary>
      <p>
        I love Bandcamp, but they don't usually have
        <q>big label</q>
        music. I 
        used to use iTunes or Amazon to purchase DRM free files for those, but
        their UIs are increasingly shoving
        <q>music streaming</q>
        down our 
        throats. I recently discovered Qobuz, which seems to do a good job of
        just letting you buy DRM free music files in peace.
      </p>
    </details>
  </div>

  <div class="sage-well">
    <details>
      <summary>
        <i>Aseprite</i>
      </summary>
      <p>
        Extremely cute, snappy, and functional app for making pixel art. It's so 
        fast and easy that I actually use it for general image editing too, as
        long as the files aren't too large. I also have Affinity Designer and
        Affinity Photo, but I rarely use either of them.
      </p>
    </details>
  </div>
</div>
