---
title: "Metroid"
layout: "layout-base"
theme: "shrine_metroid"
---

<article>
  <header>
    <h1>{{ title | escape }}</h1>
  </header>

  <h2>Under construction</h2>

  <figure>
    <img
      src="./assets/sm.webp"
      alt=""
      loading="eager"
      width="800"
      height="583"
    />
    <figcaption>Super Metroid for SNES</figcaption>
  </figure>

  <figure>
    <img
      src="./assets/zm-cover.webp"
      alt=""
      loading="eager"
      width="800"
      height="810"
    />
    <figcaption>Metroid: Zero Mission for Game Boy Advance</figcaption>
  </figure>

  <figure>
    <img
      src="./assets/zm-chozo.webp"
      alt=""
      loading="lazy"
      width="1080"
      height="720"
    />
    <figcaption>A Chozo statue</figcaption>
  </figure>

  <figure>
    <img
      src="./assets/zm-bug.webp"
      alt=""
      loading="lazy"
      width="1080"
      height="720"
    />
    <figcaption>Some kind of weird bug</figcaption>
  </figure>
</article>
