.button {
  font: inherit;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  font-weight: 600;
  letter-spacing: var(--tracking-label);
  padding: 8px 16px;
  border-radius: var(--rounded-pill);
  text-decoration-line: none;
  text-decoration-thickness: var(--link-underline-thickness);
  line-height: 1.25;

  background: var(--theme-button-bg);
  background-origin: border-box;
  color: var(--theme-button-text);

  border: 2px solid transparent;

  &:hover:where(:not(:active)) {
    background-image: radial-gradient(var(--theme-hover));
  }

  &:active,
  &:focus-visible {
    background-image: radial-gradient(var(--theme-press));
  }

  &:focus-visible {
    outline: var(--theme-focus-outline);
    outline-offset: var(--theme-focus-outline-offset);
  }

  &:where([data-size="small"]) {
    padding: 4px 12px;
    border-radius: var(--rounded-pill);
    font-size: var(--font-size-small);
  }
}
