.button {
  font: inherit;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  font-weight: bold;
  /* font-style: italic; */
  padding: 8px 16px;
  border-radius: var(--rounded-pill);
  text-decoration-line: none;
  text-decoration-thickness: var(--link-underline-thickness);
  line-height: 1.25;
  /* border: 0; */

  background: var(--theme-button-bg);
  color: var(--theme-button-text);

  border: 2px solid transparent;
  box-shadow: var(--shadow1);
}

.button:hover {
  text-decoration-line: none;
}

.button:hover:where(:not(:active)) {
  background-image: radial-gradient(var(--theme-hover-dark));
}

.button:focus-visible {
  outline: 3px solid var(--theme-text);
  outline-offset: 3px;
  box-shadow: 0 0 0 3px var(--theme-button-text);
}

.button:where([data-size="small"]) {
  padding: 4px 8px;
  border-radius: var(--rounded-pill);
  font-size: var(--font-size-small);
}
