.infobox {
  @media (width < 40rem) {
    /* margin-inline: -16px; */
  }
}

.infobox:where(a) {
  color: var(--theme-infobox-text);
  text-decoration-line: none;

  margin-block: 16px;
  gap: 8px;

  outline-offset: -1px;

  padding: 16px;
  background: var(--theme-infobox);
  display: grid;

  border-radius: var(--rounded-large);

  /* :where(&) + & {
    border-top-left-radius: var(--rounded-small);
    border-top-right-radius: var(--rounded-small);
  }

  &:has(+ &) {
    border-bottom-left-radius: var(--rounded-small);
    border-bottom-right-radius: var(--rounded-small);
  } */

  & + & {
    margin-top: calc(var(--infobox-gap) - 16px);
  }

  &:hover:where(:not(:active)) {
    background-image: radial-gradient(var(--theme-hover));
  }

  &:active,
  &:focus-visible {
    background-image: radial-gradient(var(--theme-press));
  }

  .heading {
    margin: 0;
    font-weight: bold;
    text-wrap: balance;
    line-height: 1.25;
    color: inherit;
    text-underline-offset: var(--link-underline-offset);
  }

  .description {
    margin: 0;
  }

  &:hover {
    text-decoration-line: none;
  }

  &:focus-visible {
    outline: var(--theme-focus-outline);
    outline-offset: var(--theme-focus-outline-offset);
  }
}

.infobox:where(ul) {
  display: grid;
  gap: var(--connected-gap);
  list-style-type: none;
  padding: 0;

  position: relative;

  background: var(--theme-page-bg);
  color: inherit;

  a {
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    line-height: 1.25;
    font-size: var(--font-size-base);
    outline-offset: var(--theme-focus-outline-offset);
    text-decoration-line: none;

    &:hover:where(:not(:active)) {
      background-image: radial-gradient(var(--theme-hover));
    }

    &:active,
    &:focus-visible {
      background-image: radial-gradient(var(--theme-press));
    }
  }

  li {
    a {
      color: var(--theme-infobox-text);
      padding: 8px 16px;
      background: var(--theme-infobox);
      border-radius: var(--rounded-large);
    }
    :where(&) + & {
      a {
        border-top-left-radius: var(--rounded-small);
        border-top-right-radius: var(--rounded-small);
      }
    }

    &:has(+ &) {
      a {
        border-bottom-left-radius: var(--rounded-small);
        border-bottom-right-radius: var(--rounded-small);
      }
    }
  }
}
