.menu {
  display: grid;
  /* background: var(--theme-infobox);
  color: inherit; */
  color: var(--theme-card-text);
  background: var(--theme-card);
  border-radius: var(--rounded-large);

  > :is(a, *) {
    color: inherit;
    text-decoration-line: none;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 10px 16px;
    line-height: 1.25;

    color: var(--theme-card-text);
    background: var(--theme-card);
    /* color: var(--theme-infobox-text);
    background: var(--theme-infobox); */
    outline-offset: -2px;

    font-size: var(--font-size-base);

    border-radius: var(--rounded-large);

    :where(&) + & {
      border-top-left-radius: var(--rounded-small);
      border-top-right-radius: var(--rounded-small);
    }

    &:has(+ &) {
      border-bottom: 1px solid var(--theme-divider);
      border-image: linear-gradient(
          to right,
          transparent 0 16px,
          var(--theme-divider) 16px calc(100% - 16px),
          transparent calc(100% - 16px)
        )
        1;
      border-bottom-left-radius: var(--rounded-small);
      border-bottom-right-radius: var(--rounded-small);
    }

    &:empty {
      pointer-events: none;
    }

    &:where(:hover:not(:active)) {
      background-image: radial-gradient(var(--theme-hover-light));

      .heading {
        text-decoration-line: underline;
        text-decoration-thickness: inherit;
        color: var(--theme-text);
      }
    }

    .heading {
      margin: 0;
      font-weight: bold;
      text-wrap: balance;
      line-height: 1.25;
      color: inherit;
      text-underline-offset: var(--link-underline-offset);
    }

    .description {
      margin: 0;
      font-style: italic;
      font-size: var(--font-size-small);
    }
  }

  @media (width < 40rem) {
    /* margin-inline: -16px; */

    > * {
      &:empty {
        display: none;
      }
    }
  }

  @media (width >= 40rem) {
    > * {
      &:empty {
        display: none;
      }
    }
  }
}
