---
title: "Dragon Quest"
description: "Blah blah blah."
layout: "layout-base"
theme: "shrine_dq"
---

<article>
  <header>
    <h1>{{ title }}</h1>

    <p>{{ description }}</p>
  </header>

  <h2>Under construction</h2>
</article>
