---
title: "Etrian Odyssey"
description: "Etrian Odyssey is one of my favorite game series of all time."
layout: "layout-base"
theme: "shrine_etrian"
---

<article>
  <header>
    <h1>{{ title }}</h1>

    <p>{{ description }}</p>
  </header>

  <h2>Under construction</h2>

  <figure>
    <img src="/shrines/etrian/crusty.webp" alt="" />
    <figcaption>A super crusty image of Etrian Odyssey</figcaption>
  </figure>

  <figure>
    <img src="/shrines/etrian/eo2.webp" alt="" />
    <figcaption>Etrian Odyssey II for Nintendo DS</figcaption>
  </figure>
</article>
