<p>
  Shrines are spaces dedicated to things I love or have loved in the past. Check
  back later as I continue to update them.
</p>

<p>
  Shrines contain a mixture of art, screenshots, and words written about the
  topic.
</p>

<section class="menu">
  <a class="menu-card" href="etrian-odyssey">Etrian Odyssey</a>
  <a class="menu-card" href="pokemon">Pokémon</a>
  <a class="menu-card" href="shin-megami-tensei">Shin Megami Tensei</a>
  <a class="menu-card" href="gnosia">Gnosia</a>
  <a class="menu-card" href="dragon-quest">Dragon Quest</a>
  <a class="menu-card" href="castlevania">Castlevania</a>
  <a class="menu-card" href="metroid">Metroid</a>
</section>
