---
title: "Pokémon"
description: "Blah blah blah."
layout: "layout-base"
theme: "shrine_pkmn"
---

<article>
  <header>
    <h1>{{ title }}</h1>

    <p>{{ description }}</p>
  </header>

  <h2>Under construction</h2>

  <figure>
    <img src="/shrines/pkmn/pkmn-blue.webp" alt="" />
    <figcaption>Pokémon Blue Version for Game Boy</figcaption>
  </figure>
</article>
