---
title: "Shin Megami Tensei"
description: "Blah blah blah."
layout: "layout-base"
theme: "shrine-smt"
---

<article>
  <header>
    <h1>{{ title }}</h1>

    <p>{{ description }}</p>
  </header>

  <h2>Under construction</h2>

  <figure>
    <img src="/shrines/smt/smtvv.webp" alt="" />
    <figcaption>Shin Megami Tensei V: Vengeance</figcaption>
  </figure>
</article>
