<footer class="footer" id="footer">
  <div>
    <small>&copy; 2012&ndash;{{ "now" | formatDate: "yyyy" }} wavebeem</small>
  </div>
  <div>
    <a href="#" class="top">Back to top &uarr;</a>
  </div>
</footer>
