<footer class="footer">
  <nav>
    <menu>
      <li><a href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/art/">Art</a></li>
      <li><a href="/projects/">Projects</a></li>
      <li><a href="/toybox/">Toybox</a></li>
      <li><a href="/shrines/">Shrines</a></li>
      <li><a href="/uses/">Things I use</a></li>
      <li><a href="/credits/">Credits</a></li>
      <li><a href="/past-designs/">Past designs</a></li>
      <li><a href="/resume/">Resume</a></li>
      <li><a href="/links/">Links</a></li>
      <li><a href="/contact/">Contact info</a></li>
    </menu>
  </nav>
  <div>&copy; 2012&ndash;{{ "now" | formatDate: "yyyy" }} wavebeem</div>
</footer>
