<footer>
  <div aria-hidden="true" role="separator"></div>
  <div>
    &copy; {{ "now" | formatDate : "yyyy" }} Sage Fennel
  </div>
  <div>
    <a href="#" class="button"><strong>Back to top</strong></a>
  </div>
</footer>
