<div class="decorative-divider"></div>
<footer>
  <nav>
    {% for item in menu.all %}
    <a href="{{ item.url }}">{{ item.title }}</a>
    {% endfor %}
  </nav>

  <br />

  <div>
    <small
      >&copy; {{ "now" | formatDate : "yyyy" }} Sage Fennel</small
    >
  </div>
</footer>
