<footer class="footer" id="footer">
  <div>
    <strong>Wallpaper:</strong>
    <a href="?theme=dots1">Dots 1</a>&nbsp;&blacklozenge;
    <a href="?theme=dots2">Dots 2</a>&nbsp;&blacklozenge;
    <a href="?theme=stripes1">Stripes 1</a>&nbsp;&blacklozenge;
    <a href="?theme=stripes2">Stripes 2</a>&nbsp;&blacklozenge;
    <a href="?theme=graph">Graph</a>&nbsp;&blacklozenge;
    <a href="?theme=lozenge">Lozenge</a>&nbsp;&blacklozenge;
    <a href=".">Default</a>
  </div>
  <div>
    <small>&copy; 2012&ndash;{{ "now" | formatDate: "yyyy" }} wavebeem</small>
  </div>
</footer>
