<footer class="footer" id="footer">
  <div>
    <small>&copy; 2012&ndash;{{ buildDate.object | formatDate: "year" }} wavebeem</small>
  </div>
  <div>
    <a href="#" class="button" data-variant="secondary">Top</a>
    <a href="/menu/" class="button" data-variant="secondary">Menu</a>
  </div>
</footer>
