<header class="header">
  <div class="logo-container">
    <span class="logo">
      <a href="/">wavebeem</a>
      <span>*-*-</span>
    </span>
    <details class="hamburger">
      <summary class="button">Menu</summary>
    </details>
  </div>
  <nav>
    <menu>
      <li><a href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/blog/">Blog</a></li>
    </menu>
  </nav>
</header>
