<header class="header">
  <div class="logo-container">
    <span class="logo">
      <a href="/">wavebeem</a>
      <span class="decoration">*-*-</span>
    </span>
  </div>
  {% render "partials/nav" %}
</header>
