<header class="header screen-only">
  <div class="content-column">
    <div class="flex">
      <a href="/" class="logo sage-link">wavebeem</a>
    </div>
    <nav class="nav">
      {% for item in menu.main %}
      <a href="{{ item.url }}">
        {{ item.title }}
      </a>
      {% endfor %}
    </nav>
  </div>
</header>
<div class="slime"></div>
