<header class="header">
  <div class="header-content">
    <span class="logo">
      <a href="/" role="presentation">
        {% render "partials/logo" %}
      </a>
    </span>
    {% render "partials/nav" %}
  </div>
</header>
