<header class="header screen-only">
  <div class="logo-container">
    <span class="logo">
      <a href="/">wavebeem</a>
      <span class="logo-dingus">-*-*</span>
    </span>
  </div>
</header>
<div class="header2"></div>
