<header class="header screen-only">
  <div class="logo-container">
    <a href="/" class="logo">wavebeem</a>
    <details class="hamburger">
      <summary class="button">Menu</summary>
    </details>
  </div>
</header>
