{% if page.url == "/menu/" %}
  {% assign menu_url = "/" %}
  {% assign menu_icon = "partials/icon-close" %}
{% else %}
  {% assign menu_url = "/menu/" %}
  {% assign menu_icon = "partials/icon-menu" %}
{% endif %}

<header class="header">
  <div class="header-content">
    <span class="logo">
      <a href="/" role="presentation">
        {% include "partials/logo" %}
      </a>
    </span>
    <nav class="nav">
      {% if page.url == "/menu/" %}
        <a href="/" class="hamburger" data-action="back"
          >{% include "partials/icon-close" %}</a
        >
      {% else %}
        <a href="/menu/" class="hamburger" data-action=""
          >{% include "partials/icon-menu" %}</a
        >
      {% endif %}
    </nav>
  </div>
</header>
