<header class="header">
  <div class="header-content">
    <div class="logo-container">
      <span class="logo">
        <a href="/" role="presentation">wavebeem</a>
      </span>
    </div>
    {% render "partials/nav" %}
  </div>
</header>
