<header class="header">
  <div class="logo-container">
    <span class="logo">
      <a href="/">wavebeem</a>
      <span>*-*-</span>
    </span>
    <details class="hamburger">
      <summary class="button">Menu</summary>
    </details>
  </div>
</header>
