<svg
  xmlns="http://www.w3.org/2000/svg"
  width="310"
  height="36"
  viewBox="0 0 310 36"
  role="img"
>
  <title>wavebeem</title>
  <path
    d="M.443-.7H.151l-.103.384c-.054.185.064.323.229.323a.452.452 0 0 0 .402-.305L.789-.7H.711l-.109.393a.177.177 0 0 1-.166.123c-.078 0-.114-.059-.097-.123L.443-.7Zm.021.708c.072-.036.151-.075.235-.233.058.085.224.031.255-.083L1.059-.7h.083l-.107.393C1.002-.194.868.011.619.009L.464.008Z"
    style="fill-rule: nonzero"
    transform="translate(-1.751 35.548) scale(50.34864)"
  />
  <path
    d="M.452-.705c-.215 0-.336.138-.382.308l-.02.074L-.036 0h.294l.104-.389A.171.171 0 0 1 .529-.52c.067 0 .103.055.089.124-.013.078-.093.103-.163.104l-.053.001a.023.023 0 0 0-.024.024c0 .013.01.024.024.024.043 0 .127-.005.143.018.012.014.015.024.005.062L.509 0h.063l.11-.397C.729-.568.616-.705.452-.705Z"
    style="fill-rule: nonzero"
    transform="translate(51.165 35.548) scale(50.34864)"
  />
  <path
    d="M-.037 0 .05-.316.153-.7h.292l-.104.393c-.017.064.019.123.097.123.087 0 .158-.068.171-.123l.107-.394h.071l-.11.403A.435.435 0 0 1 .285 0h-.322Z"
    style="fill-rule: nonzero"
    transform="translate(85.554 35.548) scale(50.34864)"
  />
  <path
    d="m.555 0 .057-.191H.457C.412-.191.311-.23.364-.368.415-.5.512-.511.545-.504c.029.006.075.072-.099.195.116-.02.233-.059.255-.183C.72-.597.632-.706.465-.706c-.072 0-.321.033-.418.339C-.054-.049.194 0 .262 0h.293Z"
    style="fill-rule: nonzero"
    transform="translate(121.1 35.548) scale(50.34864)"
  />
  <path
    d="m-.036 0 .187-.702h.302c.132-.005.277.103.231.29-.046.187-.219.203-.369.203l-.036.128h.184c.073 0 .178-.066.13-.15a.114.114 0 0 0 .054-.044C.684-.244.718-.019.403 0h-.439Zm.373-.291.136.001c.123.003.224-.176.112-.219a.177.177 0 0 0-.222.119l-.026.099Z"
    style="fill-rule: nonzero"
    transform="translate(155.186 35.548) scale(50.34864)"
  />
  <path
    d="m.555 0 .057-.191H.457C.412-.191.311-.23.364-.368.415-.5.512-.511.545-.504c.029.006.075.072-.099.195.116-.02.233-.059.255-.183C.72-.597.632-.706.465-.706c-.072 0-.321.033-.418.339C-.054-.049.194 0 .262 0h.293Z"
    style="fill-rule: nonzero"
    transform="translate(190.178 35.548) scale(50.34864)"
  />
  <path
    d="m.555 0 .057-.191H.457C.412-.191.311-.23.364-.368.415-.5.512-.511.545-.504c.029.006.075.072-.099.195.116-.02.233-.059.255-.183C.72-.597.632-.706.465-.706c-.072 0-.321.033-.418.339C-.054-.049.194 0 .262 0h.293Z"
    style="fill-rule: nonzero"
    transform="translate(223.76 35.548) scale(50.34864)"
  />
  <path
    d="M.752-.492a.27.27 0 0 0-.086-.186c.159-.065.411 0 .349.283L.904 0H.825l.107-.39C.96-.468.884-.567.752-.492ZM.155-.701-.037 0h.288l.104-.389a.179.179 0 0 1 .17-.127c.098 0 .1.088.085.143l-.102.372h.08l.11-.398C.731-.489.686-.703.485-.702l-.33.001Z"
    style="fill-rule: nonzero"
    transform="translate(257.847 35.548) scale(50.34864)"
  />
</svg>
