<nav class="nav">
  <menu>
    <li><a href="/">Home</a></li>
    <li><a href="/projects/">Projects</a></li>
    <li><a href="/blog/">Blog</a></li>
    <li><a href="/art/">Art</a></li>
    <li><a href="/pages/">Pages</a></li>
  </menu>
</nav>
