<nav class="nav">
  <menu>
    <li><a class="button" href="/">Home</a></li>
    <li><a class="button" href="/about/">About</a></li>
    <li><a class="button" href="/projects/">Projects</a></li>
    <li><a class="button" href="/blog/">Blog</a></li>
    <li><a class="button" href="/art/">Art</a></li>
    <li><a class="button" href="/pages/">More</a></li>
  </menu>
</nav>
